Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update explanations of packages
  docker/dev_env/Dockerfile
Due: none

Move k6 RPM inside the `if` block
  docker/dev_env/Dockerfile
Due: none

Reenable Vale outside of `ov`
  .vale/.gitignore
  .vale/download.sh
  .vale/justfile
Due: vale

Make Git hooks executable
  docker/dev_env/hooks/pre-commit
  docker/dev_env/hooks/pre-push
Due: none

Prevent path conflicts between linting inside and outside `ov`
  .vale/.gitignore
  .vale/download.sh
  .vale/justfile
Due: vale

Streamline download script
  .vale/download.sh
Due: vale

Update `shfmt` hook to remove warning
  .pre-commit-config.yaml
Due: none

Updated notify_slack method
  catalog/dags/common/slack.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/maintenance/rotate_envfiles.py
Due: none

Ran lint
  catalog/dags/common/slack.py
Due: none

Remove dag_id
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
Due: none

Publish changelog for api-2024.12.07.04.18.28
  documentation/changelogs/api/2024.12.07.04.18.28.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.12.07.04.18.28
  documentation/changelogs/frontend/2024.12.07.04.18.28.md
Due: fix-console-code-block, vale

Launch the dark mode
  frontend/feat/feature-flags.json
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Update frontend/feat/feature-flags.json
  frontend/feat/feature-flags.json
Due: i18n, types, eslint, test:unit

changes for 'openverse' string literal
  frontend/i18n/data/en.json5
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

Use ov in CI + CD
  .github/actions/setup-env/action.yml
  .github/workflows/ci_cd.yml
Due: none

Ensure NPM cache exists and has mode 777
  docker/dev_env/Dockerfile
Due: none

Move npm cache to a temp directory
  docker/dev_env/Dockerfile
Due: none

Run ov as root in CI
  docker/dev_env/Dockerfile
  docker/dev_env/run.sh
Due: none

Do not set user in CI
  docker/dev_env/run.sh
Due: none

reverting changes
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/i18n/data/en.json5
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/src/pages/feedback.vue
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.12.10.14.47.56
  documentation/changelogs/frontend/2024.12.10.14.47.56.md
Due: fix-console-code-block, vale

Add psycopg[pool] to api
  api/pdm.lock
  api/pyproject.toml
Due: none

Use postgres connection pool with default options
  api/conf/settings/databases.py
  api/pdm.lock
Due: none

Set up Sentry profiling
  api/conf/settings/sentry.py
Due: none

Add variables to env.template
  api/env.template
Due: none

Make LOG_LEVEL env var more specific to Django
  api/conf/settings/logging.py
  api/env.template
Due: none

Update other variables
  api/conf/settings/logging.py
  api/conf/settings/security.py
  api/env.template
Due: none

Revert changes
  docker/dev_env/run.sh
Due: none

Remove redundant 'precommit' step
  .github/workflows/ci_cd.yml
Due: none

Bust npm cache before attempting to lint
  .github/workflows/ci_cd.yml
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
