Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Add Storybook snapshots
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
Due: i18n, types, test:unit

Update frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
Due: i18n, types, test:unit

Use new labels in tests
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, test:unit

Revert unrelated change
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
Due: i18n, types, test:unit

Make VCloseButton borderless
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
Due: i18n, types, test:unit

Use correct label for test
  frontend/test/playwright/e2e/header-internal.spec.ts
Due: i18n, types, test:unit

Use close-small and close icons
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
Due: i18n, types, test:unit

Remove extra variants and fix black/light buttons
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
Due: i18n, types, test:unit

Re-add `filled-transparent` variant
  frontend/src/components/VButton.vue
  frontend/src/types/button.ts
Due: i18n, types, test:unit

Show focus shadow only on focus-visible
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Update sizes
  frontend/src/components/VBanner/VNotificationBanner.vue
Due: i18n, types, test:unit

Make the `small` size for close icon the default
  frontend/src/components/VCloseButton.vue
Due: i18n, types, test:unit

Pass the size parameter to VIconButton
  frontend/src/components/VCloseButton.vue
Due: i18n, types, test:unit

Add VCloseButton to tsconfig.json
  frontend/tsconfig.json
Due: i18n, types, test:unit

Accept TranslateResult as label prop
  frontend/src/components/VBanner/VMigrationNotice.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
Due: i18n, types, test:unit

Accept TranslateResult as label prop
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
Due: i18n, types, test:unit

Update pre-commit deps, pin actionlint
  .pre-commit-config.yaml
  automations/python/issues_with_prs.py
  documentation/_ext/link_issues.py
  templates/.pre-commit-config.yaml.jinja
Due: render-precommit, render-prettier, render-github

Add a Storybook story
  frontend/src/components/VCloseButton.vue
  frontend/src/components/meta/VCloseButton.stories.mdx
Due: i18n, types, test:unit

Use `filled-dark` `small` VButton
  frontend/src/components/VCopyButton.vue
Due: i18n, types, test:unit

Delete unused VSearchTypeRadio.vue
  frontend/src/components/VContentSwitcher/VSearchTypeRadio.vue
  frontend/tsconfig.json
Due: i18n, types, test:unit

Fix vertical shrinking and font size
  frontend/src/components/VCopyButton.vue
Due: i18n, types, test:unit

Update pages snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Due: i18n, types, test:unit

Update snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-resting-linux.png
Due: i18n, types, test:unit

Build and print message if tests have failed
  .github/workflows/ci_cd.yml
Due: none

Refine the message and remove line breaks
  .github/workflows/ci_cd.yml
Due: none

Add an implementation plan template
  docs/projects/templates/implementation-plan.md
Due: none

Add infrastructure section to dependencies
  docs/projects/templates/implementation-plan.md
Due: none

Lint
  docs/projects/templates/implementation-plan.md
Due: none

Add a few more suggested sections
  docs/projects/templates/implementation-plan.md
Due: none

Correct link to decision making docs in suggested GH blurb
  documentation/reference/decision_making/additional_practices.md
Due: none

Add current round blurb to project proposal PR template
  .github/PULL_REQUEST_TEMPLATE/project_proposal.md
Due: none

Fix typos, change pseudo-interpolation characters for editor happiness
  .github/PULL_REQUEST_TEMPLATE/project_proposal.md
Due: none
