Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update dependency apache-airflow to v2.10.4
  catalog/requirements-prod.txt
Due: none

Update dependency pook to v2.1.3
  catalog/requirements-dev.txt
Due: none

Update dependency @nuxtjs/storybook to v8.3.3
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.49.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @storybook-vue/nuxt to v8.3.3
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency nock to v14.0.0-beta.19
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency @types/k6 to ^0.54.0
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update workflows
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update .github/workflows/pr_label_check.yml
  .github/workflows/pr_label_check.yml
Due: none

Update pnpm to v9.15.3
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Update Nuxt version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.7.2
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update related packages
  .github/renovate.json5
  frontend/package.json
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/test/playwright/utils/test.ts
  package.json
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/index.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Update lock file
  pnpm-lock.yaml
Due: none

Update dependency node-html-parser to v7
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Remove the package
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Use CSS for colors of VWordPress and VHomeLink
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VHeader/meta/VHomeLink.stories.ts
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/meta/Focus.stories.js
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Lint
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VTabs/VTab.vue
Due: i18n, types, eslint, test:unit

Fix modal background and uncommon ring color
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VModal/VModalContent.vue
Due: i18n, types, eslint, test:unit

Lint
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VTabs/VTab.vue
Due: i18n, types, eslint, test:unit

Re-add focus
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Fix missing focus-visible:
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Update i18n packages and group them in renovate config
  .github/renovate.json5
  frontend/package.json
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pre-commit hook renovatebot/pre-commit-hooks to v39.91.3
  .pre-commit-config.yaml
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
