Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Add dag for deleting records
  catalog/dags/database/delete_records/constants.py
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/database/delete_records/delete_records_dag.py
Due: none

Add deleted media tables
  docker/upstream_db/0003_openledger_image_schema.sql
  docker/upstream_db/0006_openledger_audio_schema.sql
Due: none

Add tests
  catalog/tests/dags/database/test_batched_update.py
  catalog/tests/dags/database/test_delete_records.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/test_utils/sql.py
Due: none

Set up new columns
  catalog/dags/common/storage/columns.py
  catalog/dags/common/storage/db_columns.py
Due: none

Update dag docs
  documentation/catalog/reference/DAGs.md
Due: none

Remove unnecessary retries
  catalog/dags/database/delete_records/delete_records_dag.py
Due: none

Pull RETURN_ROW_COUNT out into utility
  catalog/dags/common/loader/sql.py
  catalog/dags/common/sql.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/constants.py
  catalog/dags/database/delete_records/constants.py
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/maintenance/add_license_url.py
  catalog/dags/retired/database/terminate_long_queries_workflow.py
Due: none

Clean up comments
  catalog/dags/database/delete_records/delete_records.py
  catalog/dags/database/delete_records/delete_records_dag.py
Due: none

Add a unit test to verify the log output
  api/api/controllers/search_controller.py
  api/test/unit/controllers/test_search_controller.py
Due: none

Simplify table creation
  docker/upstream_db/0003_openledger_image_schema.sql
  docker/upstream_db/0006_openledger_audio_schema.sql
Due: none

Initial setup for Xeno-Canto provider ingestion script
  catalog/dags/common/loader/provider_details.py
  catalog/dags/providers/provider_api_scripts/xeno_canto.py
  catalog/tests/dags/providers/provider_api_scripts/resources/xeno_canto/success_response.json
  catalog/tests/dags/providers/provider_api_scripts/test_xeno_canto.py
Due: none

Issue_3268 resolved
  frontend/src/components/VSkeleton/VGridSkeleton.vue
Due: i18n, types, eslint, test:unit

Remove this from VGridSkeleton props default
  frontend/src/components/VSkeleton/VGridSkeleton.vue
Due: i18n, types, eslint, test:unit

Update dependency axios to v1 [SECURITY]
  automations/js/package.json
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add provider workflow
  catalog/dags/providers/provider_workflows.py
Due: none

Query by license
  catalog/dags/providers/provider_api_scripts/xeno_canto.py
Due: none

Configure the number of proxies to fix anon rate limiting
  api/conf/settings/rest_framework.py
Due: none

Lowercase media tags in MediaStore
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_media.py
Due: none

Update api/conf/settings/rest_framework.py
  api/conf/settings/rest_framework.py
Due: none

Fix jest build for axios
  frontend/jest.config.js
Due: i18n, types, eslint, test:unit

Fix axios import for vue-server-renderer
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Update frontend/src/components/VSkeleton/VGridSkeleton.vue
  frontend/src/components/VSkeleton/VGridSkeleton.vue
Due: i18n, types, eslint, test:unit

Add missing docstring and refactor use of `getattr`
  api/api/controllers/search_controller.py
  api/api/views/media_views.py
Due: none

Update packages/eslint-plugin/src/configs/vue.ts
  packages/eslint-plugin/src/configs/vue.ts
Due: types, eslint, test:unit

Enable some Vue 3 Eslint rules
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/VContentSwitcher/VSearchTypeItem.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHideButton.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/test/unit/setup.js
  packages/eslint-plugin/src/configs/vue.ts
Due: i18n, types, eslint, test:unit

Use the `keyword` field for tags in related query
  api/api/controllers/elasticsearch/related.py
  api/test/unit/controllers/elasticsearch/test_related.py
Due: none

Fix global player border radius
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: i18n, types, eslint, test:unit

Update unit tests
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

Replace the border with a ring
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: i18n, types, eslint, test:unit

Make the `layout` a required prop for `VAudioTrack`
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Update global audio snapshots
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
Due: i18n, types, test:unit
