Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Only specify major version for post-v1 actions
  .github/workflows/ci_cd.yml
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Due: none

Only specify major version for post-v1 actions
  .github/workflows/renovate.yml
Due: none

Update dependency vue-tsc to v2.1.4
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v8.15.0
  docker-compose.yml
Due: none

Add handling for OS color mode to the composable
  frontend/src/composables/use-dark-mode.ts
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Use computed props from `useDarkMode`
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Fix types
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.09.01.19.19.29
  documentation/changelogs/frontend/2024.09.01.19.19.29.md
Due: fix-console-code-block, vale

Rename REKOGNITION_PROVIDER variable
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/constants.py
Due: none

Record total failed, raise exception on systematic issues
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/types.py
  catalog/tests/dags/data_augmentation/rekognition/test_add_rekognition_labels.py
Due: none

Make documentation less vague
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  documentation/catalog/reference/DAGs.md
Due: fix-console-code-block, vale

Increase Science Museum backoff timeout from 2 minutes to 30 minutes
  catalog/dags/providers/provider_api_scripts/science_museum.py
Due: none

Added 90% ES CPU alarms to the list of those disabled for the data refreshed (Issue #4826)
  catalog/dags/common/cloudwatch.py
Due: none

Pin the pinia versions to previously-used ones
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add type augmentations
  frontend/src/composables/use-api-client.ts
  frontend/src/pages/search.vue
  frontend/src/plugins/errors.ts
  frontend/typings/extend.d.ts
  frontend/typings/nuxt__types/index.d.ts
Due: i18n, types, eslint, test:unit

Revert "Add type augmentations"
  frontend/src/composables/use-api-client.ts
  frontend/src/pages/search.vue
  frontend/src/plugins/errors.ts
  frontend/typings/extend.d.ts
  frontend/typings/nuxt__types/index.d.ts
Due: i18n, types, eslint, test:unit

Revert the Nuxt 3 updates
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/server/plugins/sentry.ts
  frontend/server/routes/healthcheck.ts
  frontend/server/utils/logger.ts
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  frontend/test/playwright/e2e/healthcheck.spec.ts
  frontend/typings/nuxt__types/index.d.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Revert dependency updates
  frontend/package.json
  frontend/test/locales/valid-locales.json
  frontend/typings/nuxt__types/index.d.ts
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add the healthcheck e2e test
  frontend/test/playwright/e2e/healthcheck.spec.ts
Due: i18n, types, eslint, test:unit

Use the same version of vue-tsc
  package.json
  pnpm-lock.yaml
Due: none

Publish changelog for frontend-2024.09.04.18.01.14
  documentation/changelogs/frontend/2024.09.04.18.01.14.md
Due: fix-console-code-block, vale

Fix alarm name
  catalog/dags/common/cloudwatch.py
Due: none

Publish changelog for catalog-2024.09.04.19.31.19
  documentation/changelogs/catalog/2024.09.04.19.31.19.md
Due: fix-console-code-block, vale

Move instantiation of single-result store instance outside of computed
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: i18n, types, eslint, test:unit

Fix frontend memory leak
  frontend/src/stores/ui.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
  utilities/load_testing/Dockerfile
Due: i18n, types, eslint, test:unit

Remove retired DAGs
  catalog/dags/retired/README.md
  catalog/dags/retired/__init__.py
  catalog/dags/retired/cleaner_workflow.py
  catalog/dags/retired/common/etl/__init__.py
  catalog/dags/retired/common/etl/bootstrap/config-py27.sh
  catalog/dags/retired/common/etl/scripts/ExtractCCLinks.py
  catalog/dags/retired/common/etl/scripts/__init__.py
  catalog/dags/retired/common/ingestion_column.py
  catalog/dags/retired/common/loader/sql.py
  catalog/dags/retired/common/pg_cleaner.py
  catalog/dags/retired/common_api_workflows.py
  catalog/dags/retired/commoncrawl/commoncrawl_etl.py
  catalog/dags/retired/commoncrawl/commoncrawl_scripts/commoncrawl_s3_syncer/SyncImageProviders.py
  catalog/dags/retired/commoncrawl/commoncrawl_scripts/scripts/merge_cc_tags.py
  catalog/dags/retired/commoncrawl/commoncrawl_utils.py
  catalog/dags/retired/commoncrawl/sync_commoncrawl_workflow.py
  catalog/dags/retired/database/image_expiration_workflow.py
  catalog/dags/retired/database/loader_workflow.py
  catalog/dags/retired/database/terminate_long_queries_workflow.py
  catalog/dags/retired/fix_phylopic_foreign_identifier.py
  catalog/dags/retired/providers/provider_api_scripts/modules/__init__.py
  catalog/dags/retired/providers/provider_api_scripts/modules/etlMods.py
  catalog/dags/retired/providers/provider_api_scripts/thingiverse.py
  catalog/dags/retired/providers/provider_api_scripts/walters.py
  catalog/dags/retired/update_workflows/__init__.py
  catalog/dags/retired/update_workflows/europeana_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/flickr_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/smithsonian_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/update_sql.py
Due: none

Remove or stabilise references to retired DAGs
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .pre-commit-config.yaml
  catalog/dags/.airflowignore
  catalog/utilities/media_props_gen/docs/media_props.md
  documentation/catalog/guides/quickstart.md
  documentation/catalog/reference/index.md
  documentation/catalog/reference/retired.md
  documentation/meta/media_properties/catalog.md
  pyproject.toml
Due: fix-console-code-block, vale

Update to Vale 3 and refactor setup in light of ov
  .vale/.gitignore
  .vale/.vale.ini
  .vale/Dockerfile
  .vale/README.md
  .vale/justfile
  .vale/pdm.lock
  .vale/pyproject.toml
  .vale/styles/Vocab/Openverse/accept.txt
  .vale/styles/config/vocabularies/Openverse/accept.txt
  documentation/meta/decision_making/index.md
Due: fix-console-code-block, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
