Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Use generic service_url variable for frontend scenarios
  .github/workflows/ci_cd.yml
  packages/js/k6/src/frontend/constants.ts
Due: types, eslint, test:unit

Remove testing input overrides
  .github/workflows/k6.yml
Due: none

Add step to trigger load test with staging deploy
  .github/workflows/ci_cd.yml
Due: none

Update storybook and pin nuxt module version
  frontend/.storybook/main.ts
  frontend/nuxt.config.ts
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Replace @openverse/eslint-plugin
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency @nuxtjs/sitemap to v6
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix WP Photo Directory DAG
  catalog/dags/providers/provider_api_scripts/wordpress.py
Due: none

Logging format changes
  catalog/dags/maintenance/rotate_envfiles.py
Due: none

Update tests
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Due: none

Revert changes to the top of search layout
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit

Make tests wait for rendering
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Due: i18n, types, eslint, test:unit

Update image snapshots
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-light-linux.png
Due: i18n, types, test:unit

Update the focus-bold-filled snapshot
  frontend/test/storybook/visual-regression/focus.spec.ts-snapshots/focus-bold-filled-dark-linux.png
Due: i18n, types, test:unit

Fix image and audio result focus rings
  frontend/.storybook/decorators/with-theme.ts
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.ts
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/constants/z-indices.ts
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-rtl-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xl-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-light-linux.png
Due: i18n, types, eslint, test:unit

Fix focus ring being cut off
  frontend/src/layouts/search-layout.vue
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Fix focus-bold-fixed
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/meta/Focus.stories.js
  frontend/src/styles/tailwind.css
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.10.14.15.38.39
  documentation/changelogs/api/2024.10.14.15.38.39.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.10.14.15.38.39
  documentation/changelogs/frontend/2024.10.14.15.38.39.md
Due: fix-console-code-block, vale

Raise an error if a non-dated provider ingests 0 records
  catalog/dags/common/loader/reporting.py
  catalog/dags/providers/provider_dag_factory.py
Due: none

Update and add tests
  catalog/tests/dags/common/loader/test_reporting.py
Due: none

Correctly set locale `language` property
  frontend/nuxt.config.ts
  frontend/src/locales/scripts/get-validated-locales.js
Due: i18n, types, eslint, test:unit

Fix the page links
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VWordPressLink.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-hovered-dark-linux.png
Due: i18n, types, test:unit

Fix link focus rings
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VLink.vue
  frontend/src/error.vue
  frontend/src/styles/accent.css
Due: i18n, types, eslint, test:unit

Fix focus-slim-offset offset color
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Remove obsolete cache invalidation code from get_sources function
  api/api/controllers/search_controller.py
Due: none

Update the text area colors
  frontend/src/components/VContentReport/VReportDescForm.vue
Due: i18n, types, eslint, test:unit

Add disabled styles
  frontend/src/components/VButton.vue
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
