Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update Python and fix warnings
  documentation/pdm.lock
  documentation/pyproject.toml
Due: none

Update dependency npm-run-all2 to v7
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Migrate config .github/renovate.json5
  .github/renovate.json5
Due: none

Fix references
  documentation/projects/proposals/monitoring/20220307-project_proposal.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
Due: fix-console-code-block, vale

Update .github/renovate.json5
  .github/renovate.json5
Due: none

Update dependency postcss-focus-visible to v10
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update workflows
  .github/workflows/ci_cd.yml
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
  .pre-commit-config.yaml
Due: none

Add workflow to run Playwright smoketests in CI
  .github/workflows/ci_cd.yml
  .github/workflows/playwright_deployment_smoketest.yml
Due: none

Remove testing code for new workflow
  .github/workflows/playwright_deployment_smoketest.yml
Due: none

Update dependency @rollup/plugin-commonjs to v28
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Drop bespoke time-freezing fixture and adopt FreezeGun
  catalog/requirements-dev.txt
  catalog/tests/dags/conftest.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
Due: none

Update node to v.22
  package.json
Due: none

Update dependency @rollup/plugin-typescript to v12
  packages/js/api-client/package.json
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix import order
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
Due: none

Create env files from templates in a change-preserving way
  justfile
Due: none

Update workflows
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Publish changelog for frontend-2024.10.28.15.42.58
  documentation/changelogs/frontend/2024.10.28.15.42.58.md
Due: fix-console-code-block, vale

Update wait_for_worker checks to check instance is running and reachable
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/tests/dags/data_refresh/test_distributed_reindex.py
Due: none

Update dependency vue-tsc to v2.1.8
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix linting: correct type and a workaround
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
Due: i18n, types, eslint, test:unit

Update docker.io/postgres Docker tag to v13.16
  docker-compose.yml
Due: none

Update docker.io/postgres Docker tag to v17
  docker-compose.yml
Due: none

Update packages that require rust
  api/pdm.lock
Due: none

Revert unnecessary updates
  api/pdm.lock
  api/pyproject.toml
Due: none

Address code review comments
  api/pdm.lock
  api/pyproject.toml
Due: none
