Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update dependency @types/k6 to ^0.54.0
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Close old db connections after getting thumbnails
  api/api/utils/image_proxy/__init__.py
Due: none

Update documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
  documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
Due: fix-console-code-block, vale

Publish changelog for api-2025.01.14.14.57.35
  documentation/changelogs/api/2025.01.14.14.57.35.md
Due: fix-console-code-block, vale

Update api/conf/settings/databases.py
  api/conf/settings/databases.py
Due: none

Add Django connection pools feature
  api/conf/settings/databases.py
  api/conf/settings/logging.py
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/management/commands/test_generatewaveforms.py
Due: none

Add transaction=True
  api/test/unit/management/commands/test_generatewaveforms.py
  api/test/unit/models/test_media_report.py
  api/test/unit/utils/test_moderation.py
Due: none

Add a workaround for tests dropping db
  .github/workflows/ci_cd.yml
  api/justfile
  api/test/integration/test_auth.py
Due: none

Fix SyntaxWarning: invalid escape sequence '\d'
  api/api/templatetags/get_attr.py
Due: none

Improve comments
  api/justfile
Due: none

Hard-code licenses in the catalog
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
Due: none

Publish changelog for api-2025.01.15.17.59.21
  documentation/changelogs/api/2025.01.15.17.59.21.md
Due: fix-console-code-block, vale

Update instructions for Elasticsearch node replacements
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: fix-console-code-block, vale

Update workflows
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Lint
  api/api/management/commands/documentmedia.py
  api/api/management/commands/generatewaveforms.py
  api/api/models/audio.py
  api/api/utils/image_proxy/__init__.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/utils/test_help_text.py
  api/test/unit/utils/test_search_context.py
  catalog/dags/common/licenses/licenses.py
  catalog/dags/common/loader/reporting.py
  catalog/dags/common/loader/sql.py
  catalog/dags/common/log_cleanup.py
  catalog/dags/common/requester.py
  catalog/dags/common/slack.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/delete_records/delete_records_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/popularity/sql.py
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/tests/dags/common/loader/test_reporting.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/database/test_report_pending_reported_media.py
  catalog/tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/read_met_csv.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/factories/github/__init__.py
  catalog/tests/utilities/media_props_gen/test_column_parser.py
  catalog/utilities/media_props_gen/generate_media_properties.py
  docker/dev_env/exec.py
  indexer_worker/indexer_worker/queries.py
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/queries.py
  ingestion_server/test/integration_test.py
  ingestion_server/test/unit_tests/test_distributed_reindex_scheduler.py
Due: none

fix: only show audio message when track ID matches active
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

fix:match audio track id before displaying messages
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Update frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

fix: only show audio messages on active track
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

test: add audio message display test cases
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

Lint
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

Fix unit tests
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

Fix header and tests
  packages/js/api-client/src/auth.ts
  packages/js/api-client/tests/client.test.ts
Due: types, eslint, test:unit

add bodyserializer/accept header to openverse api client to correctly authenticate with the API
  packages/js/api-client/src/auth.ts
  packages/js/api-client/tests/client.test.ts
Due: types, eslint, test:unit

Improve asyncData error in search.vue
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Fix loading labels, results, no result on later pages
  frontend/nuxt.config.ts
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/composables/use-search.ts
  frontend/src/middleware/search.ts
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
  frontend/test/unit/specs/stores/media-store.spec.ts
Due: i18n, types, eslint, test:unit

Fix collection header stories
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.ts
  frontend/src/stores/media/index.ts
Due: i18n, types, eslint, test:unit

Refactor i18n search result count labels
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
Due: i18n, types, eslint, test:unit

Refactor FetchState to use discriminated union
  frontend/shared/types/fetch-state.ts
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-search.ts
  frontend/src/middleware/search.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
  frontend/test/unit/specs/stores/media-store.spec.ts
  frontend/test/unit/specs/stores/provider.spec.ts
  frontend/test/unit/specs/stores/single-result-store.spec.ts
Due: i18n, types, eslint, test:unit

Make `canLoadMore` external prop
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.ts
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

fix lint error
  frontend/i18n/scripts/translations.mjs
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/src/pages/feedback.vue
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
