Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fixed the variable Names added env. as Prefix
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Due: none

Clean up list formatting and remove stale sentences
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20231208-implementation_plan_django_admin_moderator_access.md
Due: none

Deduplicate report status in favour of decision action
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20231208-implementation_plan_django_admin_moderator_access.md
Due: none

Fix variable casing
  automations/js/src/count_user_reviewable_prs.js
Due: eslint

Rename valid to relevant
  automations/js/src/count_user_reviewable_prs.js
Due: eslint

Initial dependency changes
  frontend/.env.template
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/docker-compose.playwright.yml
  frontend/nuxt-template-overrides/App.js
  frontend/nuxt-template-overrides/README.md
  frontend/nuxt-template-overrides/index.js
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VModal/VModalTarget.vue
  frontend/src/components/VSnackbar.vue
  frontend/src/modules/prometheus.ts
  frontend/src/utils/og.ts
  frontend/src/vue-i18n.ts
  frontend/test/unit/svg-transform.js
  frontend/tsconfig.json
  frontend/typings/nuxt__types/index.d.ts
  frontend/typings/vue-router/index.d.ts
  packages/eslint-plugin/src/configs/import.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update i18n setup and utils
  frontend/src/composables/use-i18n.ts
  frontend/src/locales/scripts/utils.js
  frontend/test/locales/ar.json
Due: i18n, types, eslint, test:unit

Update dependency eslint-plugin-playwright to ^0.21.0
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

using static method
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_auckland_museum.py
Due: none

Update plausible
  frontend/src/composables/use-analytics.ts
Due: i18n, types, eslint, test:unit

Rename pages with dynamic parameters
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/source/[...source].vue
  frontend/src/pages/audio/tag/[tag].vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/[id]/report.vue
  frontend/src/pages/image/source/[...source].vue
  frontend/src/pages/image/tag/[tag].vue
Due: i18n, types, eslint, test:unit

Update app.vue, layouts and ui cookies, remove ua-parse
  frontend/src/app.html
  frontend/src/app.vue
  frontend/src/error.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/middleware/middleware.ts
  frontend/src/plugins/ua-parse.ts
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
  frontend/src/utils/cookies.ts
Due: i18n, types, eslint, test:unit

Replace useMeta with useHead
  frontend/src/components/VFourOhFour.vue
  frontend/src/pages/about.vue
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/index.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

Update modals to use native Teleport
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VModal/VModalTarget.vue
  frontend/src/components/VModal/meta/VModal.stories.mdx
  frontend/test/unit/specs/components/v-modal.spec.js
Due: i18n, types, eslint, test:unit

Replace defineComponent with defineNuxtComponent in pages
  frontend/src/pages/about.vue
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/source/[...source].vue
  frontend/src/pages/audio/tag/[tag].vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/[id]/report.vue
  frontend/src/pages/image/source/[...source].vue
  frontend/src/pages/image/tag/[tag].vue
  frontend/src/pages/index.vue
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

Update linting rules
  packages/eslint-plugin/src/configs/import.ts
Due: types, eslint, test:unit

Use definePageMeta for layout and middleware
  frontend/src/pages/about.vue
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/source/[...source].vue
  frontend/src/pages/audio/tag/[tag].vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/[id]/report.vue
  frontend/src/pages/image/source/[...source].vue
  frontend/src/pages/image/tag/[tag].vue
  frontend/src/pages/index.vue
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

Add initial Sentry client plugin
  frontend/src/plugins/sentry.client.ts
  frontend/src/plugins/sentry.ts
Due: i18n, types, eslint, test:unit

Update api-token plugin
  frontend/src/plugins/api-token.server.ts
Due: i18n, types, eslint, test:unit

Update plugins to silence warnings
  frontend/src/plugins/focus-visible.client.ts
  frontend/src/plugins/polyfills.client.ts
Due: i18n, types, eslint, test:unit

Replace useContext
  frontend/.storybook/decorators/with-rtl.js
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSketchFabViewer.vue
  frontend/src/composables/use-i18n-sync.ts
  frontend/src/composables/use-pages.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/search.vue
  frontend/src/types/fetch-state.ts
  frontend/test/unit/specs/components/VHeader/v-header-internal.spec.js
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
Due: i18n, types, eslint, test:unit

Replace useRoute
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/composables/use-match-routes.ts
  frontend/src/composables/use-pages.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/source/[...source].vue
  frontend/src/pages/audio/tag/[tag].vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/source/[...source].vue
  frontend/src/pages/image/tag/[tag].vue
  frontend/src/pages/search.vue
  frontend/src/utils/parse-collection-path.ts
Due: i18n, types, eslint, test:unit

Replace useRouter
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/composables/use-match-routes.ts
  frontend/src/composables/use-search.ts
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/index.vue
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Update vue-i18n eslint rules
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VDmcaNotice.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  packages/eslint-plugin/src/configs/index.ts
  packages/eslint-plugin/src/configs/vue.ts
Due: i18n, types, eslint, test:unit

Replace useFetch with useAsyncData
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/source/[...source].vue
  frontend/src/pages/audio/tag/[tag].vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/source/[...source].vue
  frontend/src/pages/image/tag/[tag].vue
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Enable Vue 3 eslint rules and update VLink
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VContentSwitcher/VSearchTypeItem.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VIconButton/VOldIconButton.vue
  frontend/src/components/VIconButton/meta/VOldIconButton.stories.mdx
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VLink.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VWarningSuppressor.vue
  frontend/src/composables/use-single-result-page-meta.ts
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/sources.vue
  packages/eslint-plugin/src/configs/vue.ts
Due: i18n, types, eslint, test:unit

Replace last composition-api imports
  frontend/src/components/VHeader/VFilterIconOrCounter.vue
  frontend/src/components/VHideButton.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/composables/use-image-cell-size.ts
  frontend/src/composables/use-single-result-page-meta.ts
  frontend/src/stores/provider.ts
Due: i18n, types, eslint, test:unit

Fix feature flag types, cookies, context
  frontend/src/stores/feature-flag.ts
Due: i18n, types, eslint, test:unit

Fix homepage search bar focusing
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VHomepageContent.vue
Due: i18n, types, eslint, test:unit

Use runtime config for api url and hard-code userAgent
  frontend/src/data/api-service.ts
Due: i18n, types, eslint, test:unit

Rename useI18n to useNuxtI18n to prevent shadowing
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VItemGroup/VItemGroup.vue
  frontend/src/components/VLanguageSelect/VLanguageSelect.vue
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VScroller.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VMediaInfo/meta/VMetadata.stories.mdx
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSketchFabViewer.vue
  frontend/src/composables/use-get-locale-formatted-number.ts
  frontend/src/composables/use-i18n-sync.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/composables/use-i18n.ts
  frontend/src/composables/use-search-type.ts
  frontend/src/composables/use-seekable.ts
  frontend/src/composables/use-single-result-page-meta.ts
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Delete unused composable
  frontend/src/composables/use-i18n-sync.ts
Due: i18n, types, eslint, test:unit

Replace $nuxt in search store
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Replace $nuxt in media store
  frontend/src/stores/media/index.ts
Due: i18n, types, eslint, test:unit

VLanguageSelect locale
  frontend/src/components/VLanguageSelect/VLanguageSelect.vue
Due: i18n, types, eslint, test:unit

Replace deprecated tc with t
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/composables/use-seekable.ts
Due: i18n, types, eslint, test:unit

Use defineAsyncComponent for banners
  frontend/src/components/VBanner/VBanners.vue
Due: i18n, types, eslint, test:unit
