Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Fix ToC
  documentation/guides/frontend/index.md
  documentation/reference/frontend/index.md
Due: none

Build packages after install pnpm deps
  justfile
Due: none

Run package unit tests in CI and pre-commit
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  templates/.pre-commit-config.local.yaml.jinja
Due: render-precommit, render-prettier, render-github

Try getting tests working (failing in frontend)
  .gitignore
  .pre-commit-config.yaml
  babel.config.js
  frontend/.babelrc
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/test/unit/test-utils/svg-transform.js
  jest.config.js
  package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
  pnpm-lock.yaml
  templates/.pre-commit-config.local.yaml.jinja
Due: i18n, types, test:unit, render-precommit, render-prettier, render-github

Add eslint-plugin package with analytics config rule
  .eslintrc.js
  .pre-commit-config.yaml
  frontend/package.json
  frontend/tsconfig.json
  package.json
  packages/.gitignore
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/.pre-commit-config.local.yaml.jinja
  templates/.pre-commit-config.yaml.jinja
  tsconfig.base.json
Due: i18n, types, test:unit, render-precommit, render-prettier, render-github

Try fix eslint pre-commit dependencies
  .pre-commit-config.yaml
  templates/.pre-commit-config.local.yaml.jinja
Due: render-precommit, render-prettier, render-github

Try reinstalling now that the packages are built
  justfile
Due: none

remove "github_token" from all workflow
  .github/workflows/bundle_size.yml
  .github/workflows/generate_pot.yml
  .github/workflows/release-app.yml
  .github/workflows/weekly_updates.yml
Due: none

Fix pnpm workspace usage
  .eslintignore
  babel.config.js
  frontend/package.json
  frontend/src/types/analytics.ts
  justfile
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: i18n, types, test:unit

Fix intentional error after seeing rule working in CI lint job
  frontend/src/types/analytics.ts
  justfile
Due: i18n, types, test:unit

Mock report service in the unit test
  frontend/test/unit/specs/components/v-content-report-form.spec.js
Due: i18n, types, test:unit

Better License code type checking
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/constants/filters.ts
Due: i18n, types, test:unit

Update frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
Due: i18n, types, test:unit

Add files to tsconfig and fix types
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VRadio/meta/VRadio.stories.mdx
  frontend/src/constants/filters.ts
  frontend/tsconfig.json
Due: i18n, types, test:unit

Move the svgs for radiomark and check to components
  frontend/src/assets/icons/check.svg
  frontend/src/assets/icons/radiomark.svg
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VSelectField/meta/VSelectField.stories.mdx
Due: i18n, types, test:unit

Revert unnecessary changes
  frontend/src/components/VSelectField/meta/VSelectField.stories.mdx
Due: i18n, types, test:unit

Type svg?inline as vue Component
  frontend/src/assets/icons/check.svg
  frontend/src/assets/icons/radiomark.svg
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/typings/svg/index.d.ts
Due: i18n, types, test:unit

Rename `ownValue` to `value_`
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VRadio/meta/VRadio.stories.mdx
Due: i18n, types, test:unit

Reorganise changesets for improved labelling
  .github/actions/get-changes/action.yml
  .github/filters.yml
  .github/workflows/bundle_size.yml
  .github/workflows/ci_cd.yml
Due: none

Use only focus-visible for consistency
  frontend/src/components/VButton.vue
Due: i18n, types, test:unit

Revert VTab focus changes
  frontend/src/components/VTabs/VTab.vue
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-linux.png
Due: i18n, types, test:unit

Fix VTab focus style
  frontend/src/components/VTabs/VTab.vue
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-linux.png
Due: i18n, types, test:unit

Revert "Revert VTab focus changes"
  frontend/src/components/VTabs/VTab.vue
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-linux.png
Due: i18n, types, test:unit

Rename button sizes and apply some styles only to 'old' buttons
  frontend/src/components/VButton.vue
  frontend/src/types/button.ts
Due: i18n, types, test:unit

Small fixes (large-old, border, group/button)
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/pages/image/_id/index.vue
Due: i18n, types, test:unit

Update label script to recognise more stacks
  automations/python/label_pr.py
Due: none

Fix docstring
  automations/python/label_pr.py
Due: none

Add `SLACK_WEBHOOK_TYPE` env var to reporting job
  .github/workflows/ci_cd.yml
Due: none

Explain the purpose of the `filters.yml` file
  .github/filters.yml
Due: none

Fixing argTypes issue and fixing the headers
  frontend/src/components/VItemGroup/meta/VItemGroup.stories.mdx
  frontend/src/components/meta/VPill.stories.mdx
Due: i18n, types, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
