Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update python version in API and attribution
  api/Dockerfile
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Update docker.io/nginx Docker tag to v1.27.2
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Update catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/europeana.py
Due: none

Add Collect creator method data from Europeana API (Fixes #2834)
  catalog/dags/providers/provider_api_scripts/europeana.py
Due: none

Add Collect creator method data from Europeana API (Fixes #2834)
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Update .codespell/ignore_lines.txt
  .codespell/ignore_lines.txt
Due: none

Add Collect creator method data from Europeana API (Fixes #2834)
  .codespell/ignore_lines.txt
Due: none

Add Collect creator method data from Europeana API (Fixes #2834)
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Add Collect creator data from Europeana API
  catalog/dags/providers/provider_api_scripts/europeana.py
Due: none

Update catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Filter out empty strings
  catalog/dags/providers/provider_api_scripts/europeana.py
Due: none

Fix ignore_lines.txt
  .codespell/ignore_lines.txt
Due: none

Add Collect creator data from Europeana API (Fixes #2834)
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Update tests
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Handle empty string and list
  catalog/dags/providers/provider_api_scripts/europeana.py
Due: none

Ignore the line
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Increase the timeout before taking a dark snapshot
  frontend/test/playwright/utils/expect-snapshot.ts
Due: i18n, types, eslint, test:unit

add analytical event
  frontend/src/stores/media/index.ts
  frontend/src/types/analytics.ts
Due: i18n, types, eslint, test:unit

Remove logic to change port to 8002 for prod data refresh. We'll instead change the port in prod to match local
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Fix param name
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Log response in wait_for_reindex
  catalog/dags/common/elasticsearch.py
Due: none

Configure poke interval for the filtered index creation by environment
  catalog/dags/common/elasticsearch.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/dag_factory.py
Due: none

Add env in data refresh notifications
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/reporting.py
Due: none

Set kwarg explicitly in mapped task
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
Due: none

Prevent layout shift by removing `<ClientOnly>` on the theme selector
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Use color mode from `uiStore`
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Manually set option's selected prop
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Back up env if changed
  .gitignore
  justfile
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
