Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Add `syntax` and `check` declarations above `Dockerfile`s
  api/Dockerfile
  catalog/Dockerfile
  docker/dev_env/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Due: i18n, types, test:unit

Publish changelog for api-2024.11.25.17.45.37
  documentation/changelogs/api/2024.11.25.17.45.37.md
Due: fix-console-code-block, vale

docs: mention using docs.openverse.org links for plans
  .github/ISSUE_TEMPLATE/project_thread.md
Due: vale

Add accommodation for pushback to our initial communication
  documentation/projects/proposals/relicensing/20241028-implementation_plan_relicensing.md
Due: fix-console-code-block, vale

Record approvals from @krysal and @obulat
  documentation/projects/proposals/relicensing/20241028-implementation_plan_relicensing.md
  documentation/projects/proposals/relicensing/20241028-project_proposal.md
Due: fix-console-code-block, vale

Update nuxt version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add filters to throttled application admin view
  api/api/admin/oauth.py
Due: none

Convert to an HTML link
  documentation/meta/release_and_deployment/runbooks/catalog.md
Due: fix-console-code-block, vale

Update link to running DAGs in Airflow
  documentation/meta/release_and_deployment/runbooks/catalog.md
Due: fix-console-code-block, vale

Prevent from counting media tables
  api/api/admin/media_report.py
Due: none

Make justfile load a the main .env file
  justfile
Due: none

Remove catalog's variables from main env.template
  env.template
Due: none

Add env var to skip recreation of .env files
  justfile
Due: none

Change if statement to exit early
  justfile
Due: none

Update vite
  package.json
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Try fixing all i18n dependencies
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Replace @openverse/eslint-plugin
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency @playwright/test to v1.49.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.7.2
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

change in heading size for related audio
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-lg-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-lg-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-xl-light-linux.png
Due: i18n, types, test:unit

chore(deps): update dependency @playwright/test to v1.49.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

fix(deps): update dependency @nuxtjs/robots to v5
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update documentation based on last run of node replacement
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.11.28.17.33.15
  documentation/changelogs/api/2024.11.28.17.33.15.md
Due: fix-console-code-block, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
