Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Update catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
Due: none

Remove pnpm fetch
  frontend/Dockerfile
Due: i18n, types, test:unit

Remove --offline flag to fix build
  frontend/Dockerfile
Due: i18n, types, test:unit

Update pnpm from 7.17.1 to 8.12.1
  package.json
  pnpm-lock.yaml
Due: none

Remove bundle_size workflow
  .github/workflows/bundle_size.yml
Due: none

fixed the vatiables discussion_ping.yml
  .github/workflows/discussion_ping.yml
Due: none

added variables and fixed the slack action api version for discussion_ping.yml
  .github/workflows/discussion_ping.yml
Due: none

added variables and fixed the slack action api version for pr_ping.yml
  .github/workflows/pr_ping.yml
Due: none

added variables and fixed the slack action api version for pr_limit_reminder.yml
  .github/workflows/pr_limit_reminders.yml
Due: none

Update discussion ping message variables
  .github/workflows/discussion_ping.yml
Due: none

Update Slack message format in PR limit reminders and PR ping workflows
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Due: none

Fix multiplication syntax in Slack message
  .github/workflows/pr_limit_reminders.yml
Due: none

Fix formatting in discussion_ping.yml
  .github/workflows/discussion_ping.yml
Due: none

Update discussion_ping.yml to include additional notification message
  .github/workflows/discussion_ping.yml
Due: none

Fixing linting issue
  .github/workflows/discussion_ping.yml
Due: none

Update discussion ping message format
  .github/workflows/discussion_ping.yml
Due: none

Update variable names in GitHub workflow files
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_ping.yml
Due: none

Temporarily increase timeout to debug
  .github/workflows/ci_cd.yml
Due: none

Update dependency @playwright/test to v1.40.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add missing tapes
  frontend/test/tapes/response-625.json5
  frontend/test/tapes/response-626.json5
Due: i18n, types, eslint, test:unit

Fix Playwright webserver command
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Replace deprecated `.type()`
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, eslint, test:unit

Try fixing storybook test
  frontend/package.json
Due: i18n, types, eslint, test:unit

Add missing tapes
  frontend/test/tapes/detail/audio/7e063ee6-343f-48e4-a4a5-f436393730f6_keep-alive.json5
  frontend/test/tapes/detail/images/e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  frontend/test/tapes/search/audio/q=birds&source=freesound&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=cat&license_type=commercial&license=cc0&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=honey&length=shortest&peaks=true_keep-alive.json5
  frontend/test/tapes/search/images/q=birds&source=flickr_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&aspect_ratio=tall_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&category=photograph_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&extension=jpg_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&license=by&extension=jpg_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&license=cc0&aspect_ratio=tall_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&license_type=commercial&license=cc0_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&page=3_keep-alive.json5
Due: i18n, types, eslint, test:unit

Add level to heading selectors
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Set maxDiffPixels to 3 to remove flakiness
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.01.01.19.52.49
  documentation/changelogs/frontend/2024.01.01.19.52.49.md
Due: none

Remove step to deploy production thumbnails
  .github/workflows/release-app.yml
Due: none

Remove the steps to deploy
  .github/workflows/release-app.yml
Due: none

Publish changelog for api-2024.01.01.20.22.56
  documentation/changelogs/api/2024.01.01.20.22.56.md
Due: none

Update release name
  documentation/changelogs/api/2024.01.01.19.52.14.md
Due: none

Update dependency babel-loader to v8.3.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
