Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Add reviewed Rekognition labels to project appendix
  documentation/projects/proposals/rekognition_data/appendix/appendix.md
  documentation/projects/proposals/rekognition_data/appendix/rekognition_labels.md
  documentation/projects/proposals/rekognition_data/index.md
Due: none

Improve imports, use property
  catalog/dags/common/operators/http.py
  catalog/dags/common/sensors/http.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Make props optional
  frontend/src/components/VHeader/VPageLinks.vue
Due: i18n, types, eslint, test:unit

Limit result counts in tapes
  frontend/test/tapes/search/images/q=galah&license_type=modification_keep-alive.json5
  frontend/test/tapes/search/images/q=galah_close.json5
  frontend/test/tapes/search/images/q=galah_keep-alive.json5
Due: i18n, types, eslint, test:unit

Convert header-related components to script setup
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/VFilterIconOrCounter.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VFilterTab.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
Due: i18n, types, eslint, test:unit

Make PW tests more stable
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
Due: i18n, types, eslint, test:unit

WIP: Targeted ingestion provider workflows
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/targeted_records_provider_data_ingester.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/dags/providers/provider_targeted_ingestion_dag_factory.py
  catalog/dags/providers/provider_targeted_ingestion_workflows.py
Due: none

Use firmer language
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Add clarity around search, case sensitivity, and lists
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Update DAG steps to reflect intentions
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Convert single result page components
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VScroller.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/components/VMediaInfo/VCollapsibleTagSection.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VGetMediaButton.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VMediaInfo/VMediaReuse.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VMediaInfo/VSourceProviderTooltip.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/VScrollableLine.vue
Due: i18n, types, eslint, test:unit

Hover over the filter
  frontend/test/playwright/visual-regression/components/filters.spec.ts
Due: i18n, types, eslint, test:unit

Address the change requests
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/composables/use-content-report.ts
  frontend/src/composables/use-dialog-content.ts
  frontend/src/pages/image/[id]/report.vue
Due: i18n, types, eslint, test:unit

Convert the report popover to a modal
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VContentReport/VDmcaNotice.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
  frontend/src/components/VContentReport/meta/VContentReportModal.stories.js
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Fix the standalone report page heading
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/pages/image/[id]/report.vue
Due: i18n, types, eslint, test:unit

Improve the UX for submitting reports
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportModal.vue
Due: i18n, types, eslint, test:unit

Update the e2e dmca report test
  frontend/test/playwright/e2e/report-media.spec.ts
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
Due: i18n, types, test:unit

Extract VHeader component
  frontend/src/components/VHeader/VHeader.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit

Rename comp to headerComponent
  frontend/src/components/VHeader/VHeader.vue
Due: i18n, types, eslint, test:unit

Add link to infra actions
  documentation/meta/release_and_deployment/index.md
Due: none

Clarify support recommendations are for Openverse specifically
  documentation/general/general_setup.md
Due: none

Remove unused parameters
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

lint
  documentation/general/general_setup.md
Due: none

Add a check to make sure new DAG files get added to the parsing tests
  catalog/tests/dags/test_dag_parsing.py
Due: none

Update tests with new DAGs and expected DAG counts
  catalog/tests/dags/test_dag_parsing.py
Due: none

Fix deprecation warning
  catalog/tests/dags/test_dag_parsing.py
Due: none

Update dependency apache-airflow to v2.10.0 [SECURITY]
  catalog/requirements-prod.txt
Due: none

Remove extra paren
  documentation/meta/release_and_deployment/index.md
Due: none

Refactor tests to remove experimental DebugExecutor
  catalog/tests/dags/providers/test_provider_dag_factory.py
Due: none

Publish changelog for catalog-2024.08.22.20.53.01
  documentation/changelogs/catalog/2024.08.22.20.53.01.md
Due: none

Convert components for license explanation modal
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/constants/z-indices.ts
  frontend/src/types/provides.ts
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
