Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Add sample label set matched with existing IDs
  sample_data/sample_rekognition_labels.jsonl
Due: none

Don't attempt to correct spelling on catalog's S3 load data
  .pre-commit-config.yaml
Due: none

Wait for minio to be ready before attempting content upload
  docker/minio/load_to_s3_entrypoint.sh
Due: none

Move sample data to better location
  catalog/tests/s3-data/migrated-cccatalog-archives/image_analysis_labels.jsonl
Due: none

Add DAG bones
  catalog/dags/data_augmentation/add_rekognition_labels.py
Due: none

Add smart_open library to dependencies
  catalog/requirements-prod.txt
Due: none

Add example case where no labels were present
  catalog/tests/s3-data/migrated-cccatalog-archives/image_analysis_labels.jsonl
Due: none

Add run_sql function to common.sql
  catalog/dags/common/sql.py
Due: none

Add types, label mapping, and constants
  catalog/dags/data_augmentation/rekognition/constants.py
  catalog/dags/data_augmentation/rekognition/label_mapping.py
  catalog/dags/data_augmentation/rekognition/types.py
Due: none

Add initial DAG logic
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
Due: none

Make data_augmentation a third party package
  pyproject.toml
Due: none

Fill out processing & insertion logic
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/constants.py
  catalog/dags/data_augmentation/rekognition/types.py
Due: none

More logic, logging, and alternate read strategy
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/constants.py
Due: none

Add default connection for run_sql
  catalog/dags/common/sql.py
Due: none

Initial DAG logic
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/env.template
Due: none

Fix content report padding
  frontend/src/components/VContentReport/VContentReportModal.vue
Due: i18n, types, eslint, test:unit

Use a modal for license explanation
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/composables/use-dialog-content.ts
  frontend/src/composables/use-dialog-control.ts
  frontend/src/composables/use-event-listener-outside.ts
  frontend/src/composables/use-hide-on-click-outside.ts
  frontend/src/composables/use-modal-stack.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit

Add id to unit tests
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
Due: i18n, types, eslint, test:unit

Make modal scrollable when overflowing
  frontend/src/components/VModal/VModalContent.vue
Due: i18n, types, eslint, test:unit

Abstract the composable to handle popovers
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/composables/use-dialog-control.ts
  frontend/src/composables/use-dialog-stack.ts
  frontend/src/composables/use-event-listener-outside.ts
Due: i18n, types, eslint, test:unit

Update external sources modal snapshots
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
Due: i18n, types, test:unit

Use constants for ids
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/composables/use-dialog-content.ts
  frontend/src/composables/use-hide-on-click-outside.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/constants/dialogs.ts
Due: i18n, types, eslint, test:unit

Remove negative margin from external search form
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
Due: i18n, types, eslint, test:unit

Add doc comments
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/composables/use-dialog-stack.ts
Due: i18n, types, eslint, test:unit

Replace hard-coded strings in Playwright tests
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/audio-results.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/e2e/sensitive-results.spec.ts
  frontend/test/playwright/e2e/skip-to-content.spec.ts
  frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/playwright/utils/components.ts
  frontend/test/playwright/utils/i18n.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
Due: i18n, types, eslint, test:unit

Set pointer events to none on Radiomark
  frontend/src/components/VRadio/VRadio.vue
  frontend/test/playwright/e2e/report-media.spec.ts
Due: i18n, types, eslint, test:unit

Convert VItem-related; brand; tabs components
  frontend/src/components/LoadingIcon.vue
  frontend/src/components/VBrand/VBrand.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/VContentSwitcher/VSearchTypeItem.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypes.vue
  frontend/src/components/VContentSwitcher/meta/VSearchTypeButton.stories.js
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VItemGroup/VItemGroup.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/VTabs/VTabPanel.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/composables/use-component-name.ts
  frontend/src/composables/use-search-type.ts
  frontend/test/unit/specs/components/loading-icon.spec.js
Due: i18n, types, eslint, test:unit

Remove border on focus-visible:hover
  frontend/src/components/VButton.vue
Due: i18n, types, eslint, test:unit

Update Nuxt and related dependencies to v3.13.0
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add feature flag to display the dark mode UI toggle
  frontend/feat/feature-flags.json
Due: i18n, types, eslint, test:unit

Add color mode to ui store
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.08.26.14.55.41
  documentation/changelogs/frontend/2024.08.26.14.55.41.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
