Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Try setting auth token in nuxt config
  frontend/Dockerfile
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Remove checkout and change secret setup
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
Due: i18n, types, test:unit

Use unstable_sentryBundlerPluginOptions
  frontend/Dockerfile
  frontend/nuxt.config.ts
  frontend/sentry.server.config.ts
Due: i18n, types, eslint, test:unit

Test if conditional setting works by inverting condition
  .github/workflows/ci_cd.yml
Due: none

Set token secret conditionally
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
Due: i18n, types, test:unit

Correct secret setup
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
Due: i18n, types, test:unit

Revert locales changes and remove i18n from Dockerfile
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
Due: i18n, types, test:unit

Re-add locale setup to nuxt-load-test
  .github/workflows/ci_cd.yml
Due: none

Check if auth token works as an env variable without file
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
Due: i18n, types, test:unit

Fix the unit test
  frontend/test/unit/specs/stores/provider.spec.ts
Due: i18n, types, eslint, test:unit

Pull all addons in one DB request
  api/api/models/audio.py
  api/api/serializers/audio_serializers.py
  api/api/views/audio_views.py
  api/api/views/media_views.py
Due: none

Use `.get` to prevent `KeyError`s
  api/api/serializers/audio_serializers.py
Due: none

Update tests
  api/test/integration/test_dead_link_filter.py
  api/test/unit/models/test_audio.py
Due: none

Add psycopg[pool] to api
  api/pdm.lock
  api/pyproject.toml
Due: none

Use postgres connection pool with default options
  api/conf/settings/databases.py
  api/pdm.lock
Due: none

Use transactions when marking tests for DB
  api/test/unit/management/commands/test_generatewaveforms.py
  api/test/unit/models/test_media_report.py
Due: none

Publish changelog for frontend-2024.12.19.03.36.42
  documentation/changelogs/frontend/2024.12.19.03.36.42.md
Due: fix-console-code-block, vale

Use .env.sentry-build-plugin for auth token
  frontend/Dockerfile
Due: i18n, types, test:unit

Test if release works on pull request
  .github/workflows/ci_cd.yml
Due: none

Revert the test code
  .github/workflows/ci_cd.yml
Due: none

Publish changelog for frontend-2024.12.19.05.42.40
  documentation/changelogs/frontend/2024.12.19.05.42.40.md
Due: fix-console-code-block, vale

Lock pdm for python 3.11.* without psycopg
  api/pdm.lock
  api/pyproject.toml
Due: none

Re-add psycopg
  api/pdm.lock
  api/pyproject.toml
Due: none

Loosen the python requirement of openverse-attribution
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Allow media types to handle their own criteria for fetching addons
  api/api/views/audio_views.py
  api/api/views/media_views.py
Due: none

Test that the list view makes 1 or 2 DB calls based on addons
  api/test/unit/views/test_audio_views.py
Due: none

Remove platform specifics from lock file
  packages/python/openverse-attribution/pdm.lock
Due: none

Fix Sentry client setup
  frontend/nuxt.config.ts
  frontend/sentry.client.config.ts
  frontend/sentry.server.config.ts
  frontend/server/api/sources.ts
  frontend/src/app.config.ts
  frontend/src/pages/preferences.vue
Due: i18n, types, eslint, test:unit

Pin Storybook version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.12.20.09.55.14
  documentation/changelogs/api/2024.12.20.09.55.14.md
Due: fix-console-code-block, vale

Re-add pgcli
  api/pdm.lock
  api/pyproject.toml
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
