Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update saint.py
  catalog/dags/providers/provider_api_scripts/saint.py
Due: none

docs: regenerate DAGs.md for saint_workflow
  documentation/catalog/reference/DAGs.md
Due: fix-console-code-block, vale

Create media_properties.md
  catalog/utilities/media_props_gen/media_properties.md
Due: vale

chore: remove intermediate generated media_properties.md
  catalog/utilities/media_props_gen/media_properties.md
Due: vale

ci: pin @actions/artifact to ^2.3.2 to avoid CommonJS breakages
  .github/actions/load-img/action.yml
Due: none

ci: remove --deploy flag from pipenv install in ingestion_server
  ingestion_server/Dockerfile
Due: none

fixed some issues
  catalog/dags/providers/provider_api_scripts/saint.py
Due: none

Update test_saint.py
  catalog/tests/dags/providers/provider_api_scripts/test_saint.py
Due: none

Create uv.lock
  uv.lock
Due: none

fixed merge issue
  .gitignore
  .vale/justfile
  documentation/catalog/reference/DAGs.md
Due: fix-console-code-block, vale

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fixed merge issues
  .github/CODEOWNERS
  catalog/dags/providers/provider_api_scripts/saint.py
  catalog/tests/dags/providers/provider_api_scripts/test_saint.py
  uv.lock
Due: none

fixed merge issue
  api/api/examples/image_responses.py
Due: none

Update media.py
  api/test/factory/models/media.py
Due: none

Update media_type_config.py
  api/test/fixtures/media_type_config.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update justfile
  justfile
Due: none

fixed
  justfile
Due: none

Finalize CI and provider fixes
  .github/workflows/ci_cd.yml
  load_sample_data.sh
Due: none

docs: clarify dev container scope
  documentation/general/general_setup.md
Due: fix-console-code-block, vale

fix: improve type safety for additional source builders (#2170)
  frontend/shared/utils/get-additional-sources.ts
Due: i18n, types, eslint, test:unit

fix: format with prettier
  frontend/shared/utils/get-additional-sources.ts
  ingestion_server/Pipfile.lock
Due: i18n, types, eslint, test:unit

fix: restore Pipfile.lock
  ingestion_server/Pipfile.lock
Due: none

Redirect unsupported locale prefixes to English (#575)
  frontend/i18n/data/en.json5
  frontend/shared/types/banners.ts
  frontend/shared/utils/translation-banner.ts
  frontend/shared/utils/unsupported-locale.ts
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VUnsupportedLocaleBanner.vue
  frontend/src/middleware/unsupported-locale.global.ts
  frontend/src/stores/ui.ts
  frontend/test/unit/specs/utils/unsupported-locale.spec.ts
Due: i18n, types, eslint, test:unit

Fix UnicodeDecodeError when parsing WordPress titles containing emoji
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Due: none

Scrub the database hostname from Sentry events
  api/api/utils/sentry.py
  api/conf/settings/sentry.py
  api/test/unit/utils/test_sentry.py
Due: none

Add files via upload
  17681877080803_1607115 2.pdf
  Bnbairbooking 
  DRW_2024_CASH001CAFT024063_V1.pdf
  DS11-Complete.pdf
  ai-request-logs.asset.php
  all_sites_for_account_2026-07-22T02_22_27.331Z.csv
  bnbairbooking.com.txt
  bnbairbooking.pages.dev.txt
  bnbairbooking.pages.dev.zip
  checkra1n
  conclusion.html
  deployment.md
  index.js
  readme.txt
  showcase-image-generation.webp
  text 3.txt
Due: vale

Improve error handling and fix format issues
  api/api/serializers/image_serializers.py
  api/api/views/image_views.py
  dag-sync.sh
  frontend/src/components/VSkipToContentButton.vue
Due: i18n, types, eslint, test:unit

Add files via upload
  bandbairbooking.com.txt
  bnbairbooking.txt
  document.txt
  document.zip
  travelpayouts.zip
Due: none

Add files via upload
  .vale/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f706c6174666f726d2d77696e646f77732532306d61636f732532306c696e75782d627269676874677265656e3f7374796c653d666c61742d737175617265.svg
  .vale/BNB Air Booking MVP - Scope of Work and Proposal.pdf
  .vale/Bnbairbooking.txt
  .vale/Google analytics.txt
  .vale/IONOS_Fillable_Form-Account_Change_Request.pdf
  .vale/README.md
  .vale/Repreeze--main.zip
  .vale/ai-devops-copilot.md
  .vale/demand-api.yaml
  .vale/files.zip
  .vale/head-footer-code.1.5.7.zip
  .vale/index.html
  .vale/wordpress-seo.28.0.zip
Due: vale

Add GitHub Actions workflow for Python package
  .github/workflows/python-package.yml
Due: none

Add files via upload
  Bnbairbooking.txt
  README 2.zip
  README.md
  deploy_bandbairbooking.patch
  head-footer-code.php
Due: vale

Update dependency nitropack to ~2.13.0 [SECURITY]
  package.json
  pnpm-lock.yaml
Due: none

Update dependency uuid to v11.1.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency pytest to v9 [SECURITY]
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency apache-airflow to v3 [SECURITY]
  catalog/requirements-prod.txt
Due: none

Pin hadolint Docker image to match the hook rev
  .pre-commit-config.yaml
Due: none

Pin hadolint Docker image to match the hook rev (#5605)
  .pre-commit-config.yaml
Due: none

Pin pipenv so the ingestion_server image builds again
  ingestion_server/Dockerfile
Due: none

Pin @actions/artifact so the load-img action can require it
  .github/actions/load-img/action.yml
Due: none
