Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

chore(deps): update dependency prettier-plugin-tailwindcss to v0.6.9
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency nock to v14.0.0-beta.18
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

chore(deps): update dependency pytest to v8
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

fix(deps): update dependency uuid to v11
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add a duotone icon to the codebase
  frontend/src/assets/svg/raw/duotone.svg
  frontend/src/assets/svg/sprite/icons.svg
Due: i18n, types, test:unit

Use duotone icon for system theme
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Update documentation comment
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

fix(deps): update dependency drf-spectacular to >=0.28, <0.29
  api/pdm.lock
  api/pyproject.toml
Due: none

fix(deps): update dependency uvicorn to >=0.32, <0.33
  api/pdm.lock
  api/pyproject.toml
Due: none

changing user name to ov_user
  api/Dockerfile
  catalog/Dockerfile
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Due: none

fix(deps): update dependency pillow to v11
  api/pdm.lock
  api/pyproject.toml
Due: none

Remove unnecessary comment
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Lint files
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

chore(deps): update docker.io/nginx docker tag to v1.27.3
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Publish changelog for frontend-2024.12.02.17.23.30
  documentation/changelogs/frontend/2024.12.02.17.23.30.md
Due: fix-console-code-block, vale

fix(deps): update dependency django-structlog to v9
  api/pdm.lock
  api/pyproject.toml
Due: none

chore(deps): update workflows
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update docker.io/library/fedora docker tag to v42
  docker/dev_env/Dockerfile
Due: none

Apply lint fixes in api/
  api/api/admin/media_report.py
  api/api/utils/image_proxy/__init__.py
  api/test/fixtures/media_type_config.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/views/test_media_views.py
Due: none

Apply lint fixes in ingestion_server/
  ingestion_server/test/unit_tests/test_distributed_reindex_scheduler.py
Due: none

Apply lint fixes in catalog/
  catalog/dags/data_augmentation/rekognition/types.py
  catalog/tests/dags/data_refresh/test_alter_data.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/utilities/media_props_gen/test_generate_media_properties.py
Due: none

Apply lint fixes in documentation/
  documentation/_ext/link_issues.py
Due: none

Disable renovate for ES, PG and Redis docker images
  .github/renovate.json5
Due: none

Add label with Renovate
  .github/renovate.json5
Due: none

Add psycopg[pool] to api
  api/pdm.lock
  api/pyproject.toml
Due: none

Use postgres connection pool with default options
  api/conf/settings/databases.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
