Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Move dark-mode detection one level higher to mitigate performance issues
  frontend/src/components/VIcon/VIcon.vue
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
Due: i18n, types, eslint, test:unit

Only show the notice when the dark mode feature flag is enabled
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Set dark mode to seen
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, eslint, test:unit

Enable content to be wrapped at extremely small widths
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Covert the entire notice into a link
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
Due: i18n, types, eslint, test:unit

Use full screen width on mobile phones
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
Due: i18n, types, eslint, test:unit

Maintain minimum gap between feature notice and hero text
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Use expectSnapshot, add screenshot-area and remove colored focus
  frontend/src/components/VIconButton/meta/VIconButton.stories.ts
  frontend/src/components/VLanguageSelect/meta/VLanguageSelect.stories.ts
  frontend/src/components/VSelectField/meta/VSelectField.stories.ts
  frontend/src/components/meta/Focus.stories.js
  frontend/test/storybook/playwright.config.ts
  frontend/test/storybook/visual-regression/focus.spec.ts
  frontend/test/storybook/visual-regression/focus.spec.ts-snapshots/focus-colored-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-checkbox.spec.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-icon-button.spec.ts
  frontend/test/storybook/visual-regression/v-icon-button.spec.ts-snapshots/v-icon-button-sizes-light-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
  frontend/test/storybook/visual-regression/v-select-field.spec.ts-snapshots/vselectfield-default-light-linux.png
  frontend/test/storybook/visual-regression/v-select-field.spec.ts-snapshots/vselectfield-with-icon-light-linux.png
  frontend/test/storybook/visual-regression/v-select-field.spec.ts-snapshots/vselectfield-without-border-light-linux.png
Due: i18n, types, eslint, test:unit

Add background to header story to trigger CI
  frontend/src/components/VHeader/meta/VHeaderInternal.stories.ts
Due: i18n, types, eslint, test:unit

Specify platform to fix `ov` builds on macOS
  docker/dev_env/run.sh
  ov
Due: none

Only write cookies after all values have been read
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Fix search type popover
  frontend/src/components/VHeader/VHeaderDesktop.vue
Due: i18n, types, eslint, test:unit

Add fallback for current page color
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.09.16.09.52.36
  documentation/changelogs/frontend/2024.09.16.09.52.36.md
Due: fix-console-code-block, vale

Interact with the theme selector to lose the new feature highlight
  frontend/test/storybook/visual-regression/v-footer.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.09.16.09.52.36
  documentation/changelogs/api/2024.09.16.09.52.36.md
Due: fix-console-code-block, vale

Remove the gradient from VSafetyWall.vue
  frontend/src/assets/safety-bg.png
  frontend/src/components/VSafetyWall/VSafetyWall.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-md-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xs-light-linux.png
Due: i18n, types, test:unit

Fix extremely tiny difference in margins
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Limit growth of content to accommodate more images in gallery
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Replace border gradient with single tone
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
Due: i18n, types, eslint, test:unit

Fix `VSelectField` focus ring
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/styles/tailwind.css
Due: i18n, types, eslint, test:unit

Update django-oauth-toolkit to major version 3
  api/api/migrations/0070_throttledapplication_allowed_origins_and_more.py
  api/latest_migrations/api
  api/latest_migrations/oauth2_provider
  api/pdm.lock
  api/pyproject.toml
Due: none

conditional removal on changelogs
  documentation/conf.py
Due: none

Simplify audiowaveform installation in API Dockerfile
  api/Dockerfile
Due: none

Revert "conditional removal on changelogs"
  documentation/conf.py
Due: none

conditional changelogs removal
  documentation/conf.py
Due: none

Fix markup in the general setup guide
  documentation/general/general_setup.md
Due: fix-console-code-block, vale

Remove 'Testing Nuxt 3' text
  frontend/src/components/VHomepageContent.vue
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
