Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Improve clarity and flow in README contributing section
  README.md
Due: vale

docs: Add quick-start sections to component README files
  api/README.md
  catalog/README.md
  frontend/README.md
  ingestion_server/README.md
  packages/README.md
Due: i18n, types, test:unit, vale

Update dependency js-yaml to v4.1.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Redirect unsupported locale paths to English with notice banner
  frontend/src/app.vue
  frontend/src/components/LanguageRedirectBanner.vue
  frontend/src/middleware/language-redirect.global.ts
Due: i18n, types, eslint, test:unit

Refactored getAdditionalSourceBuilders for type safety
  frontend/shared/utils/get-additional-sources.ts
Due: i18n, types, eslint, test:unit

Fixing minor grammatical and phrasing issues
  documentation/general/contributing.md
Due: fix-console-code-block, vale

Update dependency apache-airflow to v3 [SECURITY]
  catalog/requirements-prod.txt
Due: none

Update dependency axios to v1.13.5 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.13.5 [SECURITY] (#5532)
  pnpm-lock.yaml
Due: none

Hide audio thumbnail from screen readers with aria-hidden
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
Due: i18n, types, eslint, test:unit

Update dependency rollup to v4.59.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency rollup to v4.59.0 [SECURITY] (#5557)
  pnpm-lock.yaml
Due: none

Update dependency freezegun to v1.5.5
  catalog/requirements-dev.txt
Due: none

Update dependency tldextract to v5.3.1
  catalog/requirements-prod.txt
Due: none

Update dependency storybook to v8.6.17 [SECURITY]
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency pook to v2.1.6
  catalog/requirements-dev.txt
Due: none

added unit test with parametrize
  api/api/serializers/media_serializers.py
  api/test/unit/serializers/test_media_serializers.py
Due: none

Update PostgreSQL to 18.3
  docker-compose.yml
Due: none

fix: update creative commons licenses link to new URL
  frontend/src/composables/use-pages.ts
Due: i18n, types, eslint, test:unit

Add new error message for non-zero exit codes in lint hook (#2441)
  justfile
Due: none

Update dependency vue-i18n to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency glob to v11.1.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.19.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.4.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Hide audio thumbnail from screen readers
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
Due: i18n, types, eslint, test:unit

fix: handle negative duration in get_audio_record_data
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Due: none

revert: previous commit on main
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Due: none

fix: negative audio duration handling in get_audio_record_data
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Due: none

fixed saint.tech #5571 issue
  catalog/dags/common/loader/provider_details.py
  catalog/dags/providers/provider_api_scripts/saint.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/providers/provider_api_scripts/test_saint.py
Due: none

fix: remove trailing whitespace in saint provider files
  catalog/dags/providers/provider_api_scripts/saint.py
Due: none

fixed the ruff format issue
  catalog/dags/providers/provider_api_scripts/saint.py
  catalog/tests/dags/providers/provider_api_scripts/test_saint.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
