Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update the last 3 occurrences
  frontend/i18n/data/en.json5
Due: i18n, types, eslint, test:unit

Update the Playwright utility
  frontend/test/playwright/utils/i18n.ts
Due: i18n, types, eslint, test:unit

changes to test files
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
Due: i18n, types, eslint, test:unit

changes for 'openverse' string literal
  frontend/i18n/data/en.json5
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

fix lint error
  frontend/i18n/scripts/translations.mjs
Due: i18n, types, eslint, test:unit

removed interpolation for openverse
  frontend/i18n/data/en.json5
  frontend/i18n/scripts/translations.mjs
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

removing repeat string interpolation for about page
  frontend/src/pages/about.vue
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/i18n/data/en.json5
Due: i18n, types, eslint, test:unit

reverting changes
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Publish changelog for frontend-2025.01.16.15.54.08
  documentation/changelogs/frontend/2025.01.16.15.54.08.md
Due: fix-console-code-block, vale

Publish changelog for catalog-2025.01.07.04.34.46
  documentation/changelogs/catalog/2025.01.07.04.34.46.md
Due: fix-console-code-block, vale

Fix story types
  frontend/src/components/VContentLink/meta/VContentLink.stories.ts
Due: i18n, types, eslint, test:unit

Replace left-over placeholders
  frontend/i18n/data/en.json5
Due: i18n, types, eslint, test:unit

Update i18n scripts
  documentation/frontend/reference/i18n.md
  frontend/i18n/scripts/po/po-helpers.mjs
  frontend/i18n/scripts/translations.mjs
  frontend/i18n/scripts/utils.mjs
Due: i18n, fix-console-code-block, types, eslint, test:unit, vale

Make the Playwright tests more robust
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Add missing prop to audio collection
  frontend/src/pages/audio/collection.vue
Due: i18n, types, eslint, test:unit

Watch computeds instead of getters
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Remove stray log line
  frontend/src/stores/media/index.ts
Due: i18n, types, eslint, test:unit

Set the Playwright timeout to 5 seconds
  frontend/test/playwright/playwright.config.ts
  frontend/test/proxy.js
  frontend/test/storybook/playwright.config.ts
Due: i18n, types, eslint, test:unit

Pin @nuxtjs/i18n version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add pnpm lock in ci
  .github/workflows/ci_cd.yml
  frontend/Dockerfile.playwright
Due: i18n, types, test:unit

Fix plugin initialization to fix provider fetching
  frontend/src/composables/use-analytics.ts
  frontend/src/plugins/02.init.server.ts
  frontend/src/plugins/03.analytics.ts
  frontend/src/plugins/04.errors.ts
  frontend/src/plugins/05.init-stores.server.ts
  frontend/src/stores/provider.ts
Due: i18n, types, eslint, test:unit

Check if pnpm lock works in CI
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Make storybook smoke test more robust
  frontend/test/storybook/functional/smoke-test.spec.ts
Due: i18n, types, eslint, test:unit

Update frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Revert stylistic change
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Remove copying of the lock file from ci_cd step
  .github/workflows/ci_cd.yml
Due: none

Revert "Remove copying of the lock file from ci_cd step"
  .github/workflows/ci_cd.yml
Due: none

COPY the lock file from the frontend dir
  frontend/Dockerfile.playwright
Due: i18n, types, test:unit

Log proxy requests if `verbose` is true
  frontend/test/proxy.js
Due: i18n, types, eslint, test:unit
