Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Add disabled styles
  frontend/src/components/VButton.vue
Due: i18n, types, eslint, test:unit

Update the text area colors
  frontend/src/components/VContentReport/VReportDescForm.vue
Due: i18n, types, eslint, test:unit

Update dependency @nuxtjs/sitemap to v6
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add workflow for running k6 on live urls
  .github/workflows/k6.yml
  docker/dev_env/Dockerfile
  packages/js/k6/justfile
Due: types, test:unit

Add step to trigger load test with staging deploy
  .github/workflows/ci_cd.yml
Due: none

Remove testing input overrides
  .github/workflows/k6.yml
Due: none

Remove JS template string syntax from Python template string
  .github/workflows/ci_cd.yml
Due: none

Use generic service_url variable for frontend scenarios
  .github/workflows/ci_cd.yml
  packages/js/k6/src/frontend/constants.ts
Due: types, eslint, test:unit

Set testing variables in workflow
  .github/workflows/k6.yml
Due: none

Fix missing k6 envvar option for signing secret
  .github/workflows/k6.yml
Due: none

Remove obsolete cache invalidation code from get_sources function(fixes #706)
  api/api/controllers/search_controller.py
Due: none

Revert unrelated changes
  api/api/controllers/search_controller.py
Due: none

Update code owners
  .github/CODEOWNERS
Due: none

Fix other problems
  automations/js/src/last_week_tonight.mjs
  automations/js/src/project_thread_updates.js
  eslint.config.mjs
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/composables/use-dialog-control.ts
  frontend/src/plugins/errors.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/types/home-gallery.ts
  frontend/src/utils/decode-data.ts
  frontend/tailwind.config.ts
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/typings/extend.d.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/k6/src/frontend/scenarios.ts
Due: i18n, types, eslint, test:unit

Migrate the plugin to ESLint v9
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  justfile
  package.json
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/custom.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/configs/index.ts
  packages/js/eslint-plugin/src/configs/typescript.ts
  packages/js/eslint-plugin/src/configs/vue.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
  packages/js/eslint-plugin/src/rules/index.ts
  packages/js/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/js/eslint-plugin/src/rules/translation-strings.ts
  packages/js/eslint-plugin/src/typings.d.ts
  packages/js/eslint-plugin/src/utils/rule-creator.ts
  packages/js/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/js/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/js/eslint-plugin/test/rules/translation-strings.spec.ts
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix auto-fixable problems
  automations/js/src/label_pr.mjs
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VScrollableLine.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/layouts/search-layout.vue
  frontend/test/proxy.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/stores/search-store.spec.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
  justfile
  packages/js/api-client/vitest.config.mjs
Due: i18n, types, eslint, test:unit

Add storybook md snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-hovered-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-hovered-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-resting-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-resting-light-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-at-rest-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-focused-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-images-hovered-md-dark-linux.png
Due: i18n, types, test:unit

Update dependency nuxt to v3.13.2
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add xs storybook dark snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-hovered-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-focused-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-hovered-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-resting-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/bordered-tx-resting-light-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xs-dark-linux.png
Due: i18n, types, test:unit

Add xs storybook dark snapshots
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-ltr-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-rtl-xs-dark-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xs-dark-linux.png
Due: i18n, types, test:unit

Add storybook md snapshots
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-ltr-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-rtl-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-at-rest-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-focused-md-dark-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-images-hovered-md-dark-linux.png
Due: i18n, types, test:unit

Add Collect creator data from Europeana API (Fixes #2834)
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Publish changelog for frontend-2024.10.19.14.45.06
  documentation/changelogs/frontend/2024.10.19.14.45.06.md
Due: fix-console-code-block, vale
