Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fix send email query
  api/api/management/commands/sendapimoveannouncement.py
  api/test/factory/models/oauth2.py
  api/test/unit/management/commands/test_sendapimoveannouncement.py
Due: none

Fix doc strings
  api/api/management/commands/sendapimoveannouncement.py
Due: none

Update storybook tests to make them faster
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-at-rest-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-pressed-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-pressed-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-hovered-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-hovered-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-lg-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-at-rest-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-xl-linux.png
Due: i18n, types, eslint, test:unit

Refactor for clarity
  frontend/test/storybook/utils/args.ts
  frontend/test/storybook/utils/response.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-pressed-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-pressed-at-rest-md-linux.png
Due: i18n, types, eslint, test:unit

Delete unused snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-resting-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-linux.png
Due: i18n, types, test:unit

Update footer rtl snapshots
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-linux.png
Due: i18n, types, test:unit

Revert the `toHaveScreenshot` change
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
Due: i18n, types, eslint, test:unit

Use `toHaveScreenshot` for search type button
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
Due: i18n, types, eslint, test:unit

Update header internal test
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-rtl-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-linux.png
Due: i18n, types, eslint, test:unit

Update header internal test
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
Due: i18n, types, eslint, test:unit

Wait for full navigation in header-internal e2e test
  frontend/test/playwright/e2e/header-internal.spec.ts
Due: i18n, types, eslint, test:unit

Revert header changes
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/test/playwright/e2e/header-internal.spec.ts
Due: i18n, types, eslint, test:unit

Re add wait to image cell Signed-off-by: Olga Bulat <obulat@gmail.com>
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.05.07.16.44.22
  documentation/changelogs/frontend/2024.05.07.16.44.22.md
Due: none

Update header internal test
  frontend/src/components/VHeader/VHeaderInternal.vue
Due: i18n, types, eslint, test:unit

Initialize ui and flags from cookies at request time
  frontend/nuxt.config.ts
  frontend/src/middleware/middleware.ts
  frontend/src/plugins/init-stores.ts
  frontend/src/stores/provider.ts
  frontend/src/utils/env.ts
  frontend/test/unit/specs/stores/provider.spec.js
Due: i18n, types, eslint, test:unit

Update tapes
  frontend/test/tapes/stats-images-keep-alive.json5
Due: i18n, types, eslint, test:unit

Add source name in decode-media-data
  documentation/meta/media_properties/frontend.md
  frontend/nuxt.config.ts
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.mdx
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/middleware/middleware.ts
  frontend/src/plugins/init-stores.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/stores/search.ts
  frontend/src/types/media.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/specs/stores/provider.spec.js
  frontend/test/unit/specs/utils/decode-image-data.spec.js
Due: i18n, types, eslint, test:unit

Update content report form test
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/tapes/thumb/images/feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
  frontend/test/tapes/thumb/images/feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive_HEAD.json5
Due: i18n, types, eslint, test:unit

Split sessionFeatures from features when setting cookies for tests
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, eslint, test:unit

Refactor VByLine params
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Remove lastUpdated
  frontend/nuxt.config.ts
  frontend/src/middleware/feature-flags.ts
  frontend/src/stores/provider.ts
Due: i18n, types, eslint, test:unit

Remove redundant default icon class
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
Due: i18n, types, eslint, test:unit

Fix stories
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
  frontend/src/components/VAudioTrack/meta/VWaveform.stories.mdx
  frontend/src/components/VBanner/meta/VNotificationBanner.stories.mdx
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/components/VContentLink/meta/VContentLink.stories.mdx
  frontend/src/components/VExternalSearch/meta/VExternalSourceList.stories.mdx
  frontend/src/components/VFilters/meta/VLicenseExplanation.stories.mdx
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  frontend/src/components/VHeader/meta/VContentSettingsModal.stories.mdx
  frontend/src/components/VHeader/meta/VHeaderDesktop.stories.mdx
  frontend/src/components/VHeader/meta/VHomeLink.stories.mdx
  frontend/src/components/VHomeGallery/meta/VHomeGallery.stories.mdx
  frontend/src/components/VIcon/meta/VIcon.stories.mdx
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VInputField/meta/VInputField.stories.mdx
  frontend/src/components/VMediaInfo/meta/VMediaLicense.stories.mdx
  frontend/src/components/VMediaInfo/meta/VMetadata.stories.mdx
  frontend/src/components/VRadio/meta/VRadio.stories.mdx
  frontend/src/components/VSafetyWall/meta/VSafetyWall.stories.mdx
  frontend/src/components/VSelectField/meta/VSelectField.stories.mdx
Due: i18n, types, eslint, test:unit

Add storybook smoke test
  frontend/test/storybook/functional/smoke-test.spec.ts
Due: i18n, types, eslint, test:unit

Fix VAudioTrack and VByLine story setup
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.mdx
Due: i18n, types, test:unit

Update phrasing
  api/api/serializers/media_serializers.py
Due: none

Enable aliases in `load-img` action
  .github/actions/load-img/action.yml
Due: none

Use complete command instead of alias
  .github/workflows/ci_cd.yml
Due: none

Use a more ambiguous related name for reports
  api/api/models/audio.py
  api/api/models/image.py
Due: none

Use plural name for media_reports reference
  api/api/admin/media_report.py
  api/api/models/audio.py
  api/api/models/image.py
Due: none
