Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Update labelling system to reduce duplication and cover more stacks (#1934)
  .github/filters.yml
  .github/workflows/ci_cd.yml
  .github/workflows/pr_label_check.yml
Due: none

Fix outline width on Chrome
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Wait for network idle to try to fix license icon VR failure
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, test:unit

Update the snapshots
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
Due: i18n, types, test:unit

Use new buttons in components
  frontend/src/components/VContentReport/VContentReportButton.vue
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VLink.vue
  frontend/src/pages/image/_id/report.vue
Due: i18n, types, test:unit

Wait for navigation to /about page
  frontend/test/playwright/e2e/header-internal.spec.ts
Due: i18n, types, test:unit

Fix button inner ring appearing wider than the outer ring
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Add sh fmt pre commit hook
  .pre-commit-config.yaml
Due: none

Lint shell scripts
  api/run.sh
  catalog/entrypoint.sh
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/prettify.sh
  dag-sync.sh
  frontend/bin/create-component.sh
  frontend/bin/playwright.sh
  ingestion_server/test/update_mocks.sh
  load_sample_data.sh
  setup_plausible.sh
  utilities/load_testing/api.sh
Due: i18n, types, test:unit

Replace span with h2 for image results
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
Due: i18n, types, test:unit

Replace span with h2 for image results
  frontend/test/unit/specs/components/related-images.spec.js
Due: i18n, types, test:unit

Correctly pass `maxDiffPixelRatio` to add tolerance
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Due: i18n, types, test:unit

Try the `maxDiffPixelRatio` fix for the CI
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Due: i18n, types, test:unit

Added shebang
  docker/minio/subDir-loop-entrypoint.sh
Due: none

Extract entrypoints to separate shell scripts #1226
  docker-compose.yml
  docker/minio/s3-entrypoint.sh
  docker/minio/subDir-loop-entrypoint.sh
Due: none

Updated s3-entrypoint.sh
  docker/minio/s3-entrypoint.sh
Due: none

Update documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
Due: none

Lint after suggestions
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
Due: none

Prevent rate limiting from breaking issue resolution in docs build
  .github/actions/build-docs/action.yml
  .github/workflows/ci_cd.yml
  documentation/_ext/link_issues.py
  documentation/meta/documentation/link_issues.md
Due: none

Fix all reference errors; incorrectly excluded documents; and noramlise project document titles
  documentation/frontend/guides/icons.md
  documentation/meta/ci_cd/actions.md
  documentation/meta/ci_cd/index.md
  documentation/meta/ci_cd/jobs/api.md
  documentation/meta/ci_cd/jobs/catalog.md
  documentation/meta/ci_cd/jobs/deployment.md
  documentation/meta/ci_cd/jobs/docker_preparation.md
  documentation/meta/ci_cd/jobs/docker_publishing.md
  documentation/meta/ci_cd/jobs/documentation.md
  documentation/meta/ci_cd/jobs/frontend.md
  documentation/meta/ci_cd/jobs/index.md
  documentation/meta/ci_cd/jobs/ingestion_server.md
  documentation/meta/ci_cd/jobs/notification.md
  documentation/projects/proposals/3d_model_support/20220221-project_proposal.md
  documentation/projects/proposals/analytics/20221006-implementation_plan_frontend.md
  documentation/projects/proposals/analytics/20230307-backend_service.md
  documentation/projects/proposals/core_user_interface_improvement/20230314-project_proposal_core_ui_improvement.md
  documentation/projects/proposals/document_all_media_properties/20230307-project_proposal.md
  documentation/projects/proposals/feature_flags/20220309-project_proposal.md
  documentation/projects/proposals/monitoring/20220307-project_proposal.md
  documentation/projects/proposals/monorepo/20221124-project_proposal.md
  documentation/projects/proposals/popularity_optimizations/20230406-project_proposal_popularity_optimizations.md
  documentation/projects/proposals/popularity_optimizations/index.md
  documentation/projects/proposals/search_relevancy_sandbox/20230331-project_proposal_search_relevancy_sandbox.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
  documentation/projects/proposals/visual_regression_testing/20220217-implementation_plan.md
  documentation/projects/proposals/vuex_to_pina_conversion/20220223-project_proposal.md
Due: none

Fail docs build in CI if warnings exist
  .github/actions/build-docs/action.yml
  documentation/justfile
Due: none

Use static PR links in changelogs
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github

Fix all toctree warnings
  documentation/_toc_templates/flat.md
  documentation/_toc_templates/stack_root.md
  documentation/api/guides/index.md
  documentation/api/index.md
  documentation/api/reference/index.md
  documentation/catalog/index.md
  documentation/changelogs/index.md
  documentation/changelogs/ingestion_server/index.md
  documentation/frontend/guides/index.md
  documentation/frontend/index.md
  documentation/frontend/reference/index.md
  documentation/general/index.md
  documentation/general/zero_downtime_database_management.md
  documentation/ingestion_server/guides/index.md
  documentation/ingestion_server/index.md
  documentation/meta/decision_making/index.md
  documentation/meta/documentation/index.md
  documentation/meta/index.md
  documentation/projects/planning.md
  documentation/projects/proposals/3d_model_support/index.md
  documentation/projects/proposals/analytics/index.md
  documentation/projects/proposals/core_user_interface_improvement/index.md
  documentation/projects/proposals/document_all_media_properties/index.md
  documentation/projects/proposals/feature_flags/index.md
  documentation/projects/proposals/frontend_ui_state_cookie/index.md
  documentation/projects/proposals/monitoring/index.md
  documentation/projects/proposals/monorepo/index.md
  documentation/projects/proposals/popularity_optimizations/index.md
  documentation/projects/proposals/search_relevancy_sandbox/index.md
  documentation/projects/proposals/trust_and_safety/index.md
  documentation/projects/proposals/visual_regression_testing/index.md
  documentation/projects/proposals/vuex_to_pina_conversion/index.md
  documentation/projects/templates/index.md
Due: none

Ignore highlighting warnings
  documentation/conf.py
Due: none

Use UI to turn on Analytics
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, test:unit

Lint
  frontend/src/components/VBackToSearchResultsLink.vue
Due: i18n, types, test:unit

Use searchType instead of mediaType; add mousedown; add tests
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VLink.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/types/analytics.ts
  frontend/test/unit/setup.js
  frontend/test/unit/specs/components/v-back-to-search-results-link.spec.js
Due: i18n, types, test:unit

Add analytic event: BACK_TO_SEARCH
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/types/analytics.ts
Due: i18n, types, test:unit

Added required props to component
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
Due: i18n, types, test:unit

Update frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
  frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
Due: i18n, types, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
