Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update Node.js to v18.20.8
  .devcontainer/devcontainer.json
Due: none

Update dependency nitropack to ~2.11.0
  package.json
  pnpm-lock.yaml
Due: none

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Update dependency prettier to v3.5.3 (#5400)
  frontend/src/components/VScrollableLine.vue
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency vite to v6.0.14 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.16.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.16.0 [SECURITY] (#5390)
  pnpm-lock.yaml
Due: none

Update dependency ipython to v9
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update Node.js to v18.20.8 (#5396)
  .devcontainer/devcontainer.json
Due: none

Update docker.io/mccutchen/go-httpbin Docker tag to v2.18.1
  api/compose.yml
Due: none

Update python dev dependencies
  api/pdm.lock
  api/pyproject.toml
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Update python dev dependencies (#5404)
  api/pdm.lock
  api/pyproject.toml
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Update dependency ipython to v9 (#5403)
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update docker.io/mccutchen/go-httpbin Docker tag to v2.18.1 (#5402)
  api/compose.yml
Due: none

Update dependency apache-airflow to v2.10.5
  catalog/requirements-prod.txt
Due: none

Update dependency @playwright/test to v1.51.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @types/k6 to ^0.57.0
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency elasticsearch to v8.17.2
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Publish changelog for frontend-2025.04.11.13.47.15
  documentation/changelogs/frontend/2025.04.11.13.47.15.md
Due: fix-console-code-block, vale

Publish changelog for api-2025.04.11.13.47.14
  documentation/changelogs/api/2025.04.11.13.47.14.md
Due: fix-console-code-block, vale

Publish changelog for api-2025.04.11.13.47.14 (#5406)
  documentation/changelogs/api/2025.04.11.13.47.14.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2025.04.11.13.47.15 (#5405)
  documentation/changelogs/frontend/2025.04.11.13.47.15.md
Due: fix-console-code-block, vale

Update dependency @playwright/test to v1.52.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency elasticsearch to v8.18.0
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency nuxt to v3.16.0 [SECURITY] (#5408)
  pnpm-lock.yaml
Due: none

fix for issue #4638 -- create in-alarm variable to prevent excessive elasticsearch health alerts
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
Due: none

fix for issue #3817 -- add visual regression test for sketchfab result
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Due: i18n, types, eslint, test:unit

Update @openverse/eslint-plugin
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency @pinia/nuxt to ^0.11.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency smart-open to v7.1.0
  catalog/requirements-prod.txt
Due: none

Update @openverse/eslint-plugin (#5413)
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency smart-open to v7.1.0 (#5415)
  catalog/requirements-prod.txt
Due: none

Update dependency @pinia/nuxt to ^0.11.0 (#5414)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency nock to v14.0.4
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency elasticsearch to v8.18.1
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none
