Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Comply with line length limits
  README.md
Due: vale

Update dependency js-yaml to v4.1.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vue-i18n to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.12.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency glob to v11.1.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.19.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.4.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY] (#5524)
  pnpm-lock.yaml
Due: none

Update dependency freezegun to v1.5.5
  catalog/requirements-dev.txt
Due: none

Update dependency pook to v2.1.4
  catalog/requirements-dev.txt
Due: none

Update dependency tldextract to v5.3.0
  catalog/requirements-prod.txt
Due: none

fix(frontend): prevent back-to-top button overlapping footer (#4966)
  frontend/src/components/VScrollButton.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit

chore: fix prettier formatting
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit

Update dependency @intlify/core to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency storybook to v8.6.15 [SECURITY]
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
