Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

@dryruffiaAdd Sutori to Made with Openverse page (WordPress#4972)
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Add Sutori to Made with Openverse page (WordPress#4971)
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Change "exact match boost" implementation to use a match_phrase query in should #4960
  api/api/controllers/search_controller.py
Due: none

Changed exact match boost implementation to use a match_phrase query in should #4960
  api/api/controllers/search_controller.py
Due: none

I have added support for match_pharse and also removed variable quotes_stripped it's not needed now.
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Added Test to acoomodate match_pharses
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Added Test to accommodate march_phrases
  api/api/controllers/search_controller.py
Due: none

Add Staci approval
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Due: fix-console-code-block, vale

Ariakit vue exploration with port of Heading
  frontend/package.json
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/ariakit/heading/AHeading.composable.ts
  frontend/src/components/ariakit/heading/AHeading.vue
  frontend/src/components/ariakit/heading/AHeadingLevel.composable.ts
  frontend/src/components/ariakit/heading/AHeadingLevel.vue
  frontend/src/components/ariakit/heading/HeadingContext.ts
  frontend/src/components/ariakit/heading/meta/AHeading.stories.ts
  frontend/src/composables/ariakit.ts
  frontend/src/types/ariakit.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add ASeparator
  frontend/src/components/ariakit/separator/ASeparator.composable.ts
  frontend/src/components/ariakit/separator/ASeparator.vue
  frontend/src/components/ariakit/separator/meta/ASeparator.stories.ts
Due: i18n, types, eslint, test:unit

Add lg storybook dark snapshots
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-html-tab-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-plain-tab-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rich-tab-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-ltr-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-xml-tab-rtl-lg-dark-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-lg-dark-linux.png
  frontend/test/tapes/thumb/images/1f8564d1-a1de-40a7-b4c8-95892745784c_keep-alive.json5
  frontend/test/tapes/thumb/images/d3a2d9fd-14c0-4120-b875-a210c80fa601_keep-alive.json5
Due: i18n, types, eslint, test:unit

Make the tapes smaller
  frontend/test/proxy.js
  frontend/test/tapes/search/audio/q=Juan+L%C3%B3pez&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=games&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=graphs&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=plane&peaks=true_keep-alive.json5
Due: i18n, types, eslint, test:unit

Run k6 against local Nuxt on PRs
  .github/workflows/ci_cd.yml
Due: none

Use sample of real query terms
  docker/dev_env/Dockerfile
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/sample-query-terms.ts
  packages/js/k6/src/utils.ts
Due: types, eslint, test:unit

Write text summary during execution
  .github/workflows/ci_cd.yml
  packages/js/k6/.gitignore
  packages/js/k6/src/frontend/all.test.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/frontend/search-en.test.ts
  packages/js/k6/src/frontend/search-locales.test.ts
  packages/js/k6/src/frontend/static-en.test.ts
  packages/js/k6/src/frontend/static-locales.test.ts
  packages/js/k6/src/jslib-shim.ts
  packages/js/k6/src/sample-query-terms.ts
  packages/js/k6/src/summary.ts
  packages/js/k6/src/utils.ts
  packages/js/k6/typings/jslib.d.ts
Due: types, eslint, test:unit

Make the tapes smaller (#4985)
  frontend/test/proxy.js
  frontend/test/tapes/search/audio/q=Juan+L%C3%B3pez&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=games&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=graphs&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=plane&peaks=true_keep-alive.json5
Due: i18n, types, eslint, test:unit

Try fix just recipe bad substitution
  packages/js/k6/justfile
Due: types, test:unit

Fix flaky test
  frontend/test/playwright/e2e/search-navigation.spec.ts
Due: i18n, types, eslint, test:unit

Update frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/utils/expect-snapshot.ts
Due: i18n, types, eslint, test:unit

Use locales available in test for load testing
  .github/workflows/ci_cd.yml
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Update documentation/changelogs/frontend/2024.09.25.05.33.23.md
  documentation/changelogs/frontend/2024.09.25.05.33.23.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.09.25.05.33.23
  documentation/changelogs/frontend/2024.09.25.05.33.23.md
Due: fix-console-code-block, vale

Remove steps for unprepared k6 after staging frontend deploy
  .github/workflows/ci_cd.yml
Due: none

Use Elasticsearch configuration file to avoid tricky environment variable names
  docker-compose.yml
  docker/es/elasticsearch.yml
  docker/es/env.docker
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
