Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Ignore warning related to `USE_TZ` in Django 5.0
  api/pytest.ini
Due: none

Replace deprecated `ImageFont.getsize()` method
  api/catalog/api/utils/watermark.py
Due: none

Remove piexif
  api/Pipfile
  api/Pipfile.lock
  api/catalog/api/utils/watermark.py
  api/catalog/api/views/image_views.py
  api/test/unit/utils/watermark_test.py
Due: none

Link PR author to GitHub account
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github

Remove contributors section from release
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github

Remove credits section, update some references to github usernames
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
Due: none

Update newer references to include github username
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
Due: none

Only make the PR number itself a link
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github

Update api/conf/settings/__init__.py
  api/conf/settings/__init__.py
Due: none

Explicitly link all previous issue references
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
Due: none

Fix newer format
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
Due: none

Use correct link
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
Due: none

Remove link_issues extension
  documentation/_ext/link_issues.py
  documentation/conf.py
  documentation/meta/documentation/index.md
  documentation/meta/documentation/link_issues.md
Due: none

Fix one failed update
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
Due: none

Update dag doc gen tests
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
Due: none

Update comment language to match new approach
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
Due: none

Give test parameters descriptive names to improve test output readability
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
  catalog/tests/factories/github/__init__.py
Due: none

Update catalog/dags/providers/provider_api_scripts/museum_victoria.py
  catalog/dags/providers/provider_api_scripts/museum_victoria.py
Due: none

Update catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/nypl.py
Due: none

Fix v-copy-license test false-positive
  frontend/test/unit/specs/components/ImageDetails/v-copy-license.spec.js
Due: i18n, types, test:unit

Revert "Remove link_issues extension"
  documentation/_ext/link_issues.py
  documentation/conf.py
  documentation/meta/documentation/index.md
  documentation/meta/documentation/link_issues.md
Due: none

Remove `test-utils/render`
  .eslintrc.js
  frontend/src/components/LoadingIcon.vue
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/specs/components/VMediaTag/v-media-tag.spec.js
  frontend/test/unit/specs/components/loading-icon.spec.js
  frontend/test/unit/specs/components/related-audios.spec.js
  frontend/test/unit/specs/components/v-related-audio.spec.js
  frontend/test/unit/test-utils/render.js
Due: i18n, types, test:unit

Added a recreate recipe for frontend
  frontend/justfile
Due: i18n, types, test:unit

Disallow unexpect console output during tests and fix all errors
  frontend/package.json
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/composables/use-focus-on-show.ts
  frontend/test/unit/setup-after-env.js
  frontend/test/unit/specs/components/AudioTrack/v-full-layout.spec.js
  frontend/test/unit/specs/pages/browse-page.spec.js
  pnpm-lock.yaml
Due: i18n, types, test:unit

Updated subDir-loop-entry.sh to load_to_s3_entrypoint.sh
  docker-compose.yml
Due: none

Updated s3-entrypoint.sh to s3_entrypoint.sh
  docker-compose.yml
Due: none

recreate recipe added acc to requested changes.
  frontend/justfile
Due: i18n, types, test:unit

removed the recreate recipe
  frontend/justfile
Due: i18n, types, test:unit

Added the node-recreate recipe
  justfile
Due: none

Undo changes to unrelated files
  frontend/nuxt.config.ts
  frontend/test/storybook/playwright.config.ts
Due: i18n, types, test:unit

Lint entrypoints
  docker/minio/load_to_s3_entrypoint.sh
  docker/minio/s3_entrypoint.sh
Due: none

change in recreate recipe title
  justfile
Due: none

fixed accidental changes
  justfile
Due: none

Fix wrapping inside code/note blocks
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none

Add image as example of a Cloudflare page
  documentation/meta/traffic/runbooks/cloudflare_traffic_ui.png
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none

Remove redundant comment
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none
