Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Add more test coverage
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/mock_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Due: none

Fix error when initial_query_params not provided for Finnish
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
Due: none

Base Science Museum page number off previous params
  catalog/dags/providers/provider_api_scripts/science_museum.py
Due: none

Make logs more readable
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Due: none

Publish changelog for api-2024.04.26.13.37.05
  documentation/changelogs/api/2024.04.26.13.37.05.md
Due: none

Handle "sa" as a valid, deprecated license
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/tests/test_license.py
Due: types, test:unit

Remove untranslated locales from page generation and the locale chooser
  frontend/src/locales/scripts/get-validated-locales.js
Due: i18n, types, eslint, test:unit

Handle invalid licenses passed to enum
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/utils/watermark.py
Due: none

Provide attribution through `License` enum
  packages/python/openverse-attribution/src/openverse_attribution/attribution.py
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/tests/test_attribution.py
Due: types, test:unit

Update PR template with info about other doc generation, remove old file
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/default_template.md
Due: none

Add script for pushing to nuxt-preview frontend tag
  frontend/justfile
Due: i18n, types, test:unit

Update media moderation view
  api/api/admin/__init__.py
  api/api/models/media.py
  api/api/templates/admin/api/imagereport/change_form.html
Due: none

Add has_sensitive_text
  api/api/admin/__init__.py
Due: none

Move media report admins to a separate file
  api/api/admin/__init__.py
  api/api/admin/media_report.py
Due: none

Remove left-over templates from python file
  api/api/admin/media_report.py
Due: none

Move form html to the template
  api/api/admin/media_report.py
  api/api/templates/admin/api/imagereport/change_form.html
  api/api/templates/admin/api/media_report/change_form.html
Due: none

Update api/api/admin/media_report.py
  api/api/admin/media_report.py
Due: none

Fix thumb and report url; tags display
  api/api/admin/media_report.py
  api/api/templates/admin/api/media_report/change_form.html
Due: none

Reorder code
  api/api/admin/media_report.py
Due: none

Add changes from code review
  api/api/admin/media_report.py
  api/api/templates/admin/api/media_report/attribution.html
  api/api/templates/admin/api/media_report/change_form.html
Due: none

Remove argument name
  api/api/utils/watermark.py
Due: none

Accept "publicdomain"
  packages/python/openverse-attribution/src/openverse_attribution/license.py
Due: types, test:unit

Suggestions added
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Issue #3941 resolved
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Add missing space
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Remove unnecessary 'files'
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
Due: i18n, types, test:unit

Changes made.
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Add a missing article
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit
