Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Add project proposal
  rfcs/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
Due: none

Choose two reviewers
  rfcs/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
Due: none

Proxy Plausible calls via the Nuxt server
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, test:unit

Move static field outside runtime config
  frontend/nuxt.config.ts
Due: i18n, types, test:unit

Remove page-views middleware
  frontend/nuxt.config.ts
  frontend/src/middleware/page-views.ts
Due: i18n, types, test:unit

Remove function for sending events using Axios
  frontend/src/composables/use-analytics.ts
Due: i18n, types, test:unit

Remove code for storing dimensions in cookies
  frontend/src/composables/use-layout.ts
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
  frontend/test/unit/specs/stores/ui-store.spec.js
Due: i18n, types, test:unit

Simplify analytics composable
  frontend/src/composables/use-analytics.ts
Due: i18n, types, test:unit

Drop redundant events
  frontend/src/types/analytics.ts
Due: i18n, types, test:unit

Set `apiHost` instead of blank string which doesn't work
  frontend/nuxt.config.ts
Due: i18n, types, test:unit

Move folder for lint ignores
  .pre-commit-config.yaml
  templates/.pre-commit-config.local.yaml.jinja
Due: render-precommit, render-prettier, render-github

Linting
  README.md
  utilities/provider_tallies/README.md
Due: none

Move utilities into "utilities" subdirectory
  README.md
  utilities/dead_links/Pipfile
  utilities/dead_links/Pipfile.lock
  utilities/dead_links/dead_link_tally.py
  utilities/load_testing/.env.sh.template
  utilities/load_testing/.gitignore
  utilities/load_testing/Dockerfile
  utilities/load_testing/README.md
  utilities/load_testing/api.sh
  utilities/load_testing/get_word.sh
  utilities/load_testing/justfile
  utilities/load_testing/k6/main.js
  utilities/load_testing/k6/search.js
  utilities/load_testing/k6/utils.js
Due: none

Add a gitignore for the generated file
  utilities/provider_tallies/.gitignore
Due: none

Initial tally script
  utilities/provider_tallies/Pipfile
  utilities/provider_tallies/Pipfile.lock
  utilities/provider_tallies/README.md
  utilities/provider_tallies/provider_tally_stats.py
Due: none

Actually add start date logic
  utilities/provider_tallies/provider_tally_stats.py
Due: none

Add tunneling note
  utilities/provider_tallies/README.md
Due: none

Sort results before generating CSV
  utilities/provider_tallies/provider_tally_stats.py
Due: none

Add plot generation & CSV outputting
  utilities/provider_tallies/.gitignore
  utilities/provider_tallies/Pipfile
  utilities/provider_tallies/Pipfile.lock
  utilities/provider_tallies/provider_tally_stats.py
Due: none

Add a start date flag, update README
  utilities/provider_tallies/README.md
  utilities/provider_tallies/provider_tally_stats.py
Due: none

Only run stack label addition step on pull requests
  .github/workflows/ci_cd.yml
Due: none

Deploy to staging automatically on release
  .github/workflows/ci_cd.yml
Due: none

Add stack to label sync, allow emoji to be defined for whole group
  automations/data/labels.yml
  automations/python/models/label.py
  automations/python/models/label_group.py
Due: none

Update POT file
  openverse.pot
Due: none

Split deployment workflow into 4 separate workflows
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
  .github/workflows/deployment.yml
Due: none

Adding brand assets
  brand/ thumbnail-dark.svg
  brand/ thumbnail-small-dark.svg
  brand/ thumbnail-small-transparent.svg
  brand/ thumbnail-small-yellow.svg
  brand/ thumbnail-transparent.svg
  brand/ thumbnail-yellow.svg
  brand/wp-icon-openverse.svg
Due: none

Remove spaces from file names
  brand/thumbnail-dark.svg
  brand/thumbnail-small-dark.svg
  brand/thumbnail-small-transparent.svg
  brand/thumbnail-small-yellow.svg
  brand/thumbnail-transparent.svg
  brand/thumbnail-yellow.svg
Due: none

Move DB env inside `docker/` directory
  docker-compose.yml
  docker/db/env.docker
Due: none

Use PostgreSQL Dockerfile from catalog
  docker-compose.yml
  docker/upstream_db/0001_airflow_user_db.sql
  docker/upstream_db/0002_aws_s3_mock.sql
  docker/upstream_db/0003_openledger_image_schema.sql
  docker/upstream_db/0004_openledger_image_view.sql
  docker/upstream_db/0005_openledger_old_image_schema.sql
  docker/upstream_db/0006_openledger_audio_schema.sql
  docker/upstream_db/0007_openledger_audio_view.sql
  docker/upstream_db/Dockerfile
  docker/upstream_db/env.docker
Due: none

Prevent stemming of universe
  ingestion_server/ingestion_server/es_mapping.py
Due: none
