Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Add new packages to doc site
  documentation/conf.py
  documentation/packages/index.md
  documentation/packages/js/api_client/index.md
  documentation/packages/js/eslint_plugin/analytics_configuration.md
  documentation/packages/js/eslint_plugin/index.md
  documentation/packages/js/eslint_plugin/no-unexplained-disabled-test.md
  documentation/packages/python/api_client/index.md
  documentation/packages/python/openverse_attribution/index.md
  packages/js/api-client/LICENSE
  packages/js/api-client/README.md
  packages/js/api-client/package.json
  packages/js/eslint-plugin/README.md
  packages/python/api-client/README.md
  packages/python/openverse-attribution/README.md
Due: types, eslint, test:unit

Use production API to generate and add generated file notice
  packages/js/api-client/src/generated/models.ts
  packages/js/api-client/src/generated/routes.ts
  packages/python/api-client/pyproject.toml
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/models.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/main.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.ts.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
Due: types, eslint, test:unit

Improve api-client packages build scripts
  docker/dev_env/Dockerfile
  packages/js/api-client/.gitignore
  packages/js/api-client/package.json
  packages/python/api-client/pyproject.toml
Due: types, eslint, test:unit

Update source sorting
  frontend/src/components/VSourcesTable.vue
Due: i18n, types, eslint, test:unit

Add Python types check to pre-commit
  .pre-commit-config.yaml
  justfile
Due: none

Add a space between sentences
  frontend/src/pages/sources.vue
Due: i18n, types, eslint, test:unit

Snapshots
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: i18n, types, eslint, test:unit

Break line to conform to linting rules
  documentation/general/general_setup.md
Due: none

Remove the url cleanup steps
  ingestion_server/ingestion_server/cleanup.py
Due: none

Update dependency eslint-plugin-vitest to ^0.5.0
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Remove the use of `import.meta.env`
  frontend/.env.template
  frontend/nuxt.config.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
  frontend/src/utils/console.ts
  frontend/src/utils/focus-management.ts
Due: i18n, types, eslint, test:unit

Track localhost in Plausible
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Add comment on Plausible trackLocalhost
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Nuxt.config documentation improvements (#4707)
  frontend/nuxt.config.ts
  frontend/src/constants/disallowed-bots.ts
Due: i18n, types, eslint, test:unit

Move head to app.vue
  frontend/nuxt.config.ts
  frontend/src/app.vue
Due: i18n, types, eslint, test:unit

Fix cookies in unit test
  frontend/test/unit/specs/stores/ui-store.spec.js
Due: i18n, types, eslint, test:unit

Update frontend/.env.template
  frontend/.env.template
Due: i18n, types, test:unit

Revert cookie changes
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
Due: i18n, types, eslint, test:unit

Remove indexable plugin
  frontend/server/plugins/indexable.ts
Due: i18n, types, eslint, test:unit

Revert media-store test change
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
Due: i18n, types, eslint, test:unit

Fix unit tests
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
Due: i18n, types, eslint, test:unit

Changes to console.ts
  frontend/src/utils/console.ts
Due: i18n, types, eslint, test:unit

Remove `name` from Locale types
  frontend/typings/nuxt__types/index.d.ts
Due: i18n, types, eslint, test:unit

Set plausible variables for Playwright tests
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Try fixing nitro build
  frontend/src/app.config.ts
Due: i18n, types, eslint, test:unit

Remove the use of DEPLOYMENT_ENV
  frontend/Dockerfile
  frontend/src/stores/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
Due: i18n, types, eslint, test:unit

Use import.meta.test
  frontend/src/utils/focus-management.ts
Due: i18n, types, eslint, test:unit

Use appConfig for build time vars
  frontend/nuxt.config.ts
  frontend/server/plugins/sentry.ts
  frontend/src/app.config.ts
  frontend/src/plugins/01.sentry.client.ts
  frontend/typings/nuxt__types/index.d.ts
Due: i18n, types, eslint, test:unit

Add release to Nuxt sentry plugin
  frontend/src/plugins/01.sentry.client.ts
Due: i18n, types, eslint, test:unit

Add suggestions from code review
  frontend/.env.template
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Remove env.template
  frontend/.env.template
Due: i18n, types, test:unit

Remove unused variables; use savedSearchCount
  frontend/nuxt.config.ts
  frontend/src/stores/search.ts
  frontend/test/unit/specs/stores/provider.spec.js
Due: i18n, types, eslint, test:unit

Remove variables not used during build
  frontend/Dockerfile
Due: i18n, types, test:unit

Add automated Python package checks to CI
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/packages.md
  justfile
  packages/js/api-client/package.json
  packages/python/openverse-attribution/pyproject.toml
Due: types, eslint, test:unit

Do not run unit tests when building @openverse/api-client
  packages/js/api-client/package.json
Due: types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
