Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-dark-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-hovered-dark-linux.png
Due: i18n, types, test:unit

Use border-tx button for search type
  frontend/src/components/VButton.vue
  frontend/src/components/VContentSwitcher/VSearchTypeButton.vue
  frontend/src/components/meta/VButton.stories.js
  frontend/src/types/button.ts
Due: i18n, types, eslint, test:unit

Fix search bar focus styles
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
Due: i18n, types, eslint, test:unit

Fix border and text-secondary colors
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VTabs/VTabPanel.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Update the homepage dark color
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VHeader/VHeader.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/layouts/default.vue
  frontend/src/pages/index.vue
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-xl-dark-linux.png
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-light-linux.png
Due: i18n, types, test:unit

Use inner ring for search button focus ring
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
Due: i18n, types, eslint, test:unit

Fix the popover border color
  frontend/src/components/VPopover/VPopoverContent.vue
Due: i18n, types, eslint, test:unit

Fix close buttons
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
Due: i18n, types, eslint, test:unit

Fix button borders
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
Due: i18n, types, eslint, test:unit

Make sure button is hovered in test
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for catalog-2024.10.17.13.59.15
  documentation/changelogs/catalog/2024.10.17.13.59.15.md
Due: fix-console-code-block, vale

Update dependency nuxt to v3.13.2
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix the page links
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VWordPressLink.vue
Due: i18n, types, eslint, test:unit

Fix focus-slim-offset offset color
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Fix link focus rings
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VLink.vue
  frontend/src/error.vue
  frontend/src/styles/accent.css
Due: i18n, types, eslint, test:unit

Publish changelog for ingestion_server-2024.10.18.03.31.56
  documentation/changelogs/ingestion_server/2024.10.18.03.31.56.md
Due: fix-console-code-block, vale

Fix flaky e2e preferences test
  frontend/src/pages/preferences.vue
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.48.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Initialize the stores only on the server
  frontend/src/plugins/01.api-token.server.ts
  frontend/src/plugins/02.init-stores.server.ts
  frontend/src/plugins/analytics.ts
  frontend/src/plugins/sentry.client.ts
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-unsuccessful.spec.js
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
