Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Remove line-clamping for h1 and fix CTA placement
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/pages/image/_id/index.vue
Due: i18n, types, eslint, test:unit

Clarify separation of event name and action
  .github/workflows/issue_automations.yml
  automations/js/src/project_automation/issues.mjs
Due: none

Extract CLI parsing into a util to share between issues and PRs
  automations/js/src/project_automation/issues.mjs
  automations/js/src/utils/event.mjs
Due: none

Fix documentation typo
  automations/js/src/project_automation/issues.mjs
Due: none

Add automations for PRs
  .github/workflows/pr_automations.yml
  automations/js/src/project_automation/prs.mjs
  automations/js/src/utils/pr.mjs
Due: none

Strip leading numbers from column names
  automations/js/src/utils/projects.mjs
Due: none

Fix sync for PR automations
  .github/sync.yml
Due: none

Document the project automation files
  documentation/automations/reference/index.md
  documentation/automations/reference/project_automations.md
Due: none

Use `reviewDecision` to determine column placement
  automations/js/src/project_automation/prs.mjs
  automations/js/src/utils/pr.mjs
Due: none

Use `init` function to populate extra PR info
  automations/js/src/project_automation/prs.mjs
  automations/js/src/utils/pr.mjs
Due: none

Move critical issues directly to the "To Do" column
  automations/js/src/project_automation/issues.mjs
Due: none

Move linked issues for PR open, reopen, edited and closed events
  .github/workflows/pr_automations.yml
  automations/js/src/project_automation/prs.mjs
Due: none

Update documentation
  documentation/meta/project_boards/issues.md
  documentation/meta/project_boards/prs.md
Due: none

Fix broken links
  documentation/projects/proposals/project_improvement/20230914-implementation_plan_project_automations.md
Due: none

Remove stray space
  .github/workflows/pr_automations.yml
Due: none

Add steps to check out repo and setup CI environment
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Due: none

Ignore event data payload
  automations/js/.gitignore
Due: none

Allow PR automations to run on fork PRs as well
  .github/sync.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
Due: none

Improve scrolling
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
Due: i18n, types, test:unit

Add VByLine and VMediaInfo to SRP
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.mdx
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/pages/image/_id/index.vue
Due: i18n, types, eslint, test:unit

Fix tag spacing
  frontend/src/components/VMediaInfo/VMediaTags.vue
Due: i18n, types, eslint, test:unit

Update fading
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Add items-center to audio full layout
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
Due: i18n, types, test:unit

Update scroll button spacings
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Make chevron icons RTL-friendly
  frontend/src/assets/svg/raw/chevron-back.svg
  frontend/src/assets/svg/raw/chevron-forward.svg
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/meta/VSearchBarButton.stories.mdx
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
Due: i18n, types, test:unit

Remove unused variable
  frontend/src/pages/image/_id/index.vue
Due: i18n, types, eslint, test:unit

Expand documentation for the workflows
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
Due: none

Fix typo in variable name
  automations/js/src/utils/pr.mjs
Due: none

Add more spacing to scroll buttons
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

More fading
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
