Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Link to specific project board
  README.md
Due: vale

Update Project Board, Handbook, and Brand links in README (#5465)
  README.md
Due: vale

Update dependency prettier-plugin-tailwindcss to v0.6.14
  package.json
  pnpm-lock.yaml
Due: none

Update dependency @nuxtjs/storybook to v8.4.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Updated VImageResult.vue
  frontend/src/components/VImageResult/VImageResult.vue
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.55.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix: Treat HTTP 410 as dead link in provider status mappings (#5466)
  api/api/utils/check_dead_links/provider_status_mappings.py
  api/test/unit/utils/test_check_dead_links.py
Due: none

feat(airflow): Throttle ES health alerts to prevent fatigue
  .github/CODEOWNERS
  DAGs.md
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
Due: vale

Update DAGs.md
  DAGs.md
Due: vale

fix(i18n): improve warning logs and locale summary in translations script
  frontend/i18n/scripts/translations.mjs
Due: i18n, types, eslint, test:unit

Add a hotfix replacing the pipe character
  frontend/i18n/scripts/translations.mjs
Due: i18n, types, eslint, test:unit

Add a hotfix replacing the pipe character (#5496)
  frontend/i18n/scripts/translations.mjs
Due: i18n, types, eslint, test:unit

Remove uses of showThemeSwitcher
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Remove dark mode notices
  frontend/i18n/data/en.json5
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Docs: Update Python scripts table to reflect newer files
  documentation/automations/reference/python_scripts.md
Due: fix-console-code-block, vale

Remove dark mode notices (#5469)
  frontend/i18n/data/en.json5
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Update dependency apache-airflow to v2.10.5
  catalog/requirements-prod.txt
Due: none

Use `None` handler when the result of `run` is unused
  catalog/dags/common/loader/sql.py
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/popularity/sql.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Update Airflow config to new structure
  catalog/Dockerfile
Due: none

Resolve deprecation warnings
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Lint
  documentation/automations/reference/python_scripts.md
Due: fix-console-code-block, vale

Update dependency vue-i18n to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.12.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.19.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.3.6 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.12.0 [SECURITY] (#5476)
  pnpm-lock.yaml
Due: none

Update i18n and nuxt dependencies
  docker/dev_env/run.sh
  documentation/frontend/reference/i18n.md
  frontend/i18n/i18n.config.ts
  frontend/nuxt.config.ts
  frontend/package.json
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, fix-console-code-block, types, eslint, test:unit, vale

Update eslint i18n vue and types
  frontend/package.json
  frontend/src/app.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/error.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/index.vue
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency vite to v6.3.6 [SECURITY] (#5502)
  pnpm-lock.yaml
Due: none
