Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Create admin endpoints for soft locking/unlocking
  api/api/admin/media_report.py
Due: none

Highlight works that are in-moderation in the list view
  api/api/admin/media_report.py
  api/api/templates/admin/api/media_report/change_list.html
Due: none

Add a message if another moderator is looking at the same report
  api/api/admin/media_report.py
Due: none

Call the lock/unlock endpoints based on client events
  api/api/templates/admin/api/media_report/change_form.html
Due: none

Fix case of "API" in the Django Admin UI
  api/api/apps.py
Due: none

Handle failure to connect to Redis
  api/api/utils/moderation_lock.py
Due: none

Add function to get score for a username-object pair
  api/api/utils/moderation_lock.py
Due: none

Add tests for `LockManager`
  api/test/unit/utils/test_moderation_lock.py
Due: none

Only set the user-agent header on server
  frontend/src/data/api-service.ts
Due: i18n, types, eslint, test:unit

Fixed keyboard navigation in modal recent searches
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Refactor recent searches in store
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/composables/use-recent-searches.ts
  frontend/src/pages/search.vue
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Add e2e tests
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/test/playwright/e2e/mobile-menu.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
Due: i18n, types, eslint, test:unit

Fix tests
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xs-linux.png
Due: i18n, types, eslint, test:unit

Combine recent searches for desktop/mobile
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/composables/use-recent-searches.ts
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Fix test
  frontend/test/playwright/e2e/recent-searches.spec.ts
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xs-linux.png
Due: i18n, types, test:unit

Update the localSearchTerm on route change
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
Due: i18n, types, eslint, test:unit

Update frontend/src/data/api-service.ts
  frontend/src/data/api-service.ts
Due: i18n, types, eslint, test:unit

Lint and remove unused type
  frontend/src/data/api-service.ts
Due: i18n, types, eslint, test:unit

Configure IPython configuration dir
  api/.gitignore
  api/env.docker
  api/env.template
Due: none

Define startup scripts for IPython
  api/.gitignore
  api/.ipython/profile_default/startup/10_imports.py
Due: none

Import Django settings
  api/.ipython/profile_default/startup/10_imports.py
Due: none

Apply suggestions from code review
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: none

Final edits
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: none

Install tabulate
  catalog/requirements-prod.txt
Due: none

Improve slack message formatting
  catalog/dags/maintenance/add_license_url.py
Due: none

WIP
  catalog/dags/maintenance/add_license_url.py
Due: none

Publish changelog for api-2024.05.23.15.02.00
  documentation/changelogs/api/2024.05.23.15.02.00.md
Due: none

Show past decisions in "Change report" view
  api/api/admin/media_report.py
  api/api/templates/admin/api/media_report/change_form.html
Due: none

Add step for retrieving maintainers
  catalog/dags/common/github.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders_dag.py
Due: none

Use singular lock from usernames to report IDs
  api/api/utils/moderation_lock.py
Due: none

Create a function to get all moderators
  api/api/models/moderation.py
Due: none

Avoid using `KEYS` because of bad performance
  api/api/utils/moderation_lock.py
  api/test/unit/utils/test_moderation_lock.py
Due: none

Use very short TTL for locks
  api/api/utils/moderation_lock.py
  api/test/unit/utils/test_moderation_lock.py
Due: none

Remove `self.redis` in favour of getting connections when needed
  api/api/utils/moderation_lock.py
  api/test/unit/utils/test_moderation_lock.py
Due: none

Remove need for unlocking as TTL is very short
  api/api/admin/media_report.py
  api/api/templates/admin/api/media_report/change_form.html
Due: none

Simplify the Redis handler decorator
  api/api/utils/moderation_lock.py
  api/test/unit/utils/test_moderation_lock.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
