Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Update frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VBackToSearchResultsLink.vue
Due: i18n, types, test:unit

Include PR number in changelist links
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github

Add flaky test documentation; link to it from playwright test failure comment
  .github/workflows/ci_cd.yml
  documentation/general/test.md
Due: none

Add a variant to the Skip to content button
  frontend/src/components/VSkipToContentContainer.vue
Due: i18n, types, test:unit

Remove the old `primary` variant
  frontend/src/components/VButton.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/types/button.ts
Due: i18n, types, test:unit

Add variant to the unit tests
  frontend/test/unit/specs/components/v-button.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
Due: i18n, types, test:unit

Rename s3-entrypoint.sh to s3_entrypoint.sh
  docker/minio/s3_entrypoint.sh
Due: none

Rename subDir-loop-entrypoint.sh to load_to_s3_entrypoint.sh
  docker/minio/load_to_s3_entrypoint.sh
Due: none

Update api/api/docs/image_docs.py
  api/api/docs/image_docs.py
Due: none

Handle more than one value for a url query parameter
  frontend/src/stores/search.ts
  frontend/src/utils/search-query-transform.ts
  frontend/test/unit/specs/stores/search-store.spec.js
Due: i18n, types, test:unit

Apply changes from code review
  frontend/test/unit/setup.js
  frontend/test/unit/specs/components/v-back-to-search-results-link.spec.js
Due: i18n, types, test:unit

Improve ability to quickly re-run tests inside the Docker context
  frontend/docker-compose.playwright.yml
  frontend/package.json
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, test:unit

Fall back to aria-label if title not present
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
Due: i18n, types, test:unit

Update comment and remove redundant aria-disabled attribute
  frontend/src/components/VContentLink/VContentLink.vue
Due: i18n, types, test:unit

Add media type context to start of result link titles
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
Due: i18n, types, test:unit

Update VBackToSearchResultsLink.vue
  frontend/src/components/VBackToSearchResultsLink.vue
Due: i18n, types, test:unit

Remove duplicated gap value in VNoResults
  frontend/src/components/VErrorSection/VNoResults.vue
Due: i18n, types, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xs-linux.png
Due: i18n, types, test:unit

Fix linting
  frontend/src/components/VBackToSearchResultsLink.vue
Due: i18n, types, test:unit

Revert no-results snapshot changes
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xs-linux.png
Due: i18n, types, test:unit

Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v7.17.10
  docker-compose.yml
Due: none

Refactor `utils.photon.get`
  api/catalog/api/utils/photon.py
Due: none

Raise exception for unsuccessful requests
  api/catalog/api/utils/photon.py
Due: none

Test unsuccessful request raises exception
  api/test/unit/utils/photon_test.py
Due: none

Refactor photon exception tests
  api/test/unit/utils/photon_test.py
Due: none

Move comment about Photon options
  api/catalog/api/utils/photon.py
Due: none

Update documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none

Apply suggestions from code review
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none

Update with @sarayourfriend's suggestions
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none

Format
  documentation/meta/traffic/runbooks/identifying-and-blocking-traffic-anomalies.md
Due: none

Add traffic docs to the meta toc'
  documentation/meta/index.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
