Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Added test for report load completion in reingestion workflow and modified reporting function to handle reingestion workflows
  catalog/dags/common/loader/reporting.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Due: none

Refactor assertion for 'is_reingestion_workflow' in test_provider_dag_factory.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Due: none

Apply ruff-format changes
  catalog/tests/dags/providers/test_provider_dag_factory.py
Due: none

Derive features from feature-flags.json
  frontend/src/stores/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Use semantic tests
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Update frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Update frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Fix cookie type in e2e tests
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, eslint, test:unit

Fix the feature flags in production on hydration
  frontend/feat/feature-flags.json
  frontend/nuxt.config.ts
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/test-utils/pinia.js
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.04.13.16.19.50
  documentation/changelogs/frontend/2024.04.13.16.19.50.md
Due: none

Remove redundant `cpus` key
  frontend/docker-compose.playwright.yml
Due: i18n, types, test:unit

Extract API services to a separate Compose file
  api/compose.yml
  docker-compose.yml
Due: none

Extract ingestion server services to a separate Compose file
  docker-compose.yml
  ingestion_server/compose.yml
Due: none

Extract catalog services to a separate Compose file
  catalog/compose.yml
  docker-compose.yml
Due: none

Extract frontend services to a separate Compose file
  docker-compose.yml
  frontend/compose.yml
Due: i18n, types, test:unit

Fix the back to results button
  frontend/src/middleware/single-result.ts
Due: i18n, types, eslint, test:unit

SEt additional search views to enabled
  frontend/feat/feature-flags.json
Due: i18n, types, eslint, test:unit

Update frontend/src/middleware/single-result.ts
  frontend/src/middleware/single-result.ts
Due: i18n, types, eslint, test:unit

Fix Playwright tests
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.04.15.15.20.23
  documentation/changelogs/frontend/2024.04.15.15.20.23.md
Due: none

Reduce nesting in main function
  ingestion_server/test/gen_integration_compose.py
Due: none

Read config from `docker compose config` instead of file
  ingestion_server/test/gen_integration_compose.py
Due: none

Remove redundant transformations
  ingestion_server/test/gen_integration_compose.py
Due: none

Reduce hardcoding in volumes to remove
  ingestion_server/test/gen_integration_compose.py
Due: none

Reduce hardcoding in env vars pointing to other services
  ingestion_server/test/env.integration
  ingestion_server/test/gen_integration_compose.py
Due: none

Simplify code to remap ports
  ingestion_server/test/gen_integration_compose.py
Due: none

Build envs before running ingestion server integration tests
  .github/workflows/ci_cd.yml
Due: none

Publish changelog for api-2024.04.15.17.18.29
  documentation/changelogs/api/2024.04.15.17.18.29.md
Due: none

Update link and trigger rule
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Due: none

Accept aetherunbound approval
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Due: none

Lint approval
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Due: none
