Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Set site indexability at runtime
  frontend/server/plugins/indexable.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.07.30.16.33.18
  documentation/changelogs/frontend/2024.07.30.16.33.18.md
Due: none

Add filter to filter sensitive and deleted media by decision ID
  api/api/admin/media_report.py
  api/api/templates/admin/api/filters/media_decision.html
Due: none

Update decision view with new filter and links to the sensitive/deleted media lists
  api/api/admin/media_report.py
  api/api/templates/admin/api/media_decision/change_form.html
Due: none

Publish changelog for api-2024.07.30.17.36.41
  documentation/changelogs/api/2024.07.30.17.36.41.md
Due: none

Rename variable
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_cleanup.py
Due: none

Ensure CODEOWNERS matches from top level rather than anywhere in path
  .github/CODEOWNERS
Due: codeowners-validator

Initial filtering data steps (copied and modified from ingestion server)
  catalog/dags/data_refresh/filter_data.py
Due: none

Add override for default filter batch size
  catalog/dags/data_refresh/filter_data.py
  catalog/env.template
Due: none

Move script to top of the file and add component name
  frontend/src/pages/about.vue
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/[id]/report.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/index.vue
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  frontend/src/pages/tags.vue
Due: i18n, types, eslint, test:unit

Align groups
  .github/CODEOWNERS
Due: codeowners-validator

Add missed file to codowners
  .github/CODEOWNERS
Due: codeowners-validator

Add filter data step to DAG factory
  catalog/dags/data_refresh/dag_factory.py
Due: none

Update button text
  api/api/templates/admin/api/media_decision/change_form.html
Due: none

Improve code quality in `queryset` function
  api/api/admin/media_report.py
Due: none

Swap multiprocessing for standard batching strategy
  catalog/dags/data_refresh/filter_data.py
Due: none

Fix row estimate query and bounds computation
  catalog/dags/data_refresh/filter_data.py
Due: none

Create the dark mode feature flag and useDarkMode composable. Toggle body class
  frontend/feat/feature-flags.json
  frontend/src/app.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Cleanup
  catalog/dags/data_refresh/filter_data.py
Due: none

Remove need for explicit Variable retrieval
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/filter_data.py
Due: none

Drop Elasticsearch throttling on Ingestion Server
  ingestion_server/ingestion_server/indexer.py
Due: none

Adjust colors based on modified hex values
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Add tests, rename functions
  catalog/dags/data_refresh/filter_data.py
  catalog/tests/dags/data_refresh/test_filter_data.py
Due: none

Remove dark-pink and add the semantic color names
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VScrollButton.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Update @openverse/eslint-plugin
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update Vue and remove modal hotfix
  frontend/package.json
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.5.4
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit
