Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Publish changelog for frontend-2024.09.05.07.51.39
  documentation/changelogs/frontend/2024.09.05.07.51.39.md
Due: fix-console-code-block, vale

Update POT file
  openverse.pot
Due: none

Update Pinia
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update Nuxt to v3.13.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add typing fix
  frontend/typings/extend.d.ts
Due: i18n, types, eslint, test:unit

Update Vue
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Revert Pinia updates
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Make `additional_where` optional for batched update
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/tests/dags/database/test_batched_update.py
Due: none

Add steps to create and populate the filtered index
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Get sensitive terms list
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/entrypoint.sh
  catalog/env.template
  indexer_worker/indexer_worker/api.py
  indexer_worker/indexer_worker/static/mock_sensitive_terms.txt
Due: none

Use hard coded index config for new index, instead of basing off existing index
  catalog/dags/data_refresh/create_and_promote_index.py
  catalog/dags/data_refresh/es_mapping.py
Due: none

Pull out run_sql utility
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/copy_data.py
Due: none

Do not promote if reindexing fails!
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Don't dynamically map separate tasks for creating each index
  catalog/dags/data_refresh/promote_table.py
Due: none

Add tests
  catalog/dags/data_refresh/promote_table.py
  catalog/tests/dags/data_refresh/test_remap_table_constraints.py
  catalog/tests/dags/data_refresh/test_remap_table_indices.py
Due: none

First attempt to generate table indices using dynamic mapping
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/promote_table.py
Due: none

Add promote table steps
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/promote_table.py
  catalog/dags/data_refresh/queries.py
Due: none

Fix dependencies between index and constraint remapping
  catalog/dags/data_refresh/remap_table_indices.py
Due: none

Ensure all copy data steps run one at a time
  catalog/dags/data_refresh/copy_data.py
Due: none

Add map index template to dynamic promotion tasks
  catalog/dags/data_refresh/promote_table.py
Due: none

Remove unused function, fix typo
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Add docstrings, split index/constraints out into separate files
  catalog/dags/data_refresh/create_index.py
  catalog/dags/data_refresh/promote_table.py
  catalog/dags/data_refresh/remap_table_constraints.py
  catalog/dags/data_refresh/remap_table_indices.py
Due: none

Add apply_constraints steps mirroring ingestion server implementation
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/promote_table.py
  catalog/dags/data_refresh/queries.py
Due: none

Promote indices
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/dag_factory.py
Due: none

Correctly drop orphans referencing records that do not exist in the temp table
  catalog/dags/data_refresh/promote_table.py
Due: none

Fix bug with index offsets when running consecutive data refreshes
  catalog/dags/data_refresh/create_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Make filtered index timeouts configurable
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
Due: none

Do not remap unique constraints
  catalog/dags/data_refresh/promote_table.py
Due: none

Correctly report record count of the promoted index, not the old one
  catalog/dags/data_refresh/dag_factory.py
Due: none

Fix handful of networking issues including silence errors
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/extension.py
  api/api/views/image_views.py
  api/test/unit/utils/test_check_dead_links.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Add migrations
  api/api/migrations/0069_alter_contentsource_source_identifier.py
  api/latest_migrations/api
Due: none

Update `ContentProvider` to match `MediaMixin`
  api/api/models/models.py
Due: none

Use white-72 instead of white-88 for the sensitive content overlay
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit
