Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Update the lock file
  api/Pipfile.lock
Due: none

Remove unnecessary method overrides and fix various path issues
  api/api/docs/base_docs.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
Due: none

Fix schema for all endpoints except auth
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/docs/oauth2_docs.py
  api/api/serializers/error_serializers.py
  api/api/serializers/media_serializers.py
  api/api/serializers/provider_serializers.py
  api/api/utils/exceptions.py
  api/api/views/media_views.py
Due: none

Handle invalid credentials for /token view
  api/api/views/oauth2_views.py
Due: none

Catch both DRF and Django Validation errors
  api/api/serializers/media_serializers.py
Due: none

Fix test errors
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/docs/oauth2_docs.py
  api/api/serializers/media_serializers.py
  api/api/views/oauth2_views.py
Due: none

Remove unnecessary CI test
  .github/workflows/ci_cd.yml
Due: none

Add Invalid credentials error
  api/api/docs/oauth2_docs.py
  api/api/views/oauth2_views.py
Due: none

Add `alt_files` serializer
  api/api/serializers/audio_serializers.py
Due: none

Create a new section for gitignore
  api/.gitignore
Due: none

Update frontend/src/utils/get-additional-sources.ts
  frontend/src/utils/get-additional-sources.ts
Due: i18n, types, eslint, test:unit

Pin dependencies up to minor version
  api/Pipfile
  api/Pipfile.lock
Due: none

Use GitHub script to handle JSON escaping
  .github/workflows/pr_ping.yml
Due: none

resolve import merge conflict (#5711)
  api/api/admin/__init__.py
Due: none

Add copyrigh disclaimer text
  frontend/src/components/VMediaInfo/VMediaReuse.vue
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Due: i18n, types, test:unit

Add Arabic machine translation and update media-reuse snapshots
  frontend/test/locales/ar.json
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-lg-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-md-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
Due: i18n, types, eslint, test:unit

Skip flaky test
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
Due: i18n, types, eslint, test:unit

Fix flaky test grouping
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
Due: i18n, types, eslint, test:unit

Update Node.js to v18.19.1
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency elasticsearch to v8.12.1
  api/Pipfile
  api/Pipfile.lock
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Revert "Update Node.js to v18.19.1 (#3854)"
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update workflows
  .github/workflows/pr_label_check.yml
  .pre-commit-config.yaml
Due: none

Update dependency apache-airflow to v2.8.2 [SECURITY]
  catalog/requirements-prod.txt
Due: none

Bump requests-file version as per required constraint
  catalog/requirements-prod.txt
Due: none

Update dependency @playwright/test to v1.42.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency fakeredis to v2.21.1
  api/Pipfile
  api/Pipfile.lock
Due: none

Update dependency prettier-plugin-tailwindcss to v0.5.11
  package.json
  pnpm-lock.yaml
Due: none

Bump precommit `prettier-plugin-tailwindcss` version and update prettier.config.js to use a string instead of require() for importing prettier-plugin-tailwindcss
  .pre-commit-config.yaml
  prettier.config.js
Due: none

Update prettier to v3.x
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: none

Update prettier to v3.x
  .pre-commit-config.yaml
  frontend/.remake/story/remake-name.stories.mdx
  frontend/src/app.html
  frontend/src/assets/fonts.css
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/data/media-service.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/search.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/specs/plugins/api-token.server.spec.ts
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
Due: i18n, types, eslint, test:unit
