Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update dependency @sentry/nuxt to v8.49.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Revert unnecessary dependency updates
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Try fixing corepack/pnpm; update axios
  .github/actions/setup-env/action.yml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Use corepack 0.31.0
  .devcontainer/post_create.sh
  docker/dev_env/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.playwright
Due: i18n, types, test:unit

Update dependency @octokit/rest to v21.1.0
  automations/js/package.json
  pnpm-lock.yaml
Due: eslint

Update dependency nock to v14.0.0
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update parameters value
  catalog/dags/providers/provider_reingestion_workflows.py
Due: none

Update workflows
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update dependency prettier-plugin-tailwindcss to v0.6.11
  package.json
  pnpm-lock.yaml
Due: none

Update dependency typescript to v5.7.3
  frontend/package.json
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update @openverse/eslint-plugin
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update vitest to trigger all checks in CI
  frontend/package.json
  packages/js/api-client/package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update storybook monorepo to v8.5.3
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pre-commit hook renovatebot/pre-commit-hooks to v39.158.2
  .pre-commit-config.yaml
Due: none

Update dependency @vercel/nft to ^0.29.0
  package.json
  pnpm-lock.yaml
Due: none

Update dependency vitest to v3.0.5 [SECURITY]
  pnpm-lock.yaml
Due: none

Add 502 to the statuses that are replaced with 424
  frontend/nginx/nginx.conf.template
Due: i18n, types, test:unit

Add 504 and edit comments
  frontend/nginx/nginx.conf.template
Due: i18n, types, test:unit

Update dependency axios-mock-adapter to v2
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Remove axios-mock-adapter
  frontend/package.json
Due: i18n, types, eslint, test:unit

Capture token exception in Sentry instead of re-throwing
  frontend/src/plugins/01.api-token.server.ts
Due: i18n, types, eslint, test:unit

Fix the unit test
  frontend/test/unit/specs/utils/api-token.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-unsuccessful.spec.js
  frontend/test/unit/specs/utils/api-token/setup.js
Due: i18n, types, eslint, test:unit

Update the lock file
  pnpm-lock.yaml
Due: none

Update pnpm to v10.2.0
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Publish changelog for api-2025.02.05.11.12.38
  documentation/changelogs/api/2025.02.05.11.12.38.md
Due: fix-console-code-block, vale
