Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

VTag improvements
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VTag/VTag.vue
  frontend/test/unit/specs/components/VTag/v-tag.spec.js
Due: i18n, types, eslint, test:unit

added make_insert_query function
  catalog/tests/test_utils/sql.py
Due: none

used make_insert_query function in first occurance of load_data_query
  catalog/tests/dags/common/loader/test_sql.py
Due: none

Update unit tests
  frontend/test/unit/specs/components/VTag/v-tag.spec.js
Due: i18n, types, eslint, test:unit

added types and docstring
  catalog/tests/test_utils/sql.py
Due: none

refactored all remanining places to use the new make_insert_query function
  catalog/tests/dags/common/loader/test_sql.py
Due: none

edited docstring to please linter
  catalog/tests/test_utils/sql.py
Due: none

Rename variables for denied tags
  catalog/dags/common/storage/media.py
Due: none

Sort TAG_DENYLIST and add term
  catalog/dags/common/storage/media.py
Due: none

Change raw_tags type to `set` in storage classes
  catalog/dags/common/storage/audio.py
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
Due: none

Update raw_tags from justtakeitfree and metropolitan_museum
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_justtakeitfree.py
  catalog/tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
Due: none

Update raw_tags from flickr
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_long_tags_string.json
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_unsorted_tags.json
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_varying_tags_whitespace.json
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
Due: none

Update raw_tags from smithsonian, stocksnap and wordpress
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Due: none

Update raw_tags from nappy, nypl and rawpixel
  catalog/dags/common/storage/media.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
  catalog/tests/dags/providers/provider_api_scripts/test_rawpixel.py
Due: none

Update raw_tags from audio providers
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
Due: none

Update raw_tags from cc_mixter and finnish_museums
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
Due: none

Update docstring for `watermarked` and remove extra str in `TAG_DENYLIST`
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
Due: none

Check for emptiness of case.split function input
  frontend/src/utils/case.ts
Due: i18n, types, eslint, test:unit

Automatically label project proposal PRs
  .github/auto-label.json
Due: none

Explain the new documentation hierarchy and the changes to the catalog's output files
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Due: none

Update frontend/src/utils/case.ts
  frontend/src/utils/case.ts
Due: i18n, types, eslint, test:unit

Reset the media store state if collection state changes
  frontend/src/data/api-service.ts
  frontend/src/middleware/collection.ts
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Remove unrelated change
  frontend/src/data/api-service.ts
Due: i18n, types, eslint, test:unit

Improve comparisons
  frontend/src/middleware/collection.ts
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Add context comments to i18n key
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/search-help.vue
  frontend/src/plugins/vue-i18n.ts
Due: i18n, types, eslint, test:unit

jsu removed, init.py updated
  api/api/utils/image_proxy/__init__.py
Due: none

Make the Nuxt checks more flexible
  .github/workflows/ci_cd.yml
Due: none

Move notes above help-text and remove "Notes:" prefix
  api/api/management/commands/documentmedia.py
  documentation/meta/media_properties/api.md
Due: none

Add docstrings to frontend media models
  frontend/src/types/media.ts
Due: i18n, types, eslint, test:unit

Add script to generate frontend media properties documentation
  documentation/meta/media_properties/frontend.md
  documentation/meta/media_properties/index.md
  frontend/package.json
  frontend/scripts/document-media.js
  frontend/scripts/preamble.md
Due: i18n, types, eslint, test:unit

Add frontend media properties generation check to CI
  .github/workflows/ci_cd.yml
  frontend/justfile
Due: i18n, types, test:unit

Collect common media report code under the abstract model
  api/api/admin/__init__.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
Due: none

Handle canonical origin without trailing slash
  api/api/models/media.py
Due: none

Create abstract and concrete decision models
  api/api/constants/moderation.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
Due: none

Link report models to decision models via FK
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
Due: none
