Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Collect all relevant info in one file
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
  automations/js/src/project_automation/prs.mjs
Due: none

Make `columns` a field instead of computed property
  automations/js/src/utils/projects.mjs
Due: none

Extract methods outside `main`
  automations/js/src/project_automation/issues.mjs
  automations/js/src/project_automation/prs.mjs
Due: none

Use the correct token
  .github/workflows/pr_automations.yml
Due: none

Update comments to reflect code changes
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
Due: none

Fix scrolling edge-cases
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Stop using the ui store for button variant
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Use `pull_request` instead of `pull_request_target` because it doesn't matter
  .github/workflows/pr_automations_init.yml
  automations/js/src/project_automation/prs.mjs
Due: none

Update tests for async implementation
  api/test/conftest.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Add requested changes
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VScroller.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Remove duplicated fixture
  api/test/unit/utils/test_aiohttp.py
Due: none

Update dag docs
  documentation/catalog/reference/DAGs.md
Due: none

Avoid module name conflicts
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/es/recreate_staging_index/recreate_full_staging_index.py
  catalog/dags/es/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/tests/dags/test_dag_parsing.py
Due: none

Add SENTRY_RELEASE environment variable to relevant dockerfiles
  api/Dockerfile
  frontend/Dockerfile
  ingestion_server/Dockerfile
Due: i18n, types, test:unit

Fix dynamic excluded provider caching
  api/api/controllers/search_controller.py
Due: none

Update tests
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Update api/api/controllers/search_controller.py
  api/api/controllers/search_controller.py
Due: none

Use constant in tests
  api/test/unit/controllers/elasticsearch/test_related.py
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Fix path to automation `.mjs` files
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Due: none

Update error_images.json
  frontend/src/assets/error_images.json
Due: i18n, types, eslint, test:unit

Update the change in packages directory
  .eslintrc.js
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-single-line-brace.ts
Due: types, eslint, test:unit

Update the change in packages directory
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-single-line-brace.ts
Due: types, eslint, test:unit

Remove redundant CI setup step
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Due: none

Specify full path to the `.mjs` file
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Due: none

Use the `ACCESS_TOKEN` secret instead of `GITHUB_TOKEN`
  .github/workflows/issue_automations.yml
  .github/workflows/pr_automations.yml
Due: none

Drop separate download fallback
  frontend/src/locales/scripts/get-translations.js
  frontend/src/locales/scripts/separate-download.js
Due: i18n, types, eslint, test:unit

Document the overview of the bulk download process
  documentation/frontend/reference/i18n.md
Due: none

Get rid of rate-limiting that's not needed anymore
  frontend/package.json
  frontend/src/locales/scripts/axios.js
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Remove scroll snap and update last 2 scrolls
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
Due: i18n, types, eslint, test:unit

Update the snapshots
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
Due: i18n, types, test:unit

Remove unused simple query string features
  api/api/controllers/search_controller.py
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/search-help.vue
Due: i18n, types, eslint, test:unit

Update the tests
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Use clearer name for new middlware
  api/api/middleware/response_headers_middleware.py
  api/conf/settings/base.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
