Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Refactor creatorHref
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Update bottom margin of the collection header
  frontend/src/components/VCollectionPage.vue
Due: i18n, types, eslint, test:unit

Add requested changes
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/utils/validate-collection-params.ts
Due: i18n, types, eslint, test:unit

Fix server rendering
  frontend/src/components/VCollectionPage.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/middleware/collection.ts
  frontend/src/pages/audio/source/_.vue
  frontend/src/pages/audio/tag/_tag.vue
  frontend/src/pages/image/source/_.vue
  frontend/src/pages/image/tag/_tag.vue
  frontend/src/utils/parse-collection-path.ts
  frontend/src/utils/validate-collection-params.ts
  frontend/test/unit/specs/utils/validate-collection-params.spec.js
Due: i18n, types, eslint, test:unit

Add e2e tests
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/tapes/response-293.json5
  frontend/test/tapes/response-314.json5
  frontend/test/tapes/response-333.json5
Due: i18n, types, eslint, test:unit

Add `z` option to bind volumes to solve SELinux permissions
  docker-compose.yml
Due: none

Fix health check view test pook usage
  api/test/unit/views/test_health_views.py
Due: none

Use aiohttp client exceptions instead of requests
  api/api/utils/image_proxy/__init__.py
  api/test/unit/conftest.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Fix e2e tests
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, eslint, test:unit

Implementing the solution for brackets
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
Due: types, eslint, test:unit

Added Error MessageID to the right place
  packages/eslint-plugin/src/rules/analytics-configuration.ts
Due: types, eslint, test:unit

fix watermark error
  api/api/views/image_views.py
Due: none

Resolving some lint errors
  automations/js/src/project_thread_updates.js
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Resolving some lint errors
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: i18n, types, eslint, test:unit

Add missing word "monorepo"
  .github/workflows/label_sync.yml
Due: none

Log event name and action when cancelling labelling job
  automations/js/src/label_pr.mjs
Due: none

Resolving some lint errors
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Update frontend/src/locales/scripts/en.json5
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Update en.json5
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Pass core to the labelling job as well
  .github/workflows/pr_automations.yml
Due: none

Perform both automations independently of each other
  .github/workflows/pr_automations.yml
Due: none

Add project selection voting processing script
  utilities/project_planning/process_selection_votes.py
Due: none

Update dependency @types/node to v17.0.45
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update README
  utilities/project_planning/README.md
  utilities/project_planning/_docs/example_selection_spreadsheet.png
Due: none

Use markdown syntax in output
  utilities/project_planning/process_selection_votes.py
Due: none

Add catalog to dependencies to update by Renovate
  .github/renovate.json
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
