Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Add tests for the bulk moderation util
  api/test/unit/utils/test_moderation.py
Due: none

Fix incorrect patch
  api/test/unit/utils/test_moderation.py
Due: none

Mock ES to prevent deletions
  api/test/unit/utils/test_moderation.py
Due: none

Adds psql tooling and server to the dev installation
  docker/dev_env/Dockerfile
  documentation/general/general_setup.md
Due: none

Replace postgres-server with -devel
  docker/dev_env/Dockerfile
Due: none

Update documentation/general/general_setup.md psql definition
  documentation/general/general_setup.md
Due: none

Update docker/dev_env/Dockerfile
  docker/dev_env/Dockerfile
Due: none

Publish changelog for frontend-2024.07.26.14.38.19
  documentation/changelogs/frontend/2024.07.26.14.38.19.md
Due: none

Preemptively filter out Rekognition tags
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_cleanup.py
Due: none

Remove nonexistent directory from `just` recipe display list
  justfile
Due: none

Use logger only in Nitro server; fix Nuxt logger
  frontend/server/routes/robots.ts
  frontend/server/utils/logger.ts
  frontend/src/data/api-service.ts
  frontend/src/plugins/api-token.server.ts
  frontend/src/plugins/errors.ts
  frontend/src/utils/console.ts
  frontend/src/utils/focus-management.ts
Due: i18n, types, eslint, test:unit

Fix catalog checks
  .github/workflows/ci_cd.yml
Due: none

Remove postinstall
  .pre-commit-config.yaml
  frontend/package.json
  frontend/src/locales/scripts/get-translations.js
  justfile
  package.json
Due: i18n, types, eslint, test:unit

Settings and env variables
  frontend/.env.template
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Remove all usage of jest (#4591)
  .codespell/ignore_words.txt
  automations/data/labels.yml
  frontend/jest.config.ts
  frontend/test/unit/specs/stores/search-store.spec.js
  packages/js/eslint-plugin/README.md
  packages/js/eslint-plugin/jest.config.js
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/index.ts
  packages/js/eslint-plugin/vitest.config.mts
  pnpm-lock.yaml
  prettier.config.js
Due: i18n, types, eslint, test:unit

Simplify recent searches on mobile
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/types/modal.ts
Due: i18n, types, eslint, test:unit

Update dependencies
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Downgrade vue and nuxt to fix teleports
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/components/VModal/VInputModal.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix type issue
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
Due: i18n, types, eslint, test:unit

Update Sentry and remove dev hot-fix
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/server/plugins/sentry.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix modal issue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/utils/components.ts
Due: i18n, types, eslint, test:unit

Nuxt 3 robots.txt fixes (#4659)
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/server/routes/robots.ts
  frontend/src/constants/meta.ts
  frontend/src/pages/about.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/index.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  frontend/src/pages/tags.vue
  frontend/src/utils/og.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix homepage animation
  frontend/src/components/VHomeGallery/VHomeGallery.vue
Due: i18n, types, eslint, test:unit

Use deployment env for setting indexable
  frontend/nuxt.config.ts
  frontend/src/types/cookies.ts
Due: i18n, types, eslint, test:unit

Fix tests
  frontend/test/playwright/e2e/seo.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Improve env variables handling and docs
  frontend/.env.template
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/utils/console.ts
Due: i18n, types, eslint, test:unit

Allow robots on single result pages
  frontend/src/utils/og.ts
  frontend/test/playwright/e2e/seo.spec.ts
Due: i18n, types, eslint, test:unit

Remove temporary utilities for publishing
  frontend/justfile
Due: i18n, types, test:unit

Try fixing robots setup
  frontend/nuxt.config.ts
  frontend/src/utils/og.ts
  frontend/test/playwright/e2e/seo.spec.ts
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Implement review changes
  api/api/utils/moderation.py
  api/test/unit/models/test_media.py
Due: none

Add line break to keep text within line length limit
  documentation/general/general_setup.md
Due: none

Publish changelog for frontend-2024.07.30.12.38.56
  documentation/changelogs/frontend/2024.07.30.12.38.56.md
Due: none

Apply suggestions from code review
  documentation/changelogs/frontend/2024.07.30.12.38.56.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
