Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update dependency prettier-plugin-tailwindcss to v0.6.12
  package.json
  pnpm-lock.yaml
Due: none

Update docker.io/nginx Docker tag to v1.28.0
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Update dependency prettier-plugin-tailwindcss to v0.6.12 (#5435)
  package.json
  pnpm-lock.yaml
Due: none

Update docker.io/nginx Docker tag to v1.28.0 (#5438)
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Update dependency openapi-fetch to ^0.14.0
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency openapi-fetch to ^0.14.0 (#5436)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update Node.js to v22.16.0
  .devcontainer/devcontainer.json
Due: none

Update Node.js to v22.16.0 (#5439)
  .devcontainer/devcontainer.json
Due: none

Update dependency @nuxtjs/storybook to v8.3.5
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency freezegun to v1.5.2
  catalog/requirements-dev.txt
Due: none

Update dependency nock to v14.0.5
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency @playwright/test to v1.52.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency tldextract to v5.3.0
  catalog/requirements-prod.txt
Due: none

Update dependency nuxt to v3.16.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.1.6 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.16.0 [SECURITY] (#5446)
  pnpm-lock.yaml
Due: none

Update packages
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.53.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix type errors
  frontend/src/app.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/error.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Update dependency @nuxtjs/storybook to v8.4.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.53.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update docker.io/mccutchen/go-httpbin Docker tag to v2.18.3
  api/compose.yml
Due: none

Update dependency nock to v14.0.5 (#5434)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update docker.io/mccutchen/go-httpbin Docker tag to v2.18.3 (#5452)
  api/compose.yml
Due: none

Publish changelog for frontend-2025.07.03.14.31.53
  documentation/changelogs/frontend/2025.07.03.14.31.53.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2025.07.03.14.31.53 (#5457)
  documentation/changelogs/frontend/2025.07.03.14.31.53.md
Due: fix-console-code-block, vale

Update broken links in README.md
  README.md
Due: vale

Update Project Board, Handbook, and Brand links in README
  README.md
Due: vale

chore(docs): format README.md using Prettier
  README.md
Due: vale

Fix: Handle 410 (Gone) HTTP errors in dead link filtering
  410_IMPLEMENTATION_SUMMARY.md
  SOLUTION_SUMMARY.md
  api/api/serializers/media_serializers.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/check_dead_links/provider_status_mappings.py
  api/test/integration/test_410_dead_link_filtering.py
  api/test/integration/test_wordpress_410_issue.py
Due: vale
