Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Add links
  catalog/utilities/media_props_gen/docs/media_props.md
  documentation/meta/media_properties/catalog.md
Due: none

Fix db column types
  catalog/utilities/media_props_gen/generate_media_properties.py
  documentation/meta/media_properties/catalog.md
Due: none

Various updates
  catalog/utilities/media_props_gen/docs/media_props.md
  catalog/utilities/media_props_gen/generate_media_properties.py
Due: none

Add encoding problems to postamble
  catalog/utilities/media_props_gen/docs/media_props.md
  catalog/utilities/media_props_gen/docs/postamble.md
  documentation/meta/media_properties/catalog.md
Due: none

Update media-props doc
  documentation/meta/media_properties/catalog.md
Due: none

Add `updated_on` description
  catalog/utilities/media_props_gen/docs/media_props.md
  documentation/meta/media_properties/catalog.md
Due: none

Update utilities/load_testing/README.md
  utilities/load_testing/README.md
Due: none

Add load script for frontend
  utilities/load_testing/README.md
  utilities/load_testing/justfile
  utilities/load_testing/k6/frontend.js
  utilities/load_testing/k6/utils.js
Due: eslint

Use openverse.org by default
  utilities/load_testing/README.md
  utilities/load_testing/k6/frontend.js
  utilities/load_testing/k6/utils.js
Due: eslint

Fix scenarios param
  utilities/load_testing/justfile
Due: none

Replace deprecated VU and ITER
  utilities/load_testing/k6/frontend.js
Due: eslint

Add code review suggestion
  utilities/load_testing/README.md
Due: none

Record change info during PR automation init
  .github/workflows/pr_automations_init.yml
Due: none

Replace the link text with "Learn more"
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Display generated tags separately
  frontend/src/components/VMediaInfo/VCollapsibleTagSection.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/types/media.ts
Due: i18n, types, eslint, test:unit

Show "source tags" heading only if generated tags exist
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Fix generated tags heading
  frontend/src/components/VMediaInfo/VMediaTags.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
Due: i18n, types, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
Due: i18n, types, test:unit

Fix collections test
  frontend/test/playwright/e2e/collections.spec.ts
Due: i18n, types, eslint, test:unit

Fix source/provider alignment
  frontend/src/components/VMediaInfo/VMetadata.vue
Due: i18n, types, eslint, test:unit

Add "What is this" link to generated tags
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/generated-tags.vue
Due: i18n, types, eslint, test:unit

ensure required DB extension is installed before attempting to setup plausible
  .github/workflows/ci_cd.yml
  setup_plausible.sh
Due: none

Apply suggestions from code review
  catalog/utilities/media_props_gen/docs/media_props.md
  documentation/meta/media_properties/catalog.md
Due: none

Add `backfillmoderationdecision` management command
  api/api/management/commands/backfillmoderationdecision.py
Due: none

Lint
  api/test/factory/models/audio.py
  api/test/factory/models/oauth2.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Due: none

Add tests
  api/test/factory/models/audio.py
  api/test/factory/models/oauth2.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Due: none

Use `bulk_*` methods
  api/api/management/commands/backfillmoderationdecision.py
Due: none

Use `DecisionAction` choices class
  api/api/management/commands/backfillmoderationdecision.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Due: none

Verbose logging option for ProviderDataIngester
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Due: none

Use "local" to check for local development environment
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Due: none

Code style changes proposed by linter
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Due: none

Resolve minor suggestions by @stacimc
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
