Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fix tag spacing
  frontend/src/components/VMediaInfo/VMediaTags.vue
Due: i18n, types, eslint, test:unit

Update scroll button spacings
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
Due: i18n, types, test:unit

Fix images
  utilities/project_planning/_docs/example_effort.png
  utilities/project_planning/_docs/example_spreadsheet_screenshot.png
Due: none

Make ingestion server utilities accept optional http_conn_id
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
Due: none

Respect the data_refresh_limit in reindex task as well as ingest_upstream
  ingestion_server/ingestion_server/distributed_reindex_scheduler.py
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/ingestion_server/utils/config.py
Due: none

Consider ingestion server task active if it has active workers
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/state.py
  ingestion_server/ingestion_server/tasks.py
Due: none

Add recreate_full_staging_index dags
  catalog/dags/elasticsearch/recreate_staging_index/recreate_full_staging_index_dag_factory.py
Due: none

Remove unused constant from previous implementation
  catalog/dags/common/constants.py
Due: none

Test DAG parsing
  catalog/tests/dags/test_dag_parsing.py
Due: none

Update DAG tags
  catalog/dags/elasticsearch/recreate_staging_index/recreate_full_staging_index_dag_factory.py
Due: none

Make sharedtask for notifying slack
  catalog/dags/common/slack.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
Due: none

Add Dag docs
  documentation/catalog/reference/DAGs.md
Due: none

Update fading
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
Due: i18n, types, eslint, test:unit

Add Elasticsearch Airflow provider
  catalog/requirements_prod.txt
Due: none

Use the correct suffix for exact matches field
  api/api/controllers/search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Update the integration test
  api/test/conftest.py
  api/test/media_integration.py
  api/test/test_audio_integration.py
  api/test/test_image_integration.py
Due: none

Update VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/types/search.ts
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Replace `@octokit/rest` with `octokit`
  automations/js/package.json
  automations/js/src/count_user_reviewable_prs.js
  automations/js/src/migrate_issues.js
  automations/js/src/project_thread_updates.js
  pnpm-lock.yaml
Due: eslint

Create a util to get authenticated Octokit
  automations/js/src/last_week_tonight.mjs
  automations/js/src/utils/octokit.mjs
Due: none

Create a wrapper over GitHub's GraphQL APIs for Project v2
  automations/js/src/utils/projects.mjs
Due: none

Add middleware to log application name and verification status
  api/api/middleware/client_application_middleware.py
  api/api/utils/oauth2_helper.py
  api/api/utils/throttle.py
  api/api/views/oauth2_views.py
  api/conf/settings/base.py
  api/nginx.conf.template
  api/test/test_auth.py
Due: none

Add ADRF and make the thumbnail view async
  api/Pipfile
  api/Pipfile.lock
  api/api/utils/image_proxy/__init__.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/views/test_image_views.py
Due: none

Fix bad merge
  api/Pipfile
  api/api/utils/image_proxy/__init__.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/views/test_image_views.py
Due: none

Fix bad merge
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
Due: none

Fix docstrings on api docs
  api/api/utils/image_proxy/__init__.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
Due: none

Remove unnecessary thread sensitivity
  api/api/views/media_views.py
Due: none

Fix bad subclassing of thumbnails endpoints
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
Due: none

Stream thumbnail responses
  api/api/utils/image_proxy/__init__.py
Due: none

Publish changelog for frontend-2023.11.20.09.09.57
  documentation/changelogs/frontend/2023.11.20.09.09.57.md
Due: none

Install `yargs` to parse CLI arguments
  automations/js/package.json
  pnpm-lock.yaml
Due: eslint

Add utility to parse `event.json` files for project automations
  automations/js/src/utils/event.mjs
Due: none

Add automations for issues, replacing old `new_issues.yml`
  .github/sync.yml
  .github/workflows/issue_automations.yml
  .github/workflows/new_issues.yml
  automations/js/package.json
  automations/js/src/project_automation/issues.mjs
Due: eslint

Publish changelog for api-2023.11.20.09.32.25
  documentation/changelogs/api/2023.11.20.09.32.25.md
Due: none
