Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Treat any non 200 status as failure for thingiverse
  api/catalog/api/controllers/search_controller.py
  api/catalog/api/utils/check_dead_links.py
  api/test/audio_integration_test.py
  api/test/dead_link_filter_test.py
  api/test/unit/utils/check_dead_links_test.py
Due: none

Update pinia and pinia/testing
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, test:unit

Try using general_console for query debugging
  api/catalog/configuration/logging.py
Due: none

Fix the close button z-index
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: i18n, types, test:unit

Fix the close button z-index and aria-label
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/playwright/e2e/global-audio.spec.ts
Due: i18n, types, test:unit

Make SQL `INSERT` idempotent
  setup_plausible.sh
Due: none

Make domain creation idempotent
  setup_plausible.sh
Due: none

Update frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
Due: i18n, types, test:unit

Update POT file
  openverse.pot
Due: none

Allow bypassing ES setup
  api/catalog/configuration/elasticsearch.py
Due: none

Make `ALLOWED_HOSTS` env var optional
  api/catalog/settings.py
Due: none

fixup! Allow bypassing ES setup
  api/env.template
Due: none

Build `nginx` stage from static assets collected in `api` stage
  api/Dockerfile
Due: none

Explicitly define Docker context
  .github/workflows/ci_cd.yml
Due: none

Include `api_nginx` image in `build-images` job
  .github/workflows/ci_cd.yml
Due: none

Remove unused `collectstatic` recipe and move `docker/nginx/build-run` to `api/nginx`
  api/justfile
  docker/nginx/justfile
Due: none

Add missing quotes
  .github/workflows/ci_cd.yml
Due: none

Update api/catalog/api/controllers/search_controller.py
  api/catalog/api/controllers/search_controller.py
Due: none

Update Playwright version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, test:unit

Use version 1.30 to stay with Node v 16
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, test:unit

Update the lock file
  pnpm-lock.yaml
Due: none

Respect log level in production console logging
  api/catalog/configuration/logging.py
Due: none

Add debug cursor middleware when DB logging is enabled
  api/catalog/api/middleware/force_debug_cursor_middleware.py
  api/catalog/configuration/logging.py
  api/catalog/settings.py
Due: none

Add analytics stack label
  .github/workflows/pr_label_check.yml
Due: none

Remove @vue/runtime-dom
  frontend/package.json
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/composables/use-popover-content.ts
  frontend/src/types/tabs.ts
  frontend/src/utils/dom.ts
  frontend/src/utils/reakit-utils/README.md
  frontend/typings/csstype/index.d.ts
  pnpm-lock.yaml
Due: i18n, types, test:unit

Fix TS build to use composite project
  .gitignore
  .pre-commit-config.yaml
  frontend/src/components/LoadingIcon.vue
  frontend/src/components/VPill.vue
  frontend/src/composables/use-layout.ts
  frontend/src/stores/ui.ts
  frontend/src/types/cookies.ts
  frontend/src/utils/get-additional-sources.ts
  frontend/tsconfig.json
  frontend/typings/svg/index.d.ts
  templates/.pre-commit-config.local.yaml.jinja
  tsconfig.json
Due: i18n, types, test:unit, render-precommit, render-prettier, render-github

Update Nuxt to v.2.16.3
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, test:unit

Make `searchTerm` for VAudioTrack and VImageCell optional
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
Due: i18n, types, test:unit

Rename `profile-up` to `up`
  api/justfile
  frontend/justfile
  ingestion_server/justfile
  justfile
Due: i18n, types, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
