Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Always remove containers when using `just run`
  catalog/justfile
  justfile
Due: none

Move ESLint plugin inside `packages/js`
  .codespell/ignore_lines.txt
  .github/CODEOWNERS
  .github/filters.yml
  .github/renovate.json
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/packages.md
  documentation/packages/index.md
  package.json
  packages/js/eslint-plugin/.swcrc
  packages/js/eslint-plugin/README.md
  packages/js/eslint-plugin/jest.config.js
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/custom.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/configs/index.ts
  packages/js/eslint-plugin/src/configs/typescript.ts
  packages/js/eslint-plugin/src/configs/vue.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
  packages/js/eslint-plugin/src/rules/index.ts
  packages/js/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/js/eslint-plugin/src/rules/translation-strings.ts
  packages/js/eslint-plugin/src/utils/rule-creator.ts
  packages/js/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/js/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/js/eslint-plugin/test/rules/translation-strings.spec.ts
  packages/js/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: types, eslint, test:unit, codeowners-validator

Add more cases for "On Hold" project state
  documentation/projects/planning.md
Due: none

Don't show sources if their count has not changed
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Due: none

Publish changelog for frontend-2024.04.22.15.11.07
  documentation/changelogs/frontend/2024.04.22.15.11.07.md
Due: none

Publish changelog for api-2024.04.22.15.11.09
  documentation/changelogs/api/2024.04.22.15.11.09.md
Due: none

Add DAG run link, explanation of missing failures to agg failure report
  catalog/dags/providers/provider_dag_factory.py
Due: none

Try fixing documentation errors
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/docs/oauth2_docs.py
  api/api/examples/__init__.py
  api/api/examples/oauth2_responses.py
  api/api/views/oauth2_views.py
  api/conf/oauth2_extensions.py
Due: none

Respond with 401 for requests with bad credentials
  api/conf/oauth2_extensions.py
  api/conf/settings/rest_framework.py
  api/test/integration/test_auth.py
Due: none

Fix schema test failures
  api/api/docs/oauth2_docs.py
  api/test/test_schema.py
Due: none

Move Python package into `packages/python`
  .github/CODEOWNERS
  .github/filters.yml
  .github/renovate.json
  api/Dockerfile
  api/compose.yml
  api/pdm.lock
  api/pyproject.toml
  api/run.py
  automations/python/workflows/set_matrix_images.py
  packages/python/openverse-attribution/.dockerignore
  packages/python/openverse-attribution/README.md
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
  packages/python/openverse-attribution/src/openverse_attribution/__init__.py
  packages/python/openverse-attribution/src/openverse_attribution/attribution.py
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/tests/test_attribution.py
  packages/python/openverse-attribution/tests/test_license.py
Due: types, test:unit, codeowners-validator

Specify default value for build arg differently
  api/Dockerfile
Due: none

Set `openverse-attribution` version to 0.0.0
  api/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: types, test:unit

Add `openverse-` prefix in name in API `pyproject.toml`
  api/pyproject.toml
Due: none

Add explanation for missing sources
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Due: none

Fix frontend robots.txt
  frontend/.gitignore
  frontend/src/server-middleware/robots.js
  frontend/src/static/robots.txt
Due: i18n, types, eslint, test:unit

Add crawl delay
  frontend/src/server-middleware/robots.js
Due: i18n, types, eslint, test:unit

Install `setuptools` needed by `pgcli`
  api/pdm.lock
  api/pyproject.toml
Due: none

Fix PR
  frontend/src/server-middleware/robots.js
Due: i18n, types, eslint, test:unit

Fix bug
  frontend/src/server-middleware/robots.js
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.04.24.12.19.32
  documentation/changelogs/frontend/2024.04.24.12.19.32.md
Due: none

make links in docstring display as hyperlinks in docs site.
  catalog/dags/common/cloudwatch.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/common/slack.py
  catalog/dags/common/storage/media.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/dags/retired/providers/provider_api_scripts/thingiverse.py
  catalog/dags/retired/providers/provider_api_scripts/walters.py
  documentation/catalog/reference/DAGs.md
Due: none

Convert OperationalError into unhealthy health check response
  api/api/views/health_views.py
  api/test/unit/views/test_health_views.py
Due: none
