Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Remove confusing comment
  .github/workflows/ci_cd.yml
Due: none

switch middleware to factory fn
  api/catalog/api/middleware/force_debug_cursor_middleware.py
  api/catalog/settings.py
Due: none

Cleanup conditional logic
  api/catalog/configuration/logging.py
  api/catalog/settings.py
Due: none

Update button snapshot
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-linux.png
Due: i18n, types, test:unit

Update audio count in search-types.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
Due: i18n, types, test:unit

Revert tab line-height changes
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VFilterTab.vue
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-0-checked-sm-linux.png
Due: i18n, types, test:unit

Fix snapshots
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-xl-linux.png
Due: i18n, types, test:unit

Add a counter to filter button and tab
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/VFilterIconOrCounter.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VFilterTab.vue
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-0-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-0-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-1-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-12-checked-sm-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-12-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-1-checked-xl-linux.png
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-12-checked-xl-linux.png
Due: i18n, types, test:unit

Add storybook tests for VFilterTab
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-not-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-not-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-12-checked-not-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-12-checked-selected-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-not-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-not-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-selected-1-linux.png
Due: i18n, types, test:unit

Fix tab focusing in test
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
Due: i18n, types, test:unit

Remove duplicate key
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
Due: i18n, types, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-focused-hovered-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-not-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-not-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-not-selected-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-hovered-selected-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-not-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-not-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-not-selected-12-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-selected-0-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-selected-1-linux.png
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts-snapshots/filter-tab-resting-selected-12-linux.png
Due: i18n, types, test:unit

Update snapshots
  frontend/src/components/VHeader/VFilterButton.vue
Due: i18n, types, test:unit

Revert unnecesary changes
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
Due: i18n, types, test:unit

Update snapshot
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-xl-linux.png
Due: i18n, types, test:unit

Add requested changes
  frontend/src/components/VHeader/VFilterIconOrCounter.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
Due: i18n, types, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
Due: i18n, types, test:unit

Use font-weight 400 for Clear filters
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
Due: i18n, types, test:unit

Fix snapshot
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
Due: i18n, types, test:unit

Dev flow link broken
  CONTRIBUTING.md
Due: none

Remove Phylopic exception since it's deactivated
  api/catalog/api/views/image_views.py
  api/test/unit/views/image_views_test.py
Due: none

Update opensearch.xml to fix bad url
  frontend/src/static/opensearch.xml
Due: i18n, types, test:unit

Updated to new link for pipenv install instructions
  documentation/guides/general_setup.md
Due: none

configure ingestion_server as a known first party for isort
  .isort.cfg
Due: none

Swap from flake8 to ruff Remove E203 W503 as these are handled by Black Line length is by default 88
  .flake8
  .pre-commit-config.yaml
  .ruff.toml
Due: none

Add noqa for the failing E731 lambda functions in tests Add noqa for long link in comment
  api/catalog/api/utils/exceptions.py
  api/test/unit/utils/watermark_test.py
  api/test/unit/utils/waveform_test.py
  api/test/unit/views/image_views_test.py
Due: none

Update general_setup.md for macOS
  documentation/guides/general_setup.md
Due: none

Fix the jinja pre-commit template
  templates/.pre-commit-config.yaml.jinja
Due: render-precommit, render-prettier, render-github

make init script more system agnostic
  load_sample_data.sh
Due: none

Update general_setup.md
  documentation/guides/general_setup.md
Due: none

Use formless default browsable API renderer
  api/catalog/api/utils/drf_renderer.py
  api/catalog/settings.py
  api/test/unit/utils/drf_renderer_test.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
