Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Incorporate MIME_TYPE_ALIASES
  catalog/dags/common/extensions.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/common/test_extensions.py
Due: none

Extract filetype directly from Wikimedia's API
  catalog/dags/common/extensions.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/image_data_example.json
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/image_info_from_example_data.json
Due: none

Use custom exception
  catalog/dags/common/extensions.py
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/common/test_extensions.py
Due: none

Include extensive lists of expected media types in test
  catalog/dags/common/extensions.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/common/test_extensions.py
Due: none

Organize tests and fix dependent tests
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/mock_provider_data_ingester.py
Due: none

Report ingestion numbers and final output
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/data_augmentation/rekognition/constants.py
  catalog/dags/data_augmentation/rekognition/types.py
Due: none

Update existing tests
  catalog/tests/dags/database/test_batched_update.py
  catalog/tests/dags/test_dag_parsing.py
Due: none

Rearrange function
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
Due: none

Initial tests
  catalog/tests/dags/data_augmentation/rekognition/sample_labels.json
  catalog/tests/dags/data_augmentation/rekognition/test_add_rekognition_labels.py
Due: none

Add tests for the parsing label function
  catalog/tests/dags/data_augmentation/rekognition/test_add_rekognition_labels.py
Due: none

Fix eye icons to use `currentColor` instead of a hardcoded value
  frontend/src/assets/svg/raw/eye-closed.svg
  frontend/src/assets/svg/raw/eye-open.svg
  frontend/src/assets/svg/sprite/icons.svg
Due: i18n, types, test:unit

Update POT file
  openverse.pot
Due: none

Remove underline when hovering on the link
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Replace `div` with `span`
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Set icon to default text color
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Update DAG documentation
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  documentation/catalog/reference/DAGs.md
Due: fix-console-code-block, vale

Finish converting all components to script setup
  frontend/src/components/TableSortIcon.vue
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VContentPage.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VPill.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/components/VSourcesTable.vue
  frontend/src/components/VTooltip/VTooltip.vue
  frontend/src/types/emits.ts
Due: i18n, types, eslint, test:unit

Update tests
  frontend/test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
Due: i18n, types, eslint, test:unit

Fix prop types
  frontend/src/components/VFourOhFour.vue
  frontend/src/components/VTooltip/VTooltip.vue
Due: i18n, types, eslint, test:unit

Discard changes to frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/src/stores/ui.ts
  frontend/src/styles/tailwind.css
  frontend/test/unit/specs/stores/ui-store.spec.ts
Due: i18n, types, eslint, test:unit

Apply suggestions from code review
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Fix linting issues
  frontend/src/pages/preferences.vue
  frontend/src/types/feature-flag.ts
Due: i18n, types, eslint, test:unit

Rearrange update statement
  catalog/dags/maintenance/add_license_url.py
Due: none

Convert some provider stores to TS
  frontend/src/stores/media/index.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/specs/stores/media-store.spec.ts
  frontend/test/unit/specs/stores/provider.spec.ts
  frontend/test/unit/specs/stores/search-store.spec.ts
  frontend/test/unit/specs/stores/single-result-store.spec.ts
Due: i18n, types, eslint, test:unit

Generate py and ts clients from OpenAPI schema
  packages/js/api-client/.npmignore
  packages/js/api-client/LICENSE
  packages/js/api-client/README.md
  packages/js/api-client/package.json
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/generated/models.ts
  packages/js/api-client/src/generated/routes.ts
  packages/js/api-client/src/index.ts
  packages/js/api-client/tests/client.test.ts
  packages/js/api-client/tests/mock-thumbnail.bin
  packages/js/api-client/tsconfig.json
  packages/js/api-client/tsconfig.prod.json
  packages/js/api-client/vitest.config.mts
  packages/python/api-client/.gitignore
  packages/python/api-client/README.md
  packages/python/api-client/pdm.lock
  packages/python/api-client/pyproject.toml
  packages/python/api-client/src/openverse_api_client/__init__.py
  packages/python/api-client/src/openverse_api_client/_auth.py
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/models.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client/_response.py
  packages/python/api-client/src/openverse_api_client/_utils.py
  packages/python/api-client/src/openverse_api_client_generator/__init__.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/components.py
  packages/python/api-client/src/openverse_api_client_generator/main.py
  packages/python/api-client/src/openverse_api_client_generator/template_env.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.ts.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
  packages/python/api-client/tests/__init__.py
  packages/python/api-client/tests/test_async.py
  packages/python/api-client/tests/test_sync.py
  pnpm-lock.yaml
Due: types, eslint, test:unit, vale

Do not run unit tests when building @openverse/api-client
  packages/js/api-client/package.json
Due: types, eslint, test:unit

Fix redirects
  documentation/conf.py
Due: none

Use production API to generate and add generated file notice
  packages/js/api-client/src/generated/models.ts
  packages/js/api-client/src/generated/routes.ts
  packages/python/api-client/pyproject.toml
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/models.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/main.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.ts.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
Due: types, eslint, test:unit

Add twine dependency
  packages/python/api-client/pdm.lock
  packages/python/api-client/pyproject.toml
Due: none

Document JavaScript client and convert to a class
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/index.ts
  packages/js/api-client/tests/client.test.ts
Due: types, eslint, test:unit

Prevent Vale style from targeting code blocks
  .vale/styles/Openverse/TermCasing.yml
Due: vale

Use `request` and add_note for failed route instantiation
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
Due: none

Maybe make the python client baseline API cleaner
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/tests/test_async.py
  packages/python/api-client/tests/test_sync.py
Due: none

Add Python types check to pre-commit
  .pre-commit-config.yaml
  justfile
Due: none

Do not test in api-client build and ensure API is available for tests
  .github/workflows/ci_cd.yml
  packages/python/api-client/pyproject.toml
Due: none

Use "low-level" API for Python client matching JS client
  packages/python/api-client/src/openverse_api_client/__init__.py
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/routes.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/components.py
  packages/python/api-client/src/openverse_api_client_generator/main.py
  packages/python/api-client/src/openverse_api_client_generator/template_env.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
  packages/python/api-client/tests/test_async.py
  packages/python/api-client/tests/test_sync.py
Due: none

Add param descriptions and apply eslint to generated files
  .pre-commit-config.yaml
  justfile
  package.json
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/generated/models.ts
  packages/js/api-client/src/generated/routes.ts
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/components.py
  packages/python/api-client/src/openverse_api_client_generator/template_env.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.ts.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
Due: types, eslint, test:unit

Fix py package checks needs for images
  .github/workflows/ci_cd.yml
Due: none

Add new packages to doc site
  documentation/conf.py
  documentation/packages/index.md
  documentation/packages/js/api_client/index.md
  documentation/packages/js/eslint_plugin/analytics_configuration.md
  documentation/packages/js/eslint_plugin/index.md
  documentation/packages/js/eslint_plugin/no-unexplained-disabled-test.md
  documentation/packages/python/api_client/index.md
  documentation/packages/python/openverse_attribution/index.md
  packages/js/api-client/LICENSE
  packages/js/api-client/README.md
  packages/js/api-client/package.json
  packages/js/eslint-plugin/README.md
  packages/python/api-client/README.md
  packages/python/openverse-attribution/README.md
Due: fix-console-code-block, types, eslint, test:unit, vale
