Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Publish changelog for frontend-2026.09.10.19.21.48 (#5616)
  documentation/changelogs/frontend/2026.09.10.19.21.48.md
Due: fix-console-code-block, vale

Update dependency storybook to v8.6.17 [SECURITY]
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency pook to v2.1.6
  catalog/requirements-dev.txt
Due: none

fix: correct documentation typos
  documentation/projects/proposals/monitoring/run_book_samples/unstable_run_book_sample.md
  documentation/projects/proposals/search_relevancy_sandbox/20230530-implementation_plan_staging_elasticsearch_reindex_dags.md
Due: fix-console-code-block, vale

Update dependency js-yaml to v4.1.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vue-i18n to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.13.5 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency glob to v11.1.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.19.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency rollup to v4.59.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.4.1 [SECURITY]
  pnpm-lock.yaml
Due: none

docs: add succinct contributor quickstart landing page
  documentation/meta/index.md
  documentation/meta/quickstart.md
Due: fix-console-code-block, vale

misc: update contributor bookkeeping helpers
  automations/js/src/count_user_reviewable_prs.js
Due: eslint

docs: ignore me CI probe
  CONTRIBUTING.md
Due: vale

Use container queries for footer responsiveness
  frontend/src/components/VFooter/VFooter.vue
  frontend/test/storybook/visual-regression/v-footer.spec.ts
Due: i18n, types, eslint, test:unit

Preserve the footer root element
  frontend/src/components/VFooter/VFooter.vue
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
