Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Convert headers to script setup
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
Due: i18n, types, eslint, test:unit

Use script setup; simplify VLoadMore; remove fetchState
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/composables/use-async-search.ts
  frontend/src/layouts/search-layout.vue
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Remove async from watchers
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/middleware/single-result.ts
Due: i18n, types, eslint, test:unit

Update @nuxtjs/i18n to edge version
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/app.vue
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VLanguageSelect/VLanguageSelect.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/[id]/report.vue
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/ui.ts
  frontend/src/types/banners.ts
  frontend/src/utils/query-utils.ts
  frontend/src/utils/translation-banner.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/unit/specs/stores/media-store.spec.js
  frontend/typings/nuxt__types/index.d.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Remove page title
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Update dependencies
  frontend/package.json
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Move search handling to search.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Remove single-result middleware
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/utils/route.ts
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.41.2
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Extract shared Elasticsearch cluster connection utilities
  catalog/dags/common/constants.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/shared.py
Due: none

Add Elasticsearch healthcheck dag
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/tests/dags/test_dag_parsing.py
  documentation/catalog/reference/DAGs.md
Due: none

Replace axios with ofetch
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/constants/errors.ts
  frontend/src/pages/image/[id]/index.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/errors.ts
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
  frontend/test/unit/specs/stores/media-store.spec.js
Due: i18n, types, eslint, test:unit

Replace dependency npm-run-all with npm-run-all2 ^5.0.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update to most recent version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.02.05.18.10.41
  documentation/changelogs/frontend/2024.02.05.18.10.41.md
Due: none

Publish changelog for api-2024.02.05.20.34.01
  documentation/changelogs/api/2024.02.05.20.34.01.md
Due: none

Update @openverse/eslint-plugin
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix postinstall script
  package.json
Due: none

Refactor to make it easier to test message composition
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
Due: none

Add note to remind about --pdb for catalog tests
  catalog/justfile
Due: none

Add healthcheck dag tests
  catalog/tests/dags/elasticsearch_cluster/test_healthcheck_dag.py
Due: none

Update dag docs with new DAG names
  documentation/catalog/reference/DAGs.md
Due: none

Update swc build for https://github.com/swc-project/swc/issues/4017\#issuecomment-1506730719
  packages/eslint-plugin/package.json
Due: types, eslint, test:unit

Update dependency @types/node to v18.19.14
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

WIP Separate release drafting from publishing
  .github/workflows/draft_releases.yml
  .github/workflows/release-app.yml
Due: none

Remove testing code
  .github/workflows/draft_releases.yml
Due: none

Resolve confusion of where the release is drafted
  .github/workflows/draft_releases.yml
  .github/workflows/release-app.yml
Due: none

Update documentation for new release process
  documentation/api/guides/deploy.md
  documentation/catalog/guides/deploy.md
  documentation/frontend/guides/deploy.md
  documentation/general/deployment.md
  documentation/ingestion_server/guides/deploy.md
Due: none

Fix incorrect key `pass_filesnames`
  .pre-commit-config.yaml
Due: none

Create stack.md
  documentation/general/stack.md
Due: none

Add waits to fix test flakiness due to font loading
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
Due: i18n, types, eslint, test:unit
