Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update dependency @nuxtjs/storybook to v8.3.3
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @storybook-vue/nuxt to v8.3.3
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for catalog-2025.01.07.04.34.46
  documentation/changelogs/catalog/2025.01.07.04.34.46.md
Due: fix-console-code-block, vale

Try updating all Storybook packages
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix stories regex
  frontend/.storybook/main.ts
Due: i18n, types, eslint, test:unit

Fix args
  frontend/shared/constants/banners.ts
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/meta/VNotificationBanner.stories.js
  frontend/src/components/VContentSwitcher/meta/VSearchTypes.stories.js
  frontend/src/components/VImageResult/meta/VImageResult.stories.js
  frontend/src/components/meta/VButton.stories.js
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-image-result.spec.ts
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
Due: i18n, types, eslint, test:unit

Improve asyncData error in search.vue
  frontend/src/pages/search.vue
Due: i18n, types, eslint, test:unit

Refactor i18n search result count labels
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
Due: i18n, types, eslint, test:unit

Refactor FetchState to use discriminated union
  frontend/shared/types/fetch-state.ts
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-search.ts
  frontend/src/middleware/search.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
  frontend/test/unit/specs/stores/media-store.spec.ts
  frontend/test/unit/specs/stores/provider.spec.ts
  frontend/test/unit/specs/stores/single-result-store.spec.ts
Due: i18n, types, eslint, test:unit

Fix collection header stories
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.ts
  frontend/src/stores/media/index.ts
Due: i18n, types, eslint, test:unit

Fix loading labels, results, no result on later pages
  frontend/nuxt.config.ts
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/composables/use-search.ts
  frontend/src/middleware/search.ts
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
  frontend/test/unit/specs/stores/media-store.spec.ts
Due: i18n, types, eslint, test:unit

Make `canLoadMore` external prop
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.ts
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Update
  documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
Due: fix-console-code-block, vale

Update documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
  documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
Due: fix-console-code-block, vale

Lint
  documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
Due: fix-console-code-block, vale

Init
  documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
  documentation/projects/proposals/proxy_frontend_api_requests/index.md
Due: fix-console-code-block, vale

Revert "Downgrade the API's python version back to 3.11 (#5295)"
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Bump down aiohttp to 3.9.5
  api/pdm.lock
  api/pyproject.toml
Due: none

Downgrade aiohttp to v3.9.3
  api/pdm.lock
  api/pyproject.toml
Due: none

Publish changelog for api-2025.01.11.11.22.59
  documentation/changelogs/api/2025.01.11.11.22.59.md
Due: fix-console-code-block, vale

Update aiohttp to v3.11.11
  api/pdm.lock
  api/pyproject.toml
Due: none

add bodyserializer/accept header to openverse api client to correctly authenticate with the API
  packages/js/api-client/src/auth.ts
  packages/js/api-client/tests/client.test.ts
Due: types, eslint, test:unit

Publish changelog for api-2025.01.12.10.55.21
  documentation/changelogs/api/2025.01.12.10.55.21.md
Due: fix-console-code-block, vale

Add async Elasticsearch connection
  api/conf/settings/elasticsearch.py
Due: none

Bump elasticsearch packages
  api/pdm.lock
  api/pyproject.toml
Due: none

Add async extra for elasticsearch
  api/pdm.lock
  api/pyproject.toml
Due: none

Make test less flaky
  api/test/integration/test_media_integration.py
Due: none

Fix test_post_process_results_recurses_as_needed
  api/test/factory/es_http.py
  api/test/unit/controllers/test_search_controller.py
Due: none

Update dependency @types/k6 to ^0.54.0
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Add Django connection pools feature
  api/conf/settings/databases.py
  api/conf/settings/logging.py
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/management/commands/test_generatewaveforms.py
  pyproject.toml
Due: none

Update dependency uvicorn to >=0.34, <0.35
  api/pdm.lock
  api/pyproject.toml
Due: none

Close old db connections after getting thumbnails
  api/api/utils/image_proxy/__init__.py
Due: none
