Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Temporarily remove psycopg and pgcli
  api/pdm.lock
  api/pyproject.toml
Due: none

Lock pdm for python 3.11.*
  api/pdm.lock
  api/pyproject.toml
Due: none

fix lint error
  frontend/i18n/scripts/translations.mjs
Due: i18n, types, eslint, test:unit

Loosen the python requirement of openverse-attribution
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Re-add psycopg
  api/pdm.lock
  api/pyproject.toml
Due: none

Re-add pgcli
  api/pdm.lock
  api/pyproject.toml
Due: none

Init
  documentation/projects/proposals/proxy_frontend_api_requests/20241202-implementation_plan_proxy_frontend_api_requests_ip.md
  documentation/projects/proposals/proxy_frontend_api_requests/index.md
Due: fix-console-code-block, vale

Start the catalog service as part of `ov just init`
  load_sample_data.sh
Due: none

Docs: add database queries log documentation
  documentation/api/guides/debugging.md
Due: fix-console-code-block, vale

Linting
  documentation/api/guides/debugging.md
Due: fix-console-code-block, vale

Update the content
  documentation/api/guides/debugging.md
Due: fix-console-code-block, vale

Updated notify_slack method
  catalog/dags/common/slack.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/maintenance/rotate_envfiles.py
Due: none

Ran lint
  catalog/dags/common/slack.py
Due: none

Update catalog/dags/common/slack.py
  catalog/dags/common/slack.py
Due: none

Remove dag_id
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
Due: none

changes to test files
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
Due: i18n, types, eslint, test:unit

removing repeat string interpolation for about page
  frontend/src/pages/about.vue
Due: i18n, types, eslint, test:unit

Move content to logging.md
  documentation/api/guides/debugging.md
  documentation/api/guides/index.md
  documentation/api/guides/logging.md
Due: fix-console-code-block, vale

Add empty line
  documentation/api/guides/logging.md
Due: fix-console-code-block, vale

fix: e2e error
  documentation/api/guides/logging.md
Due: fix-console-code-block, vale

Use CSS for colors of VWordPress and VHomeLink
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VHeader/meta/VHomeLink.stories.ts
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/meta/Focus.stories.js
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Lint
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VTabs/VTab.vue
Due: i18n, types, eslint, test:unit

Fix missing focus-visible:
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Fix modal background and uncommon ring color
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VModal/VModalContent.vue
Due: i18n, types, eslint, test:unit

Re-add focus
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Lint
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VTabs/VTab.vue
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.12.27.21.22.28
  documentation/changelogs/api/2024.12.27.21.22.28.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.12.27.21.22.28
  documentation/changelogs/frontend/2024.12.27.21.22.28.md
Due: fix-console-code-block, vale
