Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

FEAT - Make VTag pass all props to inner VButton. (#3)
  frontend/src/components/VTag/VTag.vue
Due: i18n, types, eslint, test:unit

feat(interface): updated external sources frontend
  frontend/src/utils/get-additional-sources.ts
Due: i18n, types, eslint, test:unit

Use `VMediaCollection` for additional search views
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VLoadMoreOld.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/composables/use-collection-results.ts
  frontend/src/middleware/collection.ts
  frontend/src/middleware/search.ts
  frontend/src/pages/audio/source/_.vue
  frontend/src/pages/audio/tag/_tag.vue
  frontend/src/pages/image/source/_.vue
  frontend/src/pages/image/tag/_tag.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
  frontend/src/utils/parse-collection-path.ts
  frontend/test/unit/specs/stores/search-store.spec.js
  frontend/test/unit/specs/utils/validate-collection-params.spec.js
Due: i18n, types, eslint, test:unit

FEAT - Add lot for the content instead of a prop (#2)
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VTag/VTag.vue
Due: i18n, types, eslint, test:unit

Expand on the implementation and surfacing of deferred models
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_moderation_metrics.md
Due: none

Add accesstoken and ThrottledApplication to admin panel (#3711)
  api/api/admin/__init__.py
Due: none

TEST - Add tests for VTag (#7)
  frontend/test/unit/specs/components/VTag/v-tag.spec.js
Due: i18n, types, eslint, test:unit

FEAT - Ensure inner VButton emits and handles events in VTag #4
  frontend/src/components/VTag/VTag.vue
Due: i18n, types, eslint, test:unit

Add deprecation and explanation notice to composable
  frontend/src/composables/use-analytics.ts
Due: i18n, types, eslint, test:unit

Only refresh index once, clean up es task params
  catalog/dags/common/elasticsearch.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
Due: none

Rename verbose plural "mature" to "sensitive" in API admin
  api/api/migrations/0057_alter_sensitiveaudio_options.py
  api/api/models/audio.py
Due: none

fix(test): updated snapshots for visual regression tests
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-sm-linux.png
Due: i18n, types, test:unit

Add spacing for desktop dropdown UI
  frontend/src/components/VRecentSearches/VRecentSearches.vue
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.02.28.16.32.28
  documentation/changelogs/api/2024.02.28.16.32.28.md
Due: none

Accept obulat approval
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_bulk_moderation_actions.md
Due: none

Clarify arguments to get_staging_source_counts
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index.py
Due: none

Publish changelog for ingestion_server-2024.02.28.18.32.08
  documentation/changelogs/ingestion_server/2024.02.28.18.32.08.md
Due: none

Preemptively fail unparsable/unusable Europeana URLs
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Use static Catalog of Life URL for iNaturalist
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Add media type when upserting data
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Add more logging
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Update iNaturalist schema
  catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
Due: none

Start with minimum photo ID and create range from there
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
Due: none

Remove references to api-dev
  utilities/load_testing/README.md
  utilities/load_testing/k6/utils.js
Due: none

Add `not_a_server_error` check
  api/justfile
Due: none

Add schemathesis tests
  .github/workflows/ci_cd.yml
  .gitignore
  api/justfile
Due: none

Run schemathesis in pytest suite with failing cases
  .gitignore
  api/.gitignore
  api/Pipfile
  api/justfile
  api/test/test_schema.py
Due: none

Get schemathesis running in docker with failing tests
  api/api/controllers/elasticsearch/related.py
  api/justfile
Due: none

Fix the related 500 error
  api/api/controllers/elasticsearch/related.py
Due: none

Fix oembed endpoint
  api/api/docs/image_docs.py
  api/api/examples/image_responses.py
Due: none

Lint
  api/api/controllers/elasticsearch/related.py
  api/api/docs/audio_docs.py
  api/api/docs/image_docs.py
  api/api/docs/oauth2_docs.py
  api/api/views/media_views.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
