Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Publish changelog for frontend-2025.02.05.11.32.04
  documentation/changelogs/frontend/2025.02.05.11.32.04.md
Due: fix-console-code-block, vale

UseHead instead of components
  frontend/src/app.vue
  frontend/src/error.vue
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.50.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

fix: docker/upstream_db/Dockerfile to reduce vulnerabilities
  docker/upstream_db/Dockerfile
Due: none

Update docker.io/nginx Docker tag to v1.27.4
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Update workflows
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update dependency vue-i18n to v11.1.2 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @octokit/rest to v21.1.1
  automations/js/package.json
  pnpm-lock.yaml
Due: eslint

Update dependency axios to v1.8.2 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.8.2 [SECURITY] (#5387)
  pnpm-lock.yaml
Due: none

Publish changelog for api-2025.03.10.04.14.33
  documentation/changelogs/api/2025.03.10.04.14.33.md
Due: fix-console-code-block, vale

Update dependency apache-airflow to v2.10.5
  catalog/requirements-prod.txt
Due: none

Update dependency nock to v14.0.1
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency @pinia/nuxt to ^0.10.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.51.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.51.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for api-2025.03.10.04.14.33 (#5388)
  documentation/changelogs/api/2025.03.10.04.14.33.md
Due: fix-console-code-block, vale

Update dependency @pinia/nuxt to ^0.10.0 (#5385)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency nock to v14.0.1 (#5382)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency gunicorn to v23 [SECURITY]
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency nuxt to v3.16.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency gunicorn to v23 [SECURITY] (#5391)
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency vite to v6.0.12 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nock to v14.0.3
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency nock to v14.0.3 (#5395)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency prettier to v3.5.3
  package.json
  pnpm-lock.yaml
Due: none

Fix lint
  frontend/src/components/VScrollableLine.vue
Due: i18n, types, eslint, test:unit
