Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Fix bad merge
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  documentation/catalog/reference/DAGs.md
Due: none

Publish changelog for api-2024.03.13.17.10.22
  documentation/changelogs/api/2024.03.13.17.10.22.md
Due: none

Apply suggestions from code review
  documentation/meta/contribution/good_first_and_help_wanted_issues.md
Due: none

Clarify maintainer/contributor benefits of upfront work.
  documentation/meta/contribution/good_first_and_help_wanted_issues.md
Due: none

Additional template for an incorrect PR description
  documentation/meta/contribution/good_first_and_help_wanted_issues.md
Due: none

Remove leftover files
  catalog/dags/flickr_thumbs_removal.py
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/prettify.sh
Due: none

Update DAGs.md
  documentation/catalog/reference/DAGs.md
Due: none

resolve review comments (#3711)
  api/api/admin/__init__.py
Due: none

make rate_limit_model searchable (#3711)
  api/api/admin/__init__.py
Due: none

Update snapshots
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
Due: i18n, types, test:unit

Add changes from code review
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
Due: i18n, types, eslint, test:unit

Update collection header
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VScrollableLine.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
Due: i18n, types, eslint, test:unit

Update frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Due: i18n, types, test:unit

Add source links to creator pages
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
Due: i18n, types, eslint, test:unit

Change to desktop layout after `sm` breakpoint
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Adding index.md file into the folder
  documentation/projects/proposals/dark_mode/index.md
Due: none

Use `VMediaCollection` for all search results
  frontend/src/components/VLoadMoreOld.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/middleware/search.ts
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
  frontend/test/unit/specs/components/v-image-grid.spec.js
  frontend/test/unit/specs/pages/browse-page.spec.js
Due: i18n, types, eslint, test:unit

Use a dynamic component for media and remove unnecessary wrapper
  frontend/src/components/VSearchResultsGrid/VRelatedResults.vue
Due: i18n, types, eslint, test:unit

Combine related media component using VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VRelatedResults.vue
Due: i18n, types, eslint, test:unit

Make isFetching a prop
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
Due: i18n, types, eslint, test:unit

Fix results not updating when filters are removed
  frontend/src/pages/search.vue
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Fix collection fetching
  frontend/src/components/VCollectionPage.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Extract useCollection composable
  frontend/src/composables/use-collection.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Delete unused components
  frontend/src/components/VLoadMoreOld.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
Due: i18n, types, eslint, test:unit

Update index.md
  documentation/projects/proposals/dark_mode/index.md
Due: none

Update sensor utils to get list of dag_ids matching a specified tag
  catalog/dags/common/sensors/utils.py
  catalog/tests/dags/common/sensors/test_utils.py
Due: none

Appropriately tag ES dags with their concurrency group, and use new sensor utils
  catalog/dags/common/sensors/constants.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_types.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
Due: none

Update dag docs
  catalog/dags/common/sensors/constants.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  documentation/catalog/reference/DAGs.md
Due: none

Automatically exclude the running DAG from the ids to check
  catalog/dags/common/sensors/utils.py
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
Due: none

Fix bad dag_id change, don't make db_restore wait unnecessarily
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  documentation/catalog/reference/DAGs.md
Due: none

Add a test for checking that DAG default args is present
  catalog/tests/dags/test_dag_parsing.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
