Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Use in favor of useAnalytics, which is deprecated
  frontend/src/components/VScrollButton.vue
Due: i18n, types, eslint, test:unit

Only fire analytics event on search or collection pages
  frontend/src/components/VScrollButton.vue
Due: i18n, types, eslint, test:unit

IP: Undo split indices for sensitive text detection
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Due: fix-console-code-block, vale

Clarify cool-off period before starting clean-up
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Due: fix-console-code-block, vale

Switch to using a nested sensitivity object and explain why we will not put the check in Airflow
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Due: fix-console-code-block, vale

Fix just argument splitting on pass-through recipes with complex arguments
  api/justfile
  automations/js/justfile
  automations/python/justfile
  catalog/justfile
  docker/cache/justfile
  documentation/justfile
  frontend/justfile
  indexer_worker/justfile
  justfile
  packages/js/k6/justfile
  packages/python/openverse-attribution/justfile
Due: i18n, types, test:unit

Use bash instead of sh for consistent behaviour in just recipes and other scripts
  .vale/justfile
  frontend/bin/playwright.sh
Due: i18n, types, test:unit, vale

Clear up ingestion worker ephemerality assumptions
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Due: fix-console-code-block, vale

Simplify render-release-drafter recipes
  automations/js/justfile
Due: none

Fix recreate
  justfile
Due: none

Try another fix for render-release-drafter
  automations/js/justfile
Due: none

Fix catalog/test
  catalog/justfile
Due: none

Use sample of real query terms
  docker/dev_env/Dockerfile
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/sample-query-terms.ts
  packages/js/k6/src/utils.ts
Due: types, eslint, test:unit

Write text summary during execution
  .github/workflows/ci_cd.yml
  packages/js/k6/.gitignore
  packages/js/k6/src/frontend/all.test.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/frontend/search-en.test.ts
  packages/js/k6/src/frontend/search-locales.test.ts
  packages/js/k6/src/frontend/static-en.test.ts
  packages/js/k6/src/frontend/static-locales.test.ts
  packages/js/k6/src/jslib-shim.ts
  packages/js/k6/src/sample-query-terms.ts
  packages/js/k6/src/summary.ts
  packages/js/k6/src/utils.ts
  packages/js/k6/typings/jslib.d.ts
Due: types, eslint, test:unit

Run k6 against local Nuxt on PRs
  .github/workflows/ci_cd.yml
Due: none

Fix generate-docs and lint recipe
  catalog/justfile
  justfile
Due: none

Fix the flaky image cell test
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.ts
  frontend/test/hars/f54be427bbbd5e2a3dc4f38eda3679769eb1cb4e.webp
  frontend/test/hars/v-image-cell.har
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-light-linux.png
Due: i18n, types, eslint, test:unit

Fix the flaky tests
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Condense code for shades and opacities
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Organise colors and remove unused ones
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Add comments as separators
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Add accidentally missing color "bg-blur"
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Add 2xl dark mode snapshots to breakpoint tests
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-dark-linux.png
Due: i18n, types, eslint, test:unit

Update params to match REACH_RESULT_END
  frontend/src/components/VScrollButton.vue
  frontend/src/types/analytics.ts
Due: i18n, types, eslint, test:unit

Run eslint
  frontend/src/components/VScrollButton.vue
Due: i18n, types, eslint, test:unit

Add Katmai NPS source from Flickr
  catalog/dags/common/loader/provider_details.py
Due: none

Add utori to the "Made with Openverse" page
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Add Sutori to the "Made with Openverse" page.
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Add Sutori to Made with Openverse page (#4972)
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Add Sutori to Made with Openverse page (WordPress#4972)
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Add Sutori to Made with Openverse page (WordPress#4972)
  documentation/_static/openverse_sutori.png
Due: none
