Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

reverting changes
  catalog/Dockerfile
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Due: none

revert changes
  catalog/compose.yml
  catalog/pytest.ini
Due: none

Changing DC_USER
  api/justfile
Due: none

Update `dev` group of dependencies
  api/pdm.lock
  api/pyproject.toml
Due: none

Update `test` group of dependencies
  api/pdm.lock
  api/pyproject.toml
Due: none

Change of user name for catalog
  catalog/Dockerfile
  catalog/justfile
Due: none

Bump PDM to 2.21 in the api/ and indexer_worker/
  api/Dockerfile
  indexer_worker/Dockerfile
Due: none

fix(deps): update dependency openapi-fetch to ^0.13.0
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix types
  packages/js/api-client/src/auth.ts
Due: types, eslint, test:unit

chore(deps): update dependency prettier to v3.4.2
  package.json
  pnpm-lock.yaml
Due: none

Fix lint issue
  documentation/meta/documentation/guidelines.md
Due: fix-console-code-block, vale

Add changelog section to project proposal and implementation plan templates
  documentation/projects/templates/implementation_plan.md
  documentation/projects/templates/project_proposal.md
Due: fix-console-code-block, vale

fix(deps): update dependency @pinia/nuxt to ^0.9.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

reverting changes
  catalog/Dockerfile
Due: none

reverting changes
  catalog/justfile
Due: none

chore(deps): update dependency typescript to v5.7.2
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

changing username fro ingestion_worker
  indexer_worker/Dockerfile
Due: none

changing username for ingestion_server
  ingestion_server/Dockerfile
Due: none

revert indexer_worker username
  indexer_worker/Dockerfile
Due: none

change indexer worker username
  indexer_worker/Dockerfile
Due: none

Added https instead of http in wordpress slack
  documentation/general/contributing.md
Due: fix-console-code-block, vale

Add and use OV_PDM_VERSION environment variable
  api/Dockerfile
  api/compose.yml
  indexer_worker/Dockerfile
  indexer_worker/compose.yml
  justfile
Due: none

Convert single quotes to double quotes
  api/Dockerfile
  indexer_worker/Dockerfile
Due: none

Add OV_PDM_VERSION to ci_cd.yml workflow
  .github/workflows/ci_cd.yml
  justfile
Due: none

changes to DC_USER
  env.template
  justfile
Due: none

chore(deps): update dependency @types/k6 to ^0.54.0
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Skip the platform specification and let k6 be skipped if not supported
  docker/dev_env/Dockerfile
  docker/dev_env/run.sh
  ov
Due: none

Provision Vale as per the host system
  .vale/download.sh
  .vale/justfile
  .vale/pdm.lock
  .vale/pyproject.toml
  docker/dev_env/Dockerfile
Due: vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
