Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update dependency nock to v14.0.10
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency nock to v14.0.10 (#5473)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

docs: add License section to README.md (MIT License)
  README.md
Due: vale

Update dependency js-yaml to v4.1.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency js-yaml to v4.1.1 [SECURITY] (#5508)
  pnpm-lock.yaml
Due: none

Update dependency vue-i18n to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.12.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.19.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.4.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY] (#5499)
  pnpm-lock.yaml
Due: none

revert
  documentation/api/reference/search_algorithm.md
Due: fix-console-code-block, vale

fix: correct typos and grammar errors in documentation
  documentation/api/guides/documentation.md
  documentation/api/reference/search_algorithm.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/frontend/guides/analytics.md
Due: fix-console-code-block, vale

Lint
  documentation/api/reference/search_algorithm.md
Due: fix-console-code-block, vale

Fix typos and grammar errors in documentation (#5506)
  documentation/api/guides/documentation.md
  documentation/api/reference/search_algorithm.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/frontend/guides/analytics.md
Due: fix-console-code-block, vale

Update dependency glob to v11.1.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency glob to v11.1.0 [SECURITY] (#5516)
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.4.1 [SECURITY] (#5515)
  pnpm-lock.yaml
Due: none

Update dependency freezegun to v1.5.5
  catalog/requirements-dev.txt
Due: none

Update dependency pook to v2.1.4
  catalog/requirements-dev.txt
Due: none

Update dependency tldextract to v5.3.0
  catalog/requirements-prod.txt
Due: none

Update dependency vite to v6.4.1 [SECURITY] (#5519)
  pnpm-lock.yaml
Due: none
