Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fix prepare-nuxt script in Docker build
  .github/workflows/ci_cd.yml
Due: none

Fix Modal client-server mismatch
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VModal/VModalContent.vue
Due: i18n, types, eslint, test:unit

Handle errors in locales
  frontend/src/locales/scripts/utils.js
Due: i18n, types, eslint, test:unit

Add setup to error page
  frontend/src/error.vue
  frontend/src/plugins/error-handlers.ts
Due: i18n, types, eslint, test:unit

Move not working unit tests
  frontend/test/unit/not-working-specs/components/VSafetyWall/v-safety-wall.spec.js
  frontend/test/unit/not-working-specs/components/scroll-button.spec.js
  frontend/test/unit/not-working-specs/components/v-copy-button.spec.js
  frontend/test/unit/not-working-specs/components/v-image-cell.spec.js
Due: i18n, types, eslint, test:unit

Override Vue version
  package.json
Due: none

Remove prometheus.ts
  frontend/src/modules/prometheus.ts
Due: i18n, types, eslint, test:unit

Update package.json
  frontend/package.json
Due: i18n, types, eslint, test:unit

Fix ui store cookie type warnings
  frontend/src/stores/ui.ts
  package.json
Due: i18n, types, eslint, test:unit

Fix feature-flag store cookie type warnings
  frontend/src/stores/feature-flag.ts
Due: i18n, types, eslint, test:unit

Dockerfile
  frontend/Dockerfile
Due: i18n, types, test:unit

Remove unused cookies util
  frontend/src/utils/cookies.ts
Due: i18n, types, eslint, test:unit

Fix or skip unit tests
  frontend/test/unit/specs/composables/use-get-locale-formatted-number.spec.js
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
  frontend/test/unit/specs/composables/use-search-type.spec.js
  frontend/test/unit/specs/data/media-provider-service.spec.js
  frontend/test/unit/specs/pages/browse-page.spec.js
  frontend/test/unit/specs/pages/index-page.spec.js
Due: i18n, types, eslint, test:unit

Get i18n from useNuxtApp for unit tests
  frontend/src/components/VItemGroup/VItemGroup.vue
Due: i18n, types, eslint, test:unit

Remove trailing slash from search path
  frontend/src/constants/media.ts
Due: i18n, types, eslint, test:unit

Add export to pluging
  frontend/src/plugins/focus-visible.client.ts
  frontend/src/plugins/polyfills.client.ts
Due: i18n, types, eslint, test:unit

Get i18n from useNuxtApp for unit tests
  frontend/src/composables/use-search-type.ts
Due: i18n, types, eslint, test:unit

Fix filters input count in test
  frontend/test/playwright/e2e/filters.spec.ts
Due: i18n, types, eslint, test:unit

Remove accidentally re-added $style
  frontend/src/components/VModal/VModalContent.vue
Due: i18n, types, eslint, test:unit

Get i18n from useNuxtApp
  frontend/src/composables/use-get-locale-formatted-number.ts
  frontend/src/composables/use-i18n-utilities.ts
Due: i18n, types, eslint, test:unit

Fix composable unit tests
  frontend/test/unit/not-working-specs/composables/use-get-locale-formatted-number.spec.js
  frontend/test/unit/not-working-specs/composables/use-i18n-utilities.spec.js
  frontend/test/unit/not-working-specs/composables/use-search-type.spec.js
  frontend/test/unit/specs/composables/use-get-locale-formatted-number.spec.js
Due: i18n, types, eslint, test:unit

Fix SingleResultControls id
  frontend/src/components/VSingleResultControls.vue
Due: i18n, types, eslint, test:unit

Add "a" as button form for skip-to-content
  frontend/src/types/button.ts
Due: i18n, types, eslint, test:unit

Skip test
  frontend/test/unit/specs/data/media-provider-service.spec.js
Due: i18n, types, eslint, test:unit

Rename homepage test
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-additional-search-types-open-rtl-xs-linux.png
Due: i18n, types, eslint, test:unit

Remove incorrect mock
  frontend/test/unit/specs/data/media-provider-service.spec.js
Due: i18n, types, eslint, test:unit

Fix homepage vr
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
Due: i18n, types, eslint, test:unit

Fix EXTERNAL_LINK_CLICK condition
  frontend/src/components/VLink.vue
Due: i18n, types, eslint, test:unit

Fix report tests
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/utils/navigation.ts
Due: i18n, types, eslint, test:unit

Test fixes
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
Due: i18n, types, eslint, test:unit

Fix content report form v-model
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
Due: i18n, types, eslint, test:unit

Update lock file
  pnpm-lock.yaml
Due: none

pgcli version is extracted into a docker argument
  .github/workflows/ci_cd.yml
  api/justfile
  docker-compose.yml
  docker/upstream_db/Dockerfile
  justfile
Due: none

Add documents to TOC, further editorial improvements
  documentation/projects/index.md
  documentation/projects/yearly_planning/index.md
  documentation/projects/yearly_planning/process_outline.md
Due: none

Add example spreadsheet links
  documentation/projects/yearly_planning/process_outline.md
Due: none

SEARCH_RESPONSE_TIME analytics event plus tests
  frontend/src/data/media-service.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/data/media-service.spec.ts
Due: i18n, types, eslint, test:unit

Amend tests
  frontend/src/data/media-service.ts
  frontend/test/unit/specs/data/media-service.spec.ts
Due: i18n, types, eslint, test:unit

added additonal check for ready for review block
  automations/js/src/project_automation/prs.mjs
Due: none
