Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Publish changelog for api-2024.09.06.08.57.05
  documentation/changelogs/api/2024.09.06.08.57.05.md
Due: fix-console-code-block, vale

Revert "Only specify major version for post-v1 actions (#4848)"
  .github/workflows/renovate.yml
Due: none

Use EmptyOperator where possible
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Clean up variables
  catalog/dags/data_refresh/promote_table.py
  catalog/dags/data_refresh/remap_table_constraints.py
  catalog/dags/data_refresh/remap_table_indices.py
Due: none

Fix incorrect comment
  catalog/dags/data_refresh/copy_data.py
Due: none

Create S3 client for smart_open from session
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
Due: none

Clean up unused code, variable name
  catalog/dags/data_refresh/remap_table_constraints.py
  catalog/dags/data_refresh/remap_table_indices.py
Due: none

Further break out tests
  catalog/tests/dags/data_refresh/test_remap_table_constraints.py
  catalog/tests/dags/data_refresh/test_remap_table_indices.py
Due: none

Protect against table names containing character
  catalog/dags/data_refresh/remap_table_indices.py
Due: none

Comment on static route
  indexer_worker/indexer_worker/api.py
Due: none

Fix the tests by determining which method to use via the endpoint_url
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
Due: none

Replace rows on conflict
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
Due: none

Fix ES CPU alarm reference
  catalog/dags/common/cloudwatch.py
Due: none

Fix unbound access of `log` (when the captured exception is a timeout)
  api/api/utils/image_proxy/extension.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Ensure correct API usage for frontend related reqs
  frontend/src/stores/media/related-media.ts
Due: i18n, types, eslint, test:unit

Remove unnecessary API nginx log props
  api/nginx/nginx.conf.template
Due: none

Make PDM available for linting in CI
  .github/workflows/ci_cd.yml
Due: none

Log when API client apps authorize
  api/api/views/oauth2_views.py
Due: none

Export paths type
  packages/js/api-client/src/types.ts
Due: types, eslint, test:unit

Publish changelog for ingestion_server-2024.09.09.05.40.20
  documentation/changelogs/ingestion_server/2024.09.09.05.40.20.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.09.09.05.40.19
  documentation/changelogs/frontend/2024.09.09.05.40.19.md
Due: fix-console-code-block, vale

Update dependency apache-airflow to v2.10.1 [SECURITY]
  catalog/requirements-prod.txt
Due: none

Publish changelog for api-2024.09.09.05.40.22
  documentation/changelogs/api/2024.09.09.05.40.22.md
Due: fix-console-code-block, vale

Update documentation/changelogs/api/2024.09.09.05.40.22.md
  documentation/changelogs/api/2024.09.09.05.40.22.md
Due: fix-console-code-block, vale

Make PDM available when linting in release app
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
Due: none

Add catalog changelog
  documentation/changelogs/catalog/2024.09.09.23.00.57.md
Due: fix-console-code-block, vale

Add missing page header
  documentation/changelogs/catalog/2024.09.09.23.00.57.md
Due: fix-console-code-block, vale

Replace @openverse/eslint-plugin
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit
