Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Include hidden .env file on ingestion server service
  docker-compose.yml
Due: none

Update field name to `real_actor` based on WordPress/openverse-infrastructure#449
  .github/workflows/ci_cd.yml
Due: none

Include `get-changes` action in sync
  .github/sync.yml
Due: none

Removed the files directive for actionlint-docker.
  .pre-commit-config.yaml
  templates/.pre-commit-config.yaml.jinja
Due: render-precommit, render-prettier, render-github

Fix template to pass lint checks
  templates/.pre-commit-config.yaml.jinja
Due: render-precommit, render-prettier, render-github

Fix prod deployment workflow dispatch call
  .github/workflows/release-app.yml
Due: none

Proofread and reword for clarity
  documentation/guides/deployment.md
  documentation/guides/zero-downtime-database-management.md
Due: none

Move deployment documentation up and add environment variable zero-downtime information
  documentation/guides/deploy.md
  documentation/guides/deployment.md
  documentation/guides/zero-downtime-database-management.md
  frontend/meta_docs/DEPLOYMENT.md
Due: i18n, types, test:unit

Update production deployment instructions
  documentation/guides/deployment.md
Due: none

Update deployment log links to separated workflows
  documentation/guides/deployment.md
Due: none

Add note about changelog PRs
  documentation/guides/deployment.md
Due: none

Apply suggestions from code review
  documentation/guides/deployment.md
  documentation/guides/zero-downtime-database-management.md
Due: none

Update docs links and add TBD placeholder for prod procedure
  documentation/guides/deployment.md
Due: none

Fix guides toc for changed filename
  documentation/guides/index.md
Due: none

Add more docs for Plausible and auto-initialise custom event names
  documentation/reference/frontend/goal-conversions.png
  documentation/reference/frontend/index.md
  documentation/reference/frontend/plausible.md
  frontend/bin/get-custom-event-names.js
  setup_plausible.sh
Due: i18n, types, test:unit

Update existing docs
  documentation/guides/frontend/analytics.md
  documentation/guides/frontend/goal-conversions.png
  documentation/reference/frontend/plausible.md
Due: none

Add caveat that it is not necessary to run Plausible if not working on custom events
  documentation/guides/frontend/analytics.md
Due: none

Use the named styles
  frontend/src/components/VAudioDetails/VAudioDetails.vue
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VMediaInfo/VMediaReuse.vue
  frontend/src/components/VMediaTag/VMediaTag.vue
  frontend/src/styles/tailwind.css
Due: i18n, types, test:unit

Fix snapshot
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
Due: i18n, types, test:unit

Use the named styles
  frontend/src/components/VAudioDetails/VAudioDetails.vue
Due: i18n, types, test:unit

Update TW line-heights
  frontend/src/components/VAudioDetails/VAudioDetails.vue
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VMediaInfo/VMediaReuse.vue
  frontend/src/components/VMediaTag/VMediaTag.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.js
Due: i18n, types, test:unit

Update snapshot
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
Due: i18n, types, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Due: i18n, types, test:unit

Update snapshot
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-resting-linux.png
Due: i18n, types, test:unit

Update ci to use github.token
  .github/actions/setup-env/action.yml
  .github/workflows/ci_cd.yml
Due: none

Add a wait to filter button test to fix CI
  frontend/test/storybook/visual-regression/v-filter-button.spec.ts
Due: i18n, types, test:unit

Prevent non-uniform event names or overwriting default props
  frontend/package.json
  frontend/src/types/analytics.ts
  pnpm-lock.yaml
Due: i18n, types, test:unit

Move validation to different module to prevent confusion
  frontend/src/types/analytics.ts
  frontend/src/types/validate-analytics.ts
Due: i18n, types, test:unit

Allow events without payloads while ensuring correct usage
  frontend/src/composables/use-analytics.ts
  frontend/src/types/analytics.ts
Due: i18n, types, test:unit

🔄 synced local '.github/workflows/' with remote 'next/staging/deployment-workflows/'
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
Due: none

🔄 synced local '.github/workflows/' with remote 'next/production/deployment-workflows/'
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
