Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Fix dark theme inconsistencies
  frontend/src/app.vue
  frontend/src/components/TableSortIcon.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VSkeleton/VAudioTrackSkeleton.vue
  frontend/src/components/VSkeleton/VBone.vue
  frontend/src/constants/favicons.ts
  frontend/src/error.vue
Due: i18n, types, eslint, test:unit

Convert search result components to script setup
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHomeGallery/VGalleryImage.vue
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VScrollButton.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioInstructions.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/src/components/VSkeleton/VAudioTrackSkeleton.vue
  frontend/src/components/VSkeleton/VBone.vue
  frontend/src/components/VSkeleton/VGridSkeleton.vue
  frontend/src/components/VSnackbar.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/types/collection-component-props.ts
  frontend/src/types/home-gallery.ts
Due: i18n, types, eslint, test:unit

Update the error snapshot
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-xl-linux.png
Due: i18n, types, test:unit

update timeouts in constants.py
  catalog/dags/database/batched_update/constants.py
Due: none

Revert the Nuxt 3 update
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add e2e test for healthcheck route
  frontend/test/playwright/e2e/healthcheck.spec.ts
Due: i18n, types, eslint, test:unit

Move server dir into src dir; Add healthcheck e2e test
  frontend/nuxt.config.ts
  frontend/src/server/plugins/sentry.ts
  frontend/src/server/routes/healthcheck.ts
  frontend/src/server/utils/logger.ts
  frontend/test/playwright/e2e/healthcheck.spec.ts
Due: i18n, types, eslint, test:unit

Qualify `identifier` column, add `additional_where` for batched update
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
Due: none

Add batched update trigger to insertion DAG
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/data_augmentation/rekognition/constants.py
Due: none

Disable animations and hide cursor (caret) by default
  frontend/test/playwright/utils/breakpoints.ts
Due: i18n, types, eslint, test:unit

Fix homepage layout shift
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Remove full height
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-xl-linux.png
Due: i18n, types, test:unit

Convert components used on single result pages
  frontend/src/components/VBackToSearchResultsLink.vue
  frontend/src/components/VContentReport/VDmcaNotice.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
  frontend/src/components/VCopyButton.vue
  frontend/src/components/VHideButton.vue
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VSingleResultControls.vue
  frontend/src/components/VSketchFabViewer.vue
  frontend/src/components/VTag/VTag.vue
Due: i18n, types, eslint, test:unit

Update the recent search disclaimer
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
Due: i18n, types, eslint, test:unit

Update frontend/src/locales/scripts/en.json5
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Add a new background color "blur"
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Replace image blur effect with blur overlay
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/test/unit/specs/components/v-image-cell.spec.js
Due: i18n, types, eslint, test:unit

Switch between license info and "Sensitive content"
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Handle style differences between licenses and "Sensitive content" note
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Add drop temp table step
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/data_augmentation/rekognition/constants.py
Due: none

Update snapshots
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
Due: i18n, types, test:unit

Logging of current position
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/constants.py
Due: none

Add initial Slack notification messages, unify templates
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/data_augmentation/rekognition/constants.py
Due: none

Skip Wikimedia items with mismatched media types
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none

Revert "Skip Wikimedia items with mismatched media types"
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none

Update common extract_filetype function
  catalog/dags/common/extensions.py
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/common/test_extensions.py
Due: none

Replace Wikimedia function to extract file type
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none
