Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Add tests for index stat change
  catalog/tests/dags/common/test_ingestion_server.py
Due: none

Publish changelog for api-2023.05.15.21.51.49
  documentation/changelogs/api/2023.05.15.21.51.49.md
Due: none

Publish changelog for frontend-2023.05.15.22.13.27
  documentation/changelogs/frontend/2023.05.15.22.13.27.md
Due: none

Alter label-pr logic to account for stack label already being present
  automations/python/label_pr.py
Due: none

Remove all explicit linking of GitHub usernames from existing changelogs
  documentation/_ext/link_usernames.py
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/api/2023.05.15.21.51.49.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/frontend/2023.05.15.22.13.27.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
Due: none

Do not pre-render GitHub usernames in changelog/releases
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github

Update Load more button
  frontend/src/components/VLoadMore.vue
  frontend/tailwind.config.js
Due: i18n, types, test:unit

Remove "full" variant
  frontend/src/types/button.ts
Due: i18n, types, test:unit

Add storybook visual regression tests
  frontend/src/components/meta/CustomButtonComponents.stories.mdx
  frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-hovered-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-hovered-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-resting-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-resting-xl-linux.png
Due: i18n, types, test:unit

Content switcher analytics event
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/composables/use-analytics.ts
  frontend/src/composables/use-component-name.ts
  frontend/src/composables/use-search-type.ts
  frontend/src/types/analytics.ts
Due: i18n, types, test:unit

Add changes from code review
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/composables/use-component-name.ts
  frontend/src/composables/use-search-type.ts
Due: i18n, types, test:unit

Add unit tests
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/composables/use-search-type.spec.js
Due: i18n, types, test:unit

Make trapFocus configurable for VPopover
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/composables/use-popover-content.ts
  frontend/src/composables/use-popper.ts
  frontend/test/unit/specs/components/v-popover.spec.js
Due: i18n, types, test:unit

Apply `focus-trap=false` to popovers that don't need it
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VPopover/VPopover.vue
Due: i18n, types, test:unit

Add role=dialog, aria-modal=true to VPopover
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
Due: i18n, types, test:unit

Add tests for `photon.check_image_type`
  api/api/utils/photon.py
  api/test/unit/utils/test_photon.py
Due: none

Update api/api/utils/photon.py
  api/api/utils/photon.py
Due: none

Apply Staci suggestion
  api/api/utils/photon.py
Due: none

Add a simple script for getting a sanitized commit message
  .github/workflows/ci_cd.yml
  automations/python/workflows/get_commit_message.py
Due: none

Add more context in comment about stack labels
  automations/python/label_pr.py
Due: none

Add column
  docker/upstream_db/0003_openledger_image_schema.sql
  docker/upstream_db/0006_openledger_audio_schema.sql
Due: none

Publish changelog for catalog-2023.05.16.22.14.49
  documentation/changelogs/catalog/2023.05.16.22.14.49.md
Due: none

Update banner styles
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
Due: i18n, types, test:unit

Add IP for blurring results in the frontend
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230506-implementation_plan_frontend_blurring_sensitive.md
Due: none

Fix renovate GitHub actions version number
  .github/workflows/renovate.yml
Due: none

Add session storage support to feature flags
  frontend/feat/feature-flags.json
  frontend/src/constants/feature-flag.ts
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/src/types/feature-flag.ts
Due: i18n, types, test:unit

Allow feature flags to refuse `ff_` query params
  frontend/src/stores/feature-flag.ts
  frontend/src/types/feature-flag.ts
Due: i18n, types, test:unit

Initialise session-based feature-flags on client load
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
Due: i18n, types, test:unit
