Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Change the media views to order records by total report count
  api/api/admin/__init__.py
  api/api/admin/media_report.py
Due: none

Let media ID be used for autocomplete, and return unaltered queryset
  api/api/admin/media_report.py
Due: none

Add more fields to sort on
  api/api/admin/media_report.py
Due: none

Add links to the pending reports in a column
  api/api/admin/__init__.py
  api/api/admin/media_report.py
Due: none

Rename to "total report count"
  api/api/admin/media_report.py
Due: none

Expose the decisions tables (for now)
  api/api/admin/__init__.py
Due: none

Add filtering based on pending reports
  api/api/admin/media_report.py
Due: none

More tweaks to table
  api/api/admin/media_report.py
Due: none

Make pending the default filter rather than all
  api/api/admin/media_report.py
Due: none

Revert back to media-specific tables
  api/api/admin/media_report.py
  api/api/models/audio.py
  api/api/models/image.py
Due: none

Wording and whitespace corrections
  api/api/admin/media_report.py
Due: none

Ensure presence of all attributes using `dataclass`
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
Due: none

Create a separate `api_dev` image that's used in test but not published
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
Due: none

Enable aliases in `load-img` action
  .github/actions/load-img/action.yml
Due: none

Use complete command instead of alias
  .github/workflows/ci_cd.yml
Due: none

Fix dataclass `__init__`
  automations/python/workflows/set_matrix_images.py
Due: none

Fix downloading of images
  .github/actions/load-img/action.yml
Due: none

Publish changelog for api-2024.05.07.23.56.36
  documentation/changelogs/api/2024.05.07.23.56.36.md
Due: none

Remove sendapimoveannouncement management command
  api/api/management/commands/sendapimoveannouncement.py
  api/test/unit/management/commands/test_sendapimoveannouncement.py
Due: none

moved brand directory to documentation
  documentation/brand/README.md
  documentation/brand/banner.svg
  documentation/brand/icon.svg
  documentation/brand/logo.svg
  documentation/brand/thumbnail-dark.svg
  documentation/brand/thumbnail-small-dark.svg
  documentation/brand/thumbnail-small-transparent.svg
  documentation/brand/thumbnail-small-yellow.svg
  documentation/brand/thumbnail-transparent.svg
  documentation/brand/thumbnail-yellow.svg
  documentation/brand/wp-icon-openverse.svg
Due: none

move brand directory to documentation/meta directory
  .github/CODEOWNERS
  documentation/meta/brand/banner.svg
  documentation/meta/brand/icon.svg
  documentation/meta/brand/index.md
  documentation/meta/brand/logo.svg
  documentation/meta/brand/thumbnail-dark.svg
  documentation/meta/brand/thumbnail-small-dark.svg
  documentation/meta/brand/thumbnail-small-transparent.svg
  documentation/meta/brand/thumbnail-small-yellow.svg
  documentation/meta/brand/thumbnail-transparent.svg
  documentation/meta/brand/thumbnail-yellow.svg
  documentation/meta/brand/wp-icon-openverse.svg
  documentation/meta/index.md
Due: codeowners-validator

Include no quotes in files of cleaned data
  ingestion_server/ingestion_server/cleanup.py
Due: none

Remove duplicates
  documentation/changelogs/api/2024.05.07.23.56.36.md
Due: none

Only build `api_dev` image when needed and do not make artifact
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
Due: none

Fix stories
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
Due: i18n, types, test:unit

Fix VAudioTrack and VByLine story setup
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
Due: i18n, types, test:unit

Eject storybook
  frontend/.storybook/decorators/with-rtl.js
  frontend/.storybook/decorators/with-screenshot-area.js
  frontend/.storybook/decorators/with-ui-store.js
  frontend/.storybook/main.js
  frontend/.storybook/middleware.js
  frontend/.storybook/preview.js
  frontend/src/components/VCheckbox/meta/VCheckbox.stories.js
  frontend/src/components/meta/Focus.stories.js
Due: i18n, types, eslint, test:unit

update stories
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.js
  frontend/src/components/VAudioTrack/meta/VWaveform.stories.js
  frontend/src/components/VContentLink/meta/VContentLink.stories.js
  frontend/src/components/VExternalSearch/meta/VExternalSourceList.stories.js
  frontend/src/components/VHeader/VSearchBar/meta/VSearchBar.stories.js
  frontend/src/components/VHeader/meta/VContentSettingsModal.stories.js
  frontend/src/components/VHeader/meta/VHeaderDesktop.stories.js
  frontend/src/components/VHeader/meta/VHomeLink.stories.js
  frontend/src/components/VInputField/meta/VInputField.stories.js
  frontend/src/components/VMediaInfo/meta/VMediaLicense.stories.js
  frontend/src/components/VRadio/meta/VRadio.stories.js
  frontend/src/components/VTabs/meta/VTabs.stories.js
Due: i18n, types, eslint, test:unit

Fix sensitive test
  frontend/src/components/VHideButton.vue
  frontend/test/tapes/detail/images/de42d499-d660-47b4-b203-28d5589c31d2_close.json5
  frontend/test/tapes/search/audio/q=cat&unstable__include_sensitive_results=true&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=cat&unstable__include_sensitive_results=true&peaks=true_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&unstable__include_sensitive_results=true_close.json5
Due: i18n, types, eslint, test:unit

Remove svg stories
  frontend/src/components/VIcon/meta/VIcon.stories.js
  frontend/src/components/VSvg/meta/VSvg.stories.js
Due: i18n, types, eslint, test:unit

Update
  frontend/src/components/VMediaInfo/meta/VMetadata.stories.js
  frontend/test/unit/fixtures/image.js
Due: i18n, types, eslint, test:unit

Fix story names in tests
  frontend/test/storybook/visual-regression/v-filter-tab.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts
Due: i18n, types, eslint, test:unit
