Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Bump corepack to 0.35.0 for current npm signing keys
  .github/actions/setup-env/action.yml
Due: none

Pin the API image's Debian release to bookworm
  api/Dockerfile
Due: none

Pin MinIO images and use `mc alias set`
  catalog/compose.yml
  docker/minio/load_to_s3_entrypoint.sh
Due: none

Slim the pipenv pin comment to its essence
  ingestion_server/Dockerfile
Due: none

Pin CI tooling to restore build, lint, and image loading (#5602)
  .github/actions/load-img/action.yml
  .github/actions/setup-env/action.yml
  api/Dockerfile
  catalog/compose.yml
  docker/minio/load_to_s3_entrypoint.sh
  ingestion_server/Dockerfile
Due: none

Limit Docker image artifact retention to 2 days
  .github/workflows/ci_cd.yml
Due: none

Run Renovate every 6 hours instead of every 30 minutes
  .github/workflows/renovate.yml
Due: none

Reduce Actions storage churn: image artifact retention and Renovate cadence (#5604)
  .github/workflows/ci_cd.yml
  .github/workflows/renovate.yml
Due: none

Clarify API key registration fields
  api/api/serializers/oauth2_serializers.py
  api/api/views/oauth2_views.py
Due: none

Update dependency tldextract to v5.3.2
  catalog/requirements-prod.txt
Due: none

Update dependency tldextract to v5.3.2 (#5437)
  catalog/requirements-prod.txt
Due: none

Clarify API key registration fields (#5585)
  api/api/serializers/oauth2_serializers.py
  api/api/views/oauth2_views.py
Due: none

Update dependency freezegun to v1.5.5
  catalog/requirements-dev.txt
Due: none

Update dependency freezegun to v1.5.5 (#5433)
  catalog/requirements-dev.txt
Due: none

Escape attribute values in attribution markup builder
  frontend/shared/utils/attribution-html.ts
  frontend/test/unit/specs/utils/attribution-html.spec.ts
Due: i18n, types, eslint, test:unit

Fix vacuous assertion and formatting in href sanitization tests
  frontend/test/unit/specs/utils/attribution-html.spec.ts
Due: i18n, types, eslint, test:unit

Escape attribute values in attribution markup builder (#5607)
  frontend/shared/utils/attribution-html.ts
  frontend/test/unit/specs/utils/attribution-html.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2026.08.27.20.18.32
  documentation/changelogs/frontend/2026.08.27.20.18.32.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2026.08.27.20.18.32 (#5608)
  documentation/changelogs/frontend/2026.08.27.20.18.32.md
Due: fix-console-code-block, vale

Point catalog loader test fixtures at a placeholder host
  catalog/tests/dags/common/loader/test_resources/foreign_identifier_duplicate.tsv
  catalog/tests/dags/common/loader/test_resources/foreign_landing_url_missing.tsv
  catalog/tests/dags/common/loader/test_resources/license_missing.tsv
  catalog/tests/dags/common/loader/test_resources/malformed_less_than_max_rows.tsv
  catalog/tests/dags/common/loader/test_resources/malformed_max_rows.tsv
  catalog/tests/dags/common/loader/test_resources/malformed_more_than_max_rows.tsv
  catalog/tests/dags/common/loader/test_resources/none_missing.tsv
  catalog/tests/dags/providers/provider_api_scripts/resources/example_output/thingiverse_1551879215.tsv
Due: none

Point catalog loader test fixtures at a placeholder host (#5609)
  catalog/tests/dags/common/loader/test_resources/foreign_identifier_duplicate.tsv
  catalog/tests/dags/common/loader/test_resources/foreign_landing_url_missing.tsv
  catalog/tests/dags/common/loader/test_resources/license_missing.tsv
  catalog/tests/dags/common/loader/test_resources/malformed_less_than_max_rows.tsv
  catalog/tests/dags/common/loader/test_resources/malformed_max_rows.tsv
  catalog/tests/dags/common/loader/test_resources/malformed_more_than_max_rows.tsv
  catalog/tests/dags/common/loader/test_resources/none_missing.tsv
  catalog/tests/dags/providers/provider_api_scripts/resources/example_output/thingiverse_1551879215.tsv
Due: none

Update dependency storybook to v8.6.17 [SECURITY]
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency pook to v2.1.6
  catalog/requirements-dev.txt
Due: none

Update dependency js-yaml to v4.1.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vue-i18n to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency @intlify/core-base to v11.1.10 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency axios to v1.13.5 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency glob to v11.1.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.19.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency rollup to v4.59.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.4.1 [SECURITY]
  pnpm-lock.yaml
Due: none

Derive the PR for automations from the triggering run
  .github/workflows/pr_automations.yml
Due: none

Derive the PR for automations from the triggering run (#5614)
  .github/workflows/pr_automations.yml
Due: none

Route external link hrefs through a shared URL helper
  frontend/shared/utils/attribution-html.ts
  frontend/shared/utils/sanitize-href.ts
  frontend/src/components/VLink.vue
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/test/unit/specs/utils/sanitize-href.spec.ts
Due: i18n, types, eslint, test:unit

Expand link URL handling test coverage
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/test/unit/specs/utils/sanitize-href.spec.ts
Due: i18n, types, eslint, test:unit

Apply Prettier formatting to link URL tests
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/test/unit/specs/utils/sanitize-href.spec.ts
Due: i18n, types, eslint, test:unit

Route external link hrefs through a shared URL helper (#5615)
  frontend/shared/utils/attribution-html.ts
  frontend/shared/utils/sanitize-href.ts
  frontend/src/components/VLink.vue
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/test/unit/specs/utils/sanitize-href.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2026.09.10.19.21.48
  documentation/changelogs/frontend/2026.09.10.19.21.48.md
Due: fix-console-code-block, vale
