Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Fix mobile searchbar clear button
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
Due: i18n, types, eslint, test:unit

Re-add storybook to ci_cd
  .github/workflows/ci_cd.yml
Due: none

Use built storybook for CI
  frontend/package.json
  frontend/test/storybook/playwright.config.ts
Due: i18n, types, eslint, test:unit

Fix value type
  frontend/src/components/VInputField/meta/VInputField.stories.ts
Due: i18n, types, eslint, test:unit

Fix type
  frontend/src/components/VAudioThumbnail/meta/VAudioThumbnail.stories.ts
Due: i18n, types, eslint, test:unit

Try fixing pnpx cache access
  frontend/Dockerfile.playwright
Due: i18n, types, test:unit

Update the error string
  frontend/test/storybook/functional/smoke-test.spec.ts
Due: i18n, types, eslint, test:unit

Remove favicon replacement
  .github/actions/build-docs/action.yml
Due: none

Add docs build
  .github/actions/build-docs/action.yml
Due: none

Add svg icon
  .github/actions/build-docs/action.yml
  frontend/src/public/favicon_storybook.ico
  frontend/src/public/favicon_storybook.svg
Due: i18n, types, test:unit

Update the lock file
  pnpm-lock.yaml
Due: none

Update i18n packages
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/test/locales/valid-locales.json
Due: i18n, types, eslint, test:unit

Remove intlify packages from dependencies
  frontend/package.json
Due: i18n, types, eslint, test:unit

Replace iso with language
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
Due: i18n, types, eslint, test:unit

Improve Openverse k6 devex with TS and ESLint
  frontend/package.json
  justfile
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/k6/README.md
  packages/js/k6/justfile
  packages/js/k6/package.json
  packages/js/k6/rollup.config.ts
  packages/js/k6/src/frontend/all.test.ts
  packages/js/k6/src/frontend/constants.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/frontend/search-en.test.ts
  packages/js/k6/src/frontend/search-locales.test.ts
  packages/js/k6/src/frontend/static-en.test.ts
  packages/js/k6/src/frontend/static-locales.test.ts
  packages/js/k6/src/utils.ts
  packages/js/k6/tsconfig.json
  pnpm-lock.yaml
  utilities/load_testing/.env.sh.template
  utilities/load_testing/.gitignore
  utilities/load_testing/Dockerfile
  utilities/load_testing/README.md
  utilities/load_testing/api.sh
  utilities/load_testing/get_word.sh
  utilities/load_testing/justfile
  utilities/load_testing/k6/frontend.js
  utilities/load_testing/k6/main.js
  utilities/load_testing/k6/observation.js
  utilities/load_testing/k6/search.js
Due: i18n, types, eslint, test:unit, vale

Add k6 to ov
  docker/dev_env/Dockerfile
Due: none

Fix args passing and allow overriding scenario options
  packages/js/k6/justfile
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/utils.ts
Due: types, eslint, test:unit

Fix broken eslint import config
  justfile
  packages/js/eslint-plugin/src/configs/import.ts
Due: types, eslint, test:unit

Update storybook snapshots
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xs-linux.png
Due: i18n, types, test:unit

Rearrange update statement
  catalog/dags/maintenance/add_license_url.py
Due: none

Add new background color `curr-page`
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Add `isDarkModeSeen` to UI store
  frontend/src/stores/ui.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
Due: i18n, types, eslint, test:unit

Define new colors required in designs
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Add generic and dark-mode-specific new feature notice
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Add glowing effect to theme selector
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Implement reversed CC icons for dark mode
  frontend/src/assets/svg/raw/licenses/by-dark.svg
  frontend/src/assets/svg/raw/licenses/by-light.svg
  frontend/src/assets/svg/raw/licenses/by.svg
  frontend/src/assets/svg/raw/licenses/cc-dark.svg
  frontend/src/assets/svg/raw/licenses/cc-light.svg
  frontend/src/assets/svg/raw/licenses/cc.svg
  frontend/src/assets/svg/raw/licenses/nc-dark.svg
  frontend/src/assets/svg/raw/licenses/nc-light.svg
  frontend/src/assets/svg/raw/licenses/nc.svg
  frontend/src/assets/svg/raw/licenses/nd-dark.svg
  frontend/src/assets/svg/raw/licenses/nd-light.svg
  frontend/src/assets/svg/raw/licenses/nd.svg
  frontend/src/assets/svg/raw/licenses/pd-dark.svg
  frontend/src/assets/svg/raw/licenses/pd-light.svg
  frontend/src/assets/svg/raw/licenses/pd.svg
  frontend/src/assets/svg/raw/licenses/remix-dark.svg
  frontend/src/assets/svg/raw/licenses/remix-light.svg
  frontend/src/assets/svg/raw/licenses/remix.svg
  frontend/src/assets/svg/raw/licenses/sa-dark.svg
  frontend/src/assets/svg/raw/licenses/sa-light.svg
  frontend/src/assets/svg/raw/licenses/sa.svg
  frontend/src/assets/svg/raw/licenses/sampling-dark.svg
  frontend/src/assets/svg/raw/licenses/sampling-light.svg
  frontend/src/assets/svg/raw/licenses/sampling-plus-dark.svg
  frontend/src/assets/svg/raw/licenses/sampling-plus-light.svg
  frontend/src/assets/svg/raw/licenses/sampling.plus.svg
  frontend/src/assets/svg/raw/licenses/sampling.svg
  frontend/src/assets/svg/raw/licenses/share-dark.svg
  frontend/src/assets/svg/raw/licenses/share-light.svg
  frontend/src/assets/svg/raw/licenses/share.svg
  frontend/src/assets/svg/raw/licenses/zero-dark.svg
  frontend/src/assets/svg/raw/licenses/zero-light.svg
  frontend/src/assets/svg/raw/licenses/zero.svg
  frontend/src/assets/svg/sprite/licenses.svg
  frontend/src/components/VIcon/VIcon.vue
Due: i18n, types, eslint, test:unit

Correct grammar and make comment more specific
  catalog/dags/common/storage/media.py
Due: none
