Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Fix auto-fixable problems
  automations/js/src/label_pr.mjs
  frontend/src/components/VErrorSection/VErrorImage.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VScrollableLine.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/layouts/search-layout.vue
  frontend/test/proxy.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/stores/search-store.spec.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
  justfile
  packages/js/api-client/vitest.config.mjs
Due: i18n, types, eslint, test:unit

Migrate the plugin to ESLint v9
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  justfile
  package.json
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/custom.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/configs/index.ts
  packages/js/eslint-plugin/src/configs/typescript.ts
  packages/js/eslint-plugin/src/configs/vue.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
  packages/js/eslint-plugin/src/rules/index.ts
  packages/js/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/js/eslint-plugin/src/rules/translation-strings.ts
  packages/js/eslint-plugin/src/typings.d.ts
  packages/js/eslint-plugin/src/utils/rule-creator.ts
  packages/js/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/js/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/js/eslint-plugin/test/rules/translation-strings.spec.ts
Due: types, eslint, test:unit

Fix other problems
  automations/js/src/last_week_tonight.mjs
  automations/js/src/project_thread_updates.js
  eslint.config.mjs
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/composables/use-dialog-control.ts
  frontend/src/plugins/errors.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/types/home-gallery.ts
  frontend/src/utils/decode-data.ts
  frontend/tailwind.config.ts
  frontend/test/unit/specs/components/v-link.spec.js
  frontend/typings/extend.d.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/k6/src/frontend/scenarios.ts
Due: i18n, types, eslint, test:unit

Use ts config for js files
  automations/js/src/count_user_reviewable_prs.js
  automations/js/src/label_pr.mjs
  automations/js/src/last_week_tonight.mjs
  automations/js/src/project_automation/prs.mjs
  automations/js/src/sync_labels.mjs
  automations/js/src/utils/pr.mjs
  eslint.config.mjs
  frontend/scripts/document-media.js
  frontend/src/components/VHeader/meta/VFilterButton.stories.js
  frontend/src/locales/scripts/json-pot-helpers.js
  frontend/src/locales/scripts/read-i18n.js
  frontend/src/locales/scripts/utils.js
  frontend/test/proxy.js
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/components/AudioTrack/v-box-layout.spec.js
  frontend/test/unit/specs/components/v-image-cell.spec.js
  frontend/test/unit/specs/components/v-license.spec.js
  frontend/test/unit/specs/components/v-search-results-title.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-unsuccessful.spec.js
  packages/js/eslint-plugin/src/configs/typescript.ts
Due: i18n, types, eslint, test:unit

Update code owners
  .github/CODEOWNERS
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

Update plugin playwright
  packages/js/api-client/vitest.config.mjs
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Simplify gitignore handling
  eslint.config.mjs
Due: none

Re-add vitest eslint rules to tests
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/specs/stores/search-store.spec.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
  packages/js/eslint-plugin/src/index.ts
Due: i18n, types, eslint, test:unit

Downgrade ESLint to fix https://github.com/typescript-eslint/typescript-eslint/issues/10191
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Add linting errors
  frontend/src/locales/scripts/en.json5
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  packages/js/api-client/tests/client.test.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
Due: i18n, types, eslint, test:unit

Revert "Add linting errors"
  frontend/src/locales/scripts/en.json5
  frontend/src/types/analytics.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  packages/js/api-client/tests/client.test.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
Due: i18n, types, eslint, test:unit

Add missing warning arg in rotate_envfiles DAG
  catalog/dags/maintenance/rotate_envfiles.py
Due: none

Add workflow to run Playwright smoketests in CI
  .github/workflows/ci_cd.yml
  .github/workflows/playwright_deployment_smoketest.yml
Due: none

Remove testing code for new workflow
  .github/workflows/playwright_deployment_smoketest.yml
Due: none

Dark mode fixes
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VInputField/VInputField.vue
  frontend/src/components/VTabs/VTabPanel.vue
  frontend/src/pages/index.vue
Due: i18n, types, eslint, test:unit

Fix waveform
  frontend/src/components/VAudioTrack/VWaveform.vue
Due: i18n, types, eslint, test:unit

More fixes
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VSnackbar.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xs-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-ltr-sm-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-rtl-sm-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-rtl-sm-light-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-rtl-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-rtl-xl-light-linux.png
Due: i18n, types, test:unit

Replace pink-8 with correct class name
  frontend/src/components/VHeader/meta/VSearchBarButton.stories.js
Due: i18n, types, eslint, test:unit

Add default placeholder color
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Use the correct environment DB for getting the record count of media to reindex
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Fix parameter type for fetching launch template number
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Wait for worker to initialize before trying to trigger reindexing task
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Use port 8002 for indexer worker in non-local environment
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Log instance status, pass if empty
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Update node and pnpm
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update python dev dependencies
  api/pdm.lock
  api/pyproject.toml
  documentation/pdm.lock
  documentation/pyproject.toml
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
Due: none
