Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Improve Dockerfile for JS monorepo
  frontend/Dockerfile.monorepo-js
  frontend/Dockerfile.monorepo-js.dockerignore
Due: i18n, types, test:unit

Empty-Commit
  .pre-commit-config.yaml
Due: none

Setup CI/CD to use the monorepo js dockerfile
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
Due: none

Disable running Renovate on forks
  .github/workflows/renovate.yml
Due: none

edit word for Microsoft.Accessibility
  documentation/general/deployment.md
  documentation/meta/ci_cd/actions.md
  documentation/projects/proposals/3d_model_support/20220221-project_proposal.md
  documentation/projects/proposals/popularity_optimizations/20230406-project_proposal_popularity_optimizations.md
  documentation/projects/proposals/visual_regression_testing/20220217-implementation_plan.md
  styles/Microsoft/Accessibility.yml
Due: none

revise words for Microsoft.Accessibility
  documentation/frontend/reference/feature_flags.md
  documentation/general/zero_downtime_database_management.md
  documentation/packages/eslint_plugin/no-unexplained-disabled-test.md
  documentation/projects/proposals/feature_flags/20220309-project_proposal.md
  documentation/projects/proposals/search_relevancy_sandbox/20230406-implementation_plan_update_staging_database.md
  documentation/projects/proposals/trust_and_safety/20230109-trust_and_safety_preliminary_overview_and_exploration.md
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20230411-project_proposal_content_report_moderation.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230330-implementation_plan_filtering_and_designating_results_with_sensitive_textual_content.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230506-implementation_plan_frontend_blurring_sensitive.md
Due: none

Update component name
  frontend/src/pages/sensitive-content.vue
Due: i18n, types, test:unit

Replace 'init' with 'create'
  documentation/justfile
  documentation/projects/planning.md
Due: none

Allow setting number of shards per media type
  ingestion_server/ingestion_server/es_mapping.py
Due: none

Update title in `useMeta`
  frontend/src/pages/sensitive-content.vue
Due: i18n, types, test:unit

Simplify and organise index properties
  ingestion_server/ingestion_server/es_mapping.py
Due: none

[WIP] Frontend monorepo build dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.monorepo-js
  frontend/justfile
  frontend/package.json
Due: i18n, types, test:unit

Add nginx proxy for frontend
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf.template
  justfile
Due: i18n, types, test:unit

Forward plausible requests with Nginx, removing this responsibility from Nuxt
  docker-compose.yml
  documentation/frontend/reference/nginx.md
  frontend/Dockerfile
  frontend/Dockerfile.nginx
  frontend/nginx.conf.template
  frontend/nuxt.config.ts
Due: i18n, types, test:unit

Fix iteration
  automations/python/workflows/set_matrix_images.py
Due: none

Build and publish frontend_nginx from CI
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
Due: none

Fix docs build
  documentation/frontend/reference/index.md
  documentation/frontend/reference/nginx.md
Due: none

Fix analytics playwright tracking
  frontend/test/playwright/utils/analytics.ts
Due: i18n, types, test:unit

[WIP] Frontend monorepo build dockerfile
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.monorepo-js
  frontend/Dockerfile.monorepo-js.dockerignore
  frontend/justfile
  frontend/package.json
Due: i18n, types, test:unit

Update POT file
  openverse.pot
Due: none

Remove fields not supported by search request serializer
  ingestion_server/ingestion_server/es_mapping.py
Due: none

Update field mapping in search controller
  api/api/controllers/search_controller.py
Due: none

Remove `.keyword` from source
  api/api/controllers/search_controller.py
Due: none

Remove `.keyword` from identifier
  api/api/utils/search_context.py
Due: none

Remove keyword field from description
  ingestion_server/ingestion_server/es_mapping.py
Due: none

Delete unwanted entry from `number_of_shards`
  ingestion_server/ingestion_server/es_mapping.py
Due: none

Enable the sensitive content flag
  frontend/feat/feature-flags.json
Due: i18n, types, test:unit

Delete 'sensitive_content' feature flag and all usages
  frontend/feat/feature-flags.json
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/stores/search.ts
  frontend/test/unit/specs/stores/search-store.spec.js
Due: i18n, types, test:unit

Add 2 sensitive content preference switches to filter count
  frontend/test/playwright/e2e/filters.spec.ts
Due: i18n, types, test:unit

added robots.txt
  api/api/templates/robots.txt
  api/conf/urls/__init__.py
  api/conf/urls/openapi.py
  templates/robots.txt
Due: render-precommit, render-prettier, render-github

Update E2E tests
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
Due: i18n, types, test:unit

added robots.txt file to the api templates
  api/api/templates/robots.txt
  api/conf/urls/openapi.py
  templates/robots.txt
Due: render-precommit, render-prettier, render-github

check for plausible active state
  frontend/justfile
Due: i18n, types, test:unit

Add recent incidents to thumbnail runbooks
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_anomaly.md
Due: none

Simplify the related search
  api/api/controllers/search_controller.py
  api/api/views/media_views.py
Due: none

revise VTag and VMediaTags
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VTag/VTag.vue
Due: i18n, types, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
