Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

upated-new-provider-to-use-correct-just-commands
  documentation/catalog/guides/adding_a_new_provider.md
Due: none

Publish changelog for frontend-2023.11.06.20.32.30
  documentation/changelogs/frontend/2023.11.06.20.32.30.md
Due: none

Use legacy openssl provider
  .github/actions/build-docs/action.yml
  frontend/package.json
Due: i18n, types, eslint, test:unit

Update the lock file
  pnpm-lock.yaml
Due: none

Updated nuxt, @nuxt/vue-app, @nuxt/types dependencies
  frontend/package.json
Due: i18n, types, eslint, test:unit

Vendor in case package
  frontend/package.json
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/meta/VButton.stories.mdx
  frontend/src/stores/provider.ts
  frontend/src/utils/case.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/license.ts
  frontend/src/utils/metadata.ts
Due: i18n, types, eslint, test:unit

Create a kebabToCamel JS function for locales
  frontend/src/locales/scripts/utils.js
Due: i18n, types, eslint, test:unit

Add suggestions from code review
  frontend/src/utils/case.ts
  frontend/src/utils/decode-media-data.ts
  frontend/src/utils/metadata.ts
  frontend/test/unit/specs/utils/case.spec.js
Due: i18n, types, eslint, test:unit

Update global audio component
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/types/button.ts
Due: i18n, types, eslint, test:unit

Fix global player border radius
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/tailwind.safelist.txt
Due: i18n, types, eslint, test:unit

Add changes from code review
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: i18n, types, eslint, test:unit

Remove unused VCloseButton component
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/meta/VCloseButton.stories.mdx
Due: i18n, types, eslint, test:unit

Remove `handleError` from returns
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: i18n, types, eslint, test:unit

Make VButton accept an array for connections
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VPlayPause.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/types/button.ts
Due: i18n, types, eslint, test:unit

Replace the border with a ring
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: i18n, types, eslint, test:unit

Fix global player border radius
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: i18n, types, eslint, test:unit

Lower the ring width to 1px (from 1.5)
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Replace the border with a ring
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: i18n, types, eslint, test:unit

Fix types
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VPlayPause.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
Due: i18n, types, test:unit

Add a guide for manually interrupting indexing
  documentation/ingestion_server/guides/index.md
  documentation/ingestion_server/guides/troubleshoot.md
Due: none

Partly document the ingestion server task API
  documentation/ingestion_server/reference/index.md
  documentation/ingestion_server/reference/task_api.md
Due: none

Update root vue-tsc
  package.json
  pnpm-lock.yaml
Due: none

Document the index upgrade and migration process
  documentation/ingestion_server/guides/index.md
  documentation/ingestion_server/guides/migrate.md
  documentation/ingestion_server/guides/upgrade.md
Due: none

add test instructions and remove to-do comments
  documentation/catalog/guides/adding_a_new_provider.md
Due: none

edit comments
  documentation/catalog/guides/adding_a_new_provider.md
Due: none

edit testing
  documentation/catalog/guides/adding_a_new_provider.md
Due: none

Implement suggestion from code-review
  documentation/ingestion_server/guides/migrate.md
  documentation/ingestion_server/guides/troubleshoot.md
  documentation/ingestion_server/guides/upgrade.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
