Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update dependency sentry-sdk to v2
  api/pyproject.toml
  indexer_worker/pyproject.toml
Due: none

Update the lock files
  api/pdm.lock
  indexer_worker/pdm.lock
Due: none

Add eslint comment
  automations/js/package.json
  automations/js/src/last_week_tonight.mjs
  pnpm-lock.yaml
Due: eslint

Dedupe dependencies
  automations/js/package.json
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency django to v5
  api/pyproject.toml
Due: none

Append tag to prevent concurrency issues with DAGs in staging
  catalog/dags/data_refresh/dag_factory.py
Due: none

Name mapped tasks in `wait_for_external_dag`
  catalog/dags/common/sensors/utils.py
Due: none

Publish changelog for frontend-2024.11.08.08.05.38
  documentation/changelogs/frontend/2024.11.08.08.05.38.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.11.08.08.05.37
  documentation/changelogs/api/2024.11.08.08.05.37.md
Due: fix-console-code-block, vale

Update dependency apache-airflow to v2.10.3 [SECURITY]
  catalog/requirements-prod.txt
Due: none

Add project proposal and IP for license migration
  documentation/projects/proposals/relicensing/20241028-implementation_plan_relicensing.md
  documentation/projects/proposals/relicensing/20241028-project_proposal.md
  documentation/projects/proposals/relicensing/index.md
Due: fix-console-code-block, vale

Only apply `text-secondary` in dark mode
  frontend/src/components/VContentPage.vue
Due: i18n, types, eslint, test:unit

Run tests with 0 diff pixels
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Update IP
  documentation/projects/proposals/relicensing/20241028-implementation_plan_relicensing.md
Due: fix-console-code-block, vale

Add missing scheme for external URL
  documentation/projects/proposals/relicensing/20241028-implementation_plan_relicensing.md
Due: fix-console-code-block, vale

Remove unnecessary nesting under `application/json`
  api/api/docs/base_docs.py
  api/api/examples/audio_responses.py
  api/api/examples/image_responses.py
  api/api/examples/oauth2_responses.py
  api/test/test_examples.py
Due: none

Remove redundant `detailed_image` variable
  api/api/examples/image_responses.py
Due: none

Use singular example for stats
  api/api/docs/audio_docs.py
  api/api/docs/image_docs.py
Due: none

Use singular example for search and related endpoints
  api/api/docs/audio_docs.py
  api/api/docs/image_docs.py
Due: none

Update pagination data in related endpoint responses
  api/api/examples/audio_responses.py
  api/api/examples/image_responses.py
Due: none

Improve warning message and correct typos
  api/api/utils/pagination.py
Due: none

Remove redundant `many=True` param
  api/api/serializers/source_serializers.py
Due: none

Separate dev and test dependencies
  indexer_worker/pyproject.toml
Due: none

Update `psycopg2` to `psycopg` (v3)
  indexer_worker/pyproject.toml
Due: none

Update lock
  indexer_worker/pdm.lock
Due: none

Update usages of `psycopg2` to `psycopg`
  indexer_worker/indexer_worker/db_helpers.py
  indexer_worker/indexer_worker/queries.py
Due: none

Update lockfile
  api/pdm.lock
Due: none

Add meta description for docs home
  documentation/index.md
Due: fix-console-code-block, vale
