Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Re-apply changes of #3652
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/env.template
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_s3.py
Due: none

WIP: Change connection to use AwsBaseHook
  catalog/dags/common/cloudwatch.py
Due: none

Omit the AWS region
  catalog/dags/common/cloudwatch.py
Due: none

Actually skip the alarm tasks per settings
  catalog/dags/common/cloudwatch.py
Due: none

Reverse changes related to AWS credential env vars
  catalog/env.template
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_s3.py
Due: none

Change CloudWatch connection
  catalog/dags/common/cloudwatch.py
  catalog/dags/common/constants.py
  catalog/env.template
Due: none

Apply suggestions from @AetherUnbound's code review
  catalog/dags/common/cloudwatch.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
  catalog/env.template
Due: none

Deserealize TOGGLE_CLOUDWATCH_ALARMS variable
  catalog/dags/common/cloudwatch.py
  catalog/env.template
Due: none

Change trigger rule of downstream tasks
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
Due: none

Lint
  catalog/dags/common/cloudwatch.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
Due: none

Add info of Airflow variables and connections to docstring
  catalog/dags/common/cloudwatch.py
Due: none

Pass TriggerRule to ingestion server tasks
  catalog/dags/common/ingestion_server.py
  catalog/dags/data_refresh/data_refresh_task_factory.py
Due: none

Remove `edited` type from both PR automation init triggers
  .github/workflows/pr_automations_init.yml
Due: none

Prevent running certain workflows on forks
  .github/workflows/generate_pot.yml
  .github/workflows/issue_automations.yml
  .github/workflows/label_sync.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
  .github/workflows/pr_ping.yml
  .github/workflows/project_thread_update_reminders.yml
  .github/workflows/release-app.yml
  .github/workflows/renovate.yml
  .github/workflows/subscribe_to_label.yml
  .github/workflows/sync_meta.yml
  .github/workflows/weekly_updates.yml
Due: none

Allow arguments to be handed into ipython recipe
  catalog/justfile
Due: none

Update NYPL URL and test references
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/tests/dags/providers/provider_api_scripts/resources/nypl/response_search_success.json
Due: none

Put tags in the appropriate database field
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/tests/dags/providers/provider_api_scripts/resources/nypl/metadata.json
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
Due: none

revert changes and refactor to follow DRF best practices
  api/api/views/oauth2_views.py
Due: none

remove uneeded import
  api/api/views/oauth2_views.py
Due: none

Fix import order
  api/api/views/oauth2_views.py
Due: none

Add note about running pytest inside the container
  api/test/integration/test_audio_integration.py
  api/test/integration/test_image_integration.py
Due: none

Add note about location of common tests
  api/test/integration/test_audio_integration.py
  api/test/integration/test_image_integration.py
Due: none

Revert "Add SEARCH_RESPONSE_TIME analytics event to searches (#3632)"
  frontend/src/data/media-service.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/data/media-service.spec.ts
Due: i18n, types, eslint, test:unit

Use Flickr to reuse the existing tape
  frontend/test/playwright/e2e/sources.spec.ts
Due: i18n, types, eslint, test:unit

Fix test locator
  frontend/test/playwright/e2e/sources.spec.ts
Due: i18n, types, eslint, test:unit

Add a comment for the expression
  .github/workflows/generate_pot.yml
  .github/workflows/issue_automations.yml
  .github/workflows/label_sync.yml
  .github/workflows/pr_automations.yml
  .github/workflows/pr_automations_init.yml
  .github/workflows/pr_ping.yml
  .github/workflows/project_thread_update_reminders.yml
  .github/workflows/release-app.yml
  .github/workflows/renovate.yml
  .github/workflows/subscribe_to_label.yml
  .github/workflows/sync_meta.yml
  .github/workflows/weekly_updates.yml
Due: none

Re-add edited for PR
  .github/workflows/pr_automations_init.yml
Due: none

Add a concurrency group for PR automations init workflow
  .github/workflows/pr_automations_init.yml
Due: none

Update stack.md
  documentation/general/stack.md
Due: none

feat: Upgrade Docker image tag to specific number
  api/Dockerfile
Due: none

Adjust code comment text
  api/Dockerfile
Due: none

Linting
  frontend/src/pages/about.vue
Due: i18n, types, eslint, test:unit

Updated frontend snapshots
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
Due: i18n, types, test:unit

Updated outdated links in about page for codebase and project board
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/about.vue
Due: i18n, types, eslint, test:unit

Add GitHub to i18n linting ignore list
  packages/eslint-plugin/src/configs/vue.ts
Due: types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
