Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Record @krysal's approval
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Due: none

Update default port for API load testing
  utilities/load_testing/justfile
Due: none

Update raw_tags from audio providers
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_jamendo.py
Due: none

Sort TAG_DENYLIST and add term
  catalog/dags/common/storage/media.py
Due: none

Rename variables for denied tags
  catalog/dags/common/storage/media.py
Due: none

Change raw_tags type to `set` in storage classes
  catalog/dags/common/storage/audio.py
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
Due: none

Update raw_tags from cc_mixter and finnish_museums
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_finnish_museums.py
Due: none

Update raw_tags from smithsonian, stocksnap and wordpress
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/tests/dags/providers/provider_api_scripts/test_smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_wordpress.py
Due: none

Update raw_tags from justtakeitfree and metropolitan_museum
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_justtakeitfree.py
  catalog/tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
Due: none

Update docstring for `watermarked` and remove extra str in `TAG_DENYLIST`
  catalog/dags/common/storage/image.py
  catalog/dags/common/storage/media.py
Due: none

Apply review suggestions
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
Due: none

Update raw_tags from nappy, nypl and rawpixel
  catalog/dags/common/storage/media.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/nypl.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
  catalog/tests/dags/providers/provider_api_scripts/test_nypl.py
  catalog/tests/dags/providers/provider_api_scripts/test_rawpixel.py
Due: none

Update _format_raw_tag fn and remove redundant excluded tags
  catalog/dags/common/storage/media.py
Due: none

Update raw_tags from flickr
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_long_tags_string.json
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_unsorted_tags.json
  catalog/tests/dags/providers/provider_api_scripts/resources/flickr/image_data_varying_tags_whitespace.json
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
Due: none

Use more descriptive accessible headings for search result pages
  .pre-commit-config.yaml
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-linux.png
  frontend/test/unit/specs/components/__snapshots__/v-search-results-title.spec.js.snap
  frontend/test/unit/specs/components/v-search-results-title.spec.js
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
  prettier.config.js
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Increase Wikimedia request timeout
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Due: none

Update frontend/src/locales/scripts/en.json5
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Use full names for action slugs
  api/api/constants/moderation.py
  api/api/migrations/0058_moderation_decision.py
  api/api/models/media.py
Due: none

Add suggestions from code review
  frontend/src/composables/use-collection-meta.ts
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Add suggestions from code review
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Use `reverse` and `request.build_absolute_uri` to build URL
  api/api/models/media.py
Due: none

Remove unused field `url_frag`
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
Due: none

Fix typos (and reflow text accordingly)
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Due: none

Publish changelog for api-2024.04.02.05.06.52
  documentation/changelogs/api/2024.04.02.05.06.52.md
Due: none

Use a more generic recipe name to match the convention used by the catalog
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Due: none

Use a more generic recipe name to match the convention used by the catalog
  .github/workflows/ci_cd.yml
  api/justfile
  frontend/justfile
Due: i18n, types, test:unit

Remove provision for missing fields on `Hit` because we never serialise hits
  api/api/serializers/base.py
Due: none

fix:Related endpoint error is still sent to Sentry #4006
  frontend/src/stores/media/related-media.ts
Due: i18n, types, eslint, test:unit

Update frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/related-media.ts
Due: i18n, types, eslint, test:unit

Document reasons for not documenting `jsonb` fields in this IP
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Due: none

Update dependency tldextract to v5.1.2
  catalog/requirements-prod.txt
Due: none

Add log insights querying information for Nuxt 5XX errors
  documentation/meta/monitoring/runbooks/nuxt_http_5xx_above_threshold.md
Due: none
