Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update dependency vite to v6.1.6 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.16.0 [SECURITY]
  pnpm-lock.yaml
Due: none

Update dependency nock to v14.0.4 (#5412)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency elasticsearch to v8.18.1 (#5398)
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency nuxt to v3.16.0 [SECURITY] (#5411)
  pnpm-lock.yaml
Due: none

Update dependency @types/k6 to ^0.57.0
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Remove experiemental import and fix type errors
  packages/js/k6/src/http.ts
Due: types, eslint, test:unit

Update dependency @types/k6 to ^0.57.0 (#5397)
  packages/js/k6/package.json
  packages/js/k6/src/http.ts
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency apache-airflow to v2.10.5
  catalog/requirements-prod.txt
Due: none

Update dependency @playwright/test to v1.52.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Resolve deprecation warnings
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Update Airflow config to new structure
  catalog/Dockerfile
Due: none

Use `None` handler when the result of `run` is unused
  catalog/dags/common/loader/sql.py
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/popularity/sql.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

docs: fix grammar in brand description line in README
  README.md
Due: vale

Split Flickr refresh task from ingestion DAG to separate DAG
  catalog/dags/common/refresh.py
  catalog/dags/data_refresh/flickr_refresh.py
  catalog/dags/providers/flickr.py
Due: none

Update dependency vite to v6.1.6 [SECURITY] (#5417)
  pnpm-lock.yaml
Due: none

Publish changelog for frontend-2025.05.26.14.11.17
  documentation/changelogs/frontend/2025.05.26.14.11.17.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2025.05.26.14.11.17 (#5425)
  documentation/changelogs/frontend/2025.05.26.14.11.17.md
Due: fix-console-code-block, vale

Sorting Count Mismatch
  api/api/controllers/search_controller.py
Due: none

Update dependency vite to v6.1.6 [SECURITY] (#5427)
  pnpm-lock.yaml
Due: none

Update dependency nuxt to v3.16.0 [SECURITY] (#5430)
  pnpm-lock.yaml
Due: none

Update dependency vite to v6.1.6 [SECURITY] (#5442)
  pnpm-lock.yaml
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
