Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Fix typo in the `pnpm-workspace.yaml` file name
  frontend/Dockerfile
Due: i18n, types, test:unit

Add "skip to main content" link to the content pages
  frontend/src/components/VContentPage.vue
Due: i18n, types, test:unit

Focus on the "main-content" instead of the first tabbable
  frontend/src/components/VSkipToContentContainer.vue
Due: i18n, types, test:unit

Add "skip-changelog" to meta-sync PRs and exclude them from changelog
  .github/release_drafter.yml
  .github/workflows/sync_meta.yml
Due: none

Match default `just` recipe with other packages
  documentation/justfile
Due: none

Change the location of ESLint + Prettier config
  .pre-commit-config.yaml
  templates/.pre-commit-config.local.yaml.jinja
  templates/.pre-commit-config.yaml.jinja
Due: render-precommit, render-prettier, render-github

Update frontend/src/components/VContentPage.vue
  frontend/src/components/VContentPage.vue
Due: i18n, types, test:unit

Update issues link on the sources page
  frontend/src/pages/about.vue
Due: i18n, types, test:unit

Update POT file
  openverse.pot
Due: none

Add table of contents to "guides" docs page
  api/docs/guides/index.md
Due: none

Wrap README image in an openverse.org link
  README.md
Due: none

Uninstall Furo, the Sphinx theme
  api/Pipfile
  api/Pipfile.lock
Due: none

Remove the API and Frontend repos from project automation
  automations/data/github.yml
Due: none

Query for open PRs when querying for closed PRs
  automations/python/issues_with_prs.py
Due: none

Don't get card content, determine by content URL only
  automations/python/issues_with_prs.py
Due: none

Improve logging for skipped issues
  automations/python/issues_with_prs.py
Due: none

Documentation/cleanup
  automations/python/issues_with_prs.py
Due: none

Linting
  automations/python/issues_with_prs.py
Due: none

Remove duplicated meta-files
  api/meta_docs/CONTRIBUTING.md
  api/meta_docs/README.md
  frontend/meta_docs/CONTRIBUTING.md
  frontend/meta_docs/README.md
Due: i18n, types, test:unit

Add contact channels and usage docs to the `README.md` file
  README.md
Due: none

Allow passing args to the Pipenv install commands
  api/justfile
  ingestion_server/justfile
Due: none

Add a recipe to clean the build and live server output
  documentation/justfile
Due: none

Allow running a specific lint hook on a specific file
  justfile
Due: none

Make Sphinx recognise internal links to subheadings
  documentation/conf.py
Due: none

Expand on the use of GitHub CLI
  documentation/guides/quickstart.md
Due: none

Add a page about general setup
  documentation/guides/general_setup.md
  documentation/guides/index.md
  documentation/guides/quickstart.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
