Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Update tests
  catalog/tests/dags/popularity/test_sql.py
Due: none

capture thumbnails during europeana ingestion
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Require updated_on be updated in batched_update
  catalog/dags/database/batched_update/batched_update_dag.py
Due: none

Add first pass at document and diagram
  documentation/meta/media_properties/etls.md
  documentation/meta/media_properties/index.md
Due: none

Fill out other details
  documentation/meta/media_properties/etls.md
Due: none

Add proposed steps next
  documentation/meta/media_properties/etls.md
Due: none

Fix docs warning
  documentation/meta/media_properties/etls.md
Due: none

Publish changelog for frontend-2024.06.07.17.19.06
  documentation/changelogs/frontend/2024.06.07.17.19.06.md
Due: none

Publish changelog for api-2024.06.07.17.19.06
  documentation/changelogs/api/2024.06.07.17.19.06.md
Due: none

Update catalog/dags/maintenance/trim_and_deduplicate_tags.py
  catalog/dags/maintenance/trim_and_deduplicate_tags.py
Due: none

More precisely handle waveform generation failures
  api/api/utils/waveform.py
  api/api/views/audio_views.py
  api/test/integration/test_audio_integration.py
  api/test/integration/test_image_integration.py
Due: none

Assert error response detail
  api/test/integration/test_audio_integration.py
Due: none

Add code review suggestions and split strings
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/tags.vue
Due: i18n, types, eslint, test:unit

Fix ov corepack and pdm existence issues
  docker/dev_env/run.sh
Due: none

Fix trim and deduplicate tags deduplication
  catalog/dags/maintenance/trim_and_deduplicate_tags.py
Due: none

Update tests
  frontend/docker-compose.playwright.yml
  frontend/src/utils/attribution-html.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-2xl-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  frontend/test/unit/specs/components/v-link.spec.js
Due: i18n, types, eslint, test:unit

Make external links open in the same tab
  frontend/src/components/VLink.vue
Due: i18n, types, eslint, test:unit

Moved by tag from the regex group to exact matchch
  catalog/dags/common/storage/media.py
  ingestion_server/ingestion_server/cleanup.py
Due: none

Added the test for frisby
  catalog/tests/dags/common/storage/test_media.py
Due: none

Run linter
  catalog/tests/dags/common/storage/test_media.py
Due: none

Changes all sensible occurences of the just commands to have them run using ov
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .github/pull_request_template.md
  catalog/templates/template_test.py_template
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
  docker/minio/load_to_s3_entrypoint.sh
  documentation/automations/guides/quickstart.md
  documentation/catalog/guides/adding_a_new_provider.md
  documentation/catalog/guides/dag_testing.md
  documentation/catalog/guides/deploy.md
  documentation/frontend/guides/analytics.md
  documentation/frontend/guides/icons.md
  documentation/frontend/reference/miscellaneous.md
  documentation/frontend/reference/nginx.md
  documentation/frontend/reference/storybook_tests.md
  documentation/frontend/reference/testing_guidelines.md
  documentation/general/contribution/good_first_and_help_wanted_issues.md
  documentation/general/https.md
  documentation/general/quickstart.md
  documentation/ingestion_server/guides/deploy.md
  documentation/ingestion_server/guides/quickstart.md
  documentation/meta/ci_cd/actions.md
  documentation/meta/ci_cd/jobs/preparation.md
  documentation/meta/documentation/adding_docs.md
  documentation/meta/maintenance/elasticsearch_cluster.md
  documentation/packages/index.md
  frontend/justfile
  frontend/src/locales/scripts/bulk-download.js
  utilities/generate_test_locales/__main__.py
  utilities/load_testing/README.md
Due: i18n, types, eslint, test:unit

Order quickstart links, add missing catalog link
  documentation/general/quickstart.md
Due: none

Changed PR Comments
  documentation/catalog/guides/deploy.md
  documentation/meta/maintenance/elasticsearch_cluster.md
  frontend/justfile
Due: i18n, types, test:unit

Update the number everywhere
  documentation/api/reference/made_with_ov.md
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/playwright/e2e/seo.spec.ts
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
Due: i18n, types, test:unit

Add pink favicon for the Storybook
  .github/actions/build-docs/action.yml
  frontend/src/static/favicon_storybook.ico
Due: i18n, types, test:unit

Publish changelog for ingestion_server-2024.06.13.17.07.56
  documentation/changelogs/ingestion_server/2024.06.13.17.07.56.md
Due: none
