Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Fixed grammatical issues
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Fix linting error
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Add trailing blank line
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Grammatical issues resolved.
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Remove line
  .github/PULL_REQUEST_TEMPLATE/default_template.md
Due: none

Updates based on feedback
  documentation/projects/proposals/dark_mode/20240325-implementation_plan_dark_mode.md
Due: none

Add user outcomes
  documentation/projects/proposals/dark_mode/20240325-implementation_plan_dark_mode.md
Due: none

Fix file name of default pr template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Update pnpm to v8.15.8
  package.json
Due: none

Update dependency django-asgi-lifespan to >=0.3.1, <0.4
  api/pdm.lock
  api/pyproject.toml
Due: none

Update workflows
  .github/workflows/ci_cd.yml
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_label_check.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update `engines.pnpm`
  package.json
Due: none

Update dependency uvicorn to >=0.29, <0.30
  api/pdm.lock
  api/pyproject.toml
Due: none

Add pytest-pook and move pytest config into pyproject.toml
  api/pdm.lock
  api/pyproject.toml
  api/pytest.ini
Due: none

Remove unnecessary pook mock match assertions
  api/test/unit/utils/test_image_proxy.py
Due: none

Cache repeated thumbnail failures within configured TTL
  api/api/utils/image_proxy/__init__.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Remove unnecessary custom async test handling for image proxy
  api/test/unit/utils/test_image_proxy.py
Due: none

Update `openverse-attribution` with new features
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
  packages/python/openverse-attribution/src/openverse_attribution/attribution.py
  packages/python/openverse-attribution/src/openverse_attribution/data/__init__.py
  packages/python/openverse-attribution/src/openverse_attribution/data/all_licenses.json
  packages/python/openverse-attribution/src/openverse_attribution/data/all_licenses.py
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/src/openverse_attribution/license_name.py
  packages/python/openverse-attribution/tests/test_attribution.py
  packages/python/openverse-attribution/tests/test_license.py
  packages/python/openverse-attribution/tests/test_license_name.py
Due: types, eslint, test:unit

Update usage of `openverse-attribution`
  api/api/admin/media_report.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/utils/watermark.py
Due: none

Add handling for non-standard license slugs
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/tests/test_license.py
Due: types, test:unit

Update dependencies
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.05.01.13.59.00
  documentation/changelogs/api/2024.05.01.13.59.00.md
Due: none

Update docker.io/nginx Docker tag to v1.26.0
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Fix typo
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Due: none

Apply approvals from code review
  documentation/projects/proposals/dark_mode/20240325-implementation_plan_dark_mode.md
Due: none

Update dependency pytest-socket to v0.7.0
  catalog/requirements-dev.txt
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
