Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Automatically set up airflow variable defaults with descriptions.
  catalog/Dockerfile
  catalog/entrypoint.sh
  catalog/variables.tsv
Due: none

Init feature flag state on the store init
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/src/types/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/specs/stores/search-store.spec.js
Due: i18n, types, eslint, test:unit

Add comment
  frontend/test/unit/specs/stores/search-store.spec.js
Due: i18n, types, eslint, test:unit

Correctly set and clean up the env variable in set
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
Due: i18n, types, eslint, test:unit

Document retired node replacement in ES
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: none

apply diff
  documentation/meta/media_properties/frontend.md
Due: none

final updates
  documentation/meta/media_properties/frontend.md
  frontend/src/types/media.ts
Due: i18n, types, eslint, test:unit

Clean up script output and expand testing dockerfile
  Dockerfile.get-started-test
  api/manage.py
  catalog/justfile
  get-started.sh
  justfile
Due: none

Add new script to CODEOWNERS
  .github/CODEOWNERS
Due: codeowners-validator

Add note in documentation about get-started script
  documentation/general/general_setup.md
Due: none

Force all API loggers to be structured
  api/conf/settings/logging.py
Due: none

Update documentation/meta/maintenance/elasticsearch_cluster.md
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: none

Apply suggestions from code review
  frontend/src/types/media.ts
Due: i18n, types, eslint, test:unit

Light cleanup
  documentation/meta/media_properties/frontend.md
  frontend/src/types/media.ts
Due: i18n, types, eslint, test:unit

Lint
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: none

Fix the skip-to-content button
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit

Update comments
  catalog/entrypoint.sh
Due: none

Fix Slack message formatting for ES health alert
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/tests/dags/elasticsearch_cluster/test_healthcheck_dag.py
Due: none

Prevent exposing Django Admin features referencing media tables in prod
  api/api/admin/__init__.py
  api/api/admin/media_report.py
  api/test/unit/admin/test_media_report.py
Due: none

Create factory with stubbed out tasks
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/reporting.py
Due: none

Add copy data steps for primary media tables
  catalog/dags/common/constants.py
  catalog/dags/data_refresh/constants.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/queries.py
Due: none

Respect record_limit when explicitly configured to None
  catalog/dags/data_refresh/copy_data.py
  catalog/tests/dags/data_refresh/test_copy_data.py
Due: none

Update documenation
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/dag_factory.py
  documentation/catalog/reference/DAGs.md
Due: none

Use run_sql where possible
  catalog/dags/data_refresh/copy_data.py
Due: none

Disambiguate id sequence for media types with multiple tables
  catalog/dags/data_refresh/queries.py
Due: none

Add custom ids for mapped tasks, fix formatting
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/reporting.py
  catalog/dags/legacy_data_refresh/data_refresh_types.py
Due: none

Update doc strings
  catalog/dags/data_refresh/copy_data.py
Due: none

Support additional tables like audioset
  catalog/dags/data_refresh/constants.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/queries.py
Due: none

Fix stray use of `console` logger to `console_structured`
  api/conf/settings/logging.py
Due: none

Fix the search-bar-button and add content-settings modal trigger
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-focused-linux.png
Due: i18n, types, test:unit

Use explicit through table for media/decision many-to-many field
  api/api/migrations/0062_decision_through_tables.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  api/latest_migrations/api
  documentation/meta/media_properties/api.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
