Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Document versioning and build/generation
  documentation/packages/js/api_client/index.md
  documentation/packages/python/api_client/index.md
Due: fix-console-code-block, vale

Add automated Python package checks to CI
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/packages.md
  justfile
  packages/js/api-client/package.json
  packages/python/openverse-attribution/pyproject.toml
Due: fix-console-code-block, types, eslint, test:unit, vale

Improve api-client packages build scripts
  docker/dev_env/Dockerfile
  packages/js/api-client/.gitignore
  packages/js/api-client/package.json
  packages/python/api-client/pyproject.toml
Due: types, eslint, test:unit

Use "endpoints" as dict-like instead of endpoint retriever method
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/routes.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.py.j2
  packages/python/api-client/tests/test_async.py
  packages/python/api-client/tests/test_sync.py
Due: none

Use openapi-fetch to create typed JS client
  documentation/packages/js/api_client/index.md
  packages/js/api-client/README.md
  packages/js/api-client/bin/generate.mjs
  packages/js/api-client/package.json
  packages/js/api-client/src/auth.ts
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/generated/models.ts
  packages/js/api-client/src/generated/openverse.d.ts
  packages/js/api-client/src/generated/routes.ts
  packages/js/api-client/src/index.ts
  packages/js/api-client/src/types.ts
  packages/js/api-client/tests/client.test.ts
  pnpm-lock.yaml
Due: fix-console-code-block, types, eslint, test:unit, vale

Remove out of scope Python package support improvements
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
Due: none

Remove Python api-client package
  documentation/packages/python/api_client/index.md
  packages/python/api-client/.gitignore
  packages/python/api-client/README.md
  packages/python/api-client/pdm.lock
  packages/python/api-client/pyproject.toml
  packages/python/api-client/src/openverse_api_client/__init__.py
  packages/python/api-client/src/openverse_api_client/_auth.py
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/models.py
  packages/python/api-client/src/openverse_api_client/_generated/routes.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client/_response.py
  packages/python/api-client/src/openverse_api_client/_utils.py
  packages/python/api-client/src/openverse_api_client_generator/__init__.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/components.py
  packages/python/api-client/src/openverse_api_client_generator/main.py
  packages/python/api-client/src/openverse_api_client_generator/template_env.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.ts.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
  packages/python/api-client/tests/__init__.py
  packages/python/api-client/tests/test_async.py
  packages/python/api-client/tests/test_sync.py
Due: fix-console-code-block, vale

Include aliases for djvu
  catalog/dags/common/extensions.py
  catalog/tests/dags/common/test_extensions.py
Due: none

Update vitest and fix type library pinnings
  frontend/package.json
  package.json
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Document auth and add fail path tests
  packages/js/api-client/package.json
  packages/js/api-client/src/auth.ts
  packages/js/api-client/tests/client.test.ts
  packages/js/eslint-plugin/package.json
Due: types, eslint, test:unit

Revert additional out-of-scope Python packaging supports
  docker/dev_env/Dockerfile
  documentation/meta/ci_cd/jobs/packages.md
  justfile
Due: fix-console-code-block, vale

Clean up generation scripts
  justfile
  packages/js/api-client/bin/generate.mjs
  packages/js/api-client/package.json
Due: types, eslint, test:unit

Remove unused auth middleware getter
  packages/js/api-client/src/auth.ts
Due: types, eslint, test:unit

Undo out-of-scope python package changes
  packages/python/openverse-attribution/pyproject.toml
Due: none

Update package lock
  pnpm-lock.yaml
Due: none

Add assets for the sun and moon icon
  frontend/src/assets/svg/raw/moon.svg
  frontend/src/assets/svg/raw/sun.svg
  frontend/src/assets/svg/sprite/icons.svg
Due: i18n, types, test:unit

Add strings pertaining to theme switching
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Create a theme selector
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Add theme selector to footer
  frontend/src/components/VFooter/VFooter.vue
Due: i18n, types, eslint, test:unit

Add prop to hide the selected choice
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Switch to rollup and fix build
  packages/js/api-client/bin/generate.mjs
  packages/js/api-client/package.json
  packages/js/api-client/rollup.config.ts
  packages/js/api-client/src/generated/openverse.ts
  packages/js/api-client/tsconfig.json
  packages/js/api-client/tsconfig.prod.json
  packages/js/api-client/vitest.config.mjs
  pnpm-lock.yaml
Due: types, eslint, test:unit

Hook up the theme selector to the UI store functionality
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Remove the "force_dark_mode" feature flag as it is redundant
  frontend/feat/feature-flags.json
  frontend/src/composables/use-dark-mode.ts
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Get rid of problematic postinstall scripts
  justfile
  package.json
Due: none

Drop redundant title tooltip for sensitive content
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Avoid snapshot changes
  frontend/src/components/VFooter/VFooter.vue
Due: i18n, types, eslint, test:unit

Make the theme selector client-only
  frontend/src/components/VFooter/VFooter.vue
Due: i18n, types, eslint, test:unit

Fix overly large select field in Safari
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Remove "overflow-hidden" class from `VSelectField`
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Update dependency prettier-plugin-tailwindcss to v0.6.6
  package.json
  pnpm-lock.yaml
Due: none

Update docker.io/mccutchen/go-httpbin Docker tag to v2.14.1
  api/compose.yml
Due: none

Update workflows
  .github/workflows/ci_cd.yml
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_label_check.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update dependency @playwright/test to v1.46.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency elasticsearch to v8.15.0
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
