Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Make base image swappy
  docker/dev_env/Dockerfile
  docker/dev_env/packages.sh
  docker/dev_env/run.sh
  docker/dev_env/setup_env.sh
  ov
Due: none

Go back to using a big base image, but make it better to swap out
  docker/dev_env/.gitignore
  docker/dev_env/Dockerfile
  docker/dev_env/packages.sh
  docker/dev_env/run.sh
  docker/dev_env/setup_env.sh
  ov
Due: none

Fix permissions issues for pdm
  docker/dev_env/Dockerfile
  docker/dev_env/setup_env.sh
Due: none

Add explanatory comment for skipped non-existing files
  ingestion_server/ingestion_server/cleanup.py
Due: none

Specify pull policy for `openverse-` images
  api/compose.yml
  catalog/compose.yml
  docker-compose.yml
  ingestion_server/compose.yml
Due: none

Restore `image` field for service `upstream-db`
  docker-compose.yml
Due: none

Publish changelog for ingestion_server-2024.06.28.20.22.20
  documentation/changelogs/ingestion_server/2024.06.28.20.22.20.md
Due: none

Fix Docker build checks
  api/Dockerfile
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.nginx
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Due: i18n, types, test:unit

Remove usage of undefined var `PYTHONPATH`
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Due: none

Remove incorrectly used spaces from `LABEL` statements
  api/Dockerfile
  catalog/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Update dependency @playwright/test to v1.45.0
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency elasticsearch to v8.14.0
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency prettier to v3.3.2
  package.json
  pnpm-lock.yaml
Due: none

Update dependency typescript to v5.5.2
  package.json
  pnpm-lock.yaml
Due: none

Remove volta and engines.pnpm settings
  .gitignore
  package.json
Due: none

Update frontend; lock file and vue-tsc
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update the lock file
  pnpm-lock.yaml
Due: none

Fix TypeError by checking if duration is not Finite before setting currentTime.
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Extract node version from engines.node
  frontend/justfile
Due: i18n, types, test:unit

Apply suggestions from code review
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Update Node.js to v20.15.0
  package.json
  pnpm-lock.yaml
Due: none

Update TypeScript in pre-commit config
  .pre-commit-config.yaml
Due: none

Update dependency prettier-plugin-tailwindcss to v0.6.5
  package.json
  pnpm-lock.yaml
Due: none

Update workflows
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Fix lint errors in type comparisons
  catalog/dags/common/storage/columns.py
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Publish changelog for frontend-2024.07.01.20.35.48
  documentation/changelogs/frontend/2024.07.01.20.35.48.md
Due: none
