Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Create a template for the bulk moderation confirmation page
  api/api/templates/admin/api/bulk_moderation_confirmation.html
Due: none

Create a bulk moderation mixin and use in the media admin
  api/api/admin/media_report.py
Due: none

Subclass `MediaSubreportAdmin` for sensitive and deleted media models
  api/api/admin/media_report.py
Due: none

Fix typo in permissions
  api/api/admin/media_report.py
Due: none

Show timestamp and use it to order sensitive and deleted media
  api/api/admin/media_report.py
Due: none

Show identifiers even for deleted media in decision through models
  api/api/admin/media_report.py
Due: none

Add support for notes during confirmation
  api/api/templates/admin/api/bulk_moderation_confirmation.html
  api/api/utils/moderation.py
Due: none

Only allow moderators with decision-making powers to perform bulk moderation
  api/api/admin/media_report.py
Due: none

Fix incorrect type of value for `search_fields`
  api/api/admin/media_report.py
Due: none

Fix broken logic in reverse mark sensitive
  api/api/utils/moderation.py
Due: none

Handle a `QuerySet` lazy evaluation bug
  api/api/utils/moderation.py
Due: none

Add a message explaining the effect of the `REVERSED_DEINDEX` operation
  api/api/templates/admin/api/bulk_moderation_confirmation.html
Due: none

Sprinkle logging
  api/api/utils/moderation.py
Due: none

Make it possible to see sensitive media that has also been deindexed
  api/api/admin/media_report.py
Due: none

Make it easier to search and filter media items
  api/api/admin/media_report.py
Due: none

Fix modal issue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/utils/components.ts
Due: i18n, types, eslint, test:unit

Remove the "2 Reviews Needed" column automation from the PR board
  automations/js/src/project_automation/prs.mjs
Due: none

Apply suggestions from code review
  automations/js/src/project_automation/prs.mjs
Due: none

Remove custom prettier config for automations; fix precommit eslint to include mjs files
  .pre-commit-config.yaml
  automations/js/prettier.config.js
  automations/js/src/count_user_reviewable_prs.js
  automations/js/src/label_pr.mjs
  automations/js/src/last_week_tonight.mjs
  automations/js/src/project_automation/issues.mjs
  automations/js/src/project_automation/prs.mjs
  automations/js/src/project_thread_updates.js
  automations/js/src/render-jinja.js
  automations/js/src/sync_labels.mjs
  automations/js/src/utils/html.mjs
  automations/js/src/utils/projects.mjs
Due: eslint

Fix robots.txt for Nuxt 3
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/server/routes/robots.ts
  frontend/src/constants/meta.ts
  frontend/src/pages/about.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/index.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search-help.vue
  frontend/src/pages/search.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  frontend/src/pages/tags.vue
  frontend/src/utils/og.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Remove the single-result endpoints from the robots.txt
  frontend/src/server-middleware/robots.js
Due: i18n, types, eslint, test:unit

Update frontend/nuxt.config.ts
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Fix update query and increase simultaneous tasks
  catalog/dags/maintenance/add_license_url.py
Due: none

Set robots meta content to `all`
  frontend/src/utils/og.ts
Due: i18n, types, eslint, test:unit

Fix playwright e2e tests
  frontend/test/playwright/e2e/seo.spec.ts
Due: i18n, types, eslint, test:unit

Clarify policy around which demographics to exclude in Rekognition IP
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Add changelog section
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Replace "count" with something more descriptive
  api/api/admin/media_report.py
Due: none

Expand help text and add examples
  api/api/admin/media_report.py
Due: none

Replace retry library with backoff
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/requirements-prod.txt
Due: none

Back off of all Freesound requests
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
Due: none

Add tests for bulk ES actions
  api/test/unit/models/test_media.py
Due: none

Add factory for deleted-media models
  api/test/factory/models/__init__.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/fixtures/media_type_config.py
Due: none

Update `UserFactory` to create moderators
  api/test/factory/models/oauth2.py
Due: none
