Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Do not ping for project update reminders on shipped projects
  automations/js/src/project_thread_updates.js
Due: eslint

Add correct verbose_name and verbose_name_plural to Audio, DeletedAudio, and SensitiveAudio models
  api/api/models/audio.py
Due: none

Add correct verbose_name and verbose_name_plural to Audio, DeletedAudio, and SensitiveAudio models (WordPress#4655)
  api/api/models/audio.py
Due: none

Add correct verbose_name and verbose_name_plural to Audio, DeletedAudio, and SensitiveAudio models (WordPress#4655)
  api/api/migrations/0071_alter_audio_options_alter_deletedaudio_options_and_more.py
  api/latest_migrations/api
Due: none

Collect lighthouse CI on each frontend change
  .github/.lighthouserc.yml
  .github/workflows/ci_cd.yml
Due: none

Fix substitution in recipe
  justfile
Due: none

Add the token to the environment
  .github/workflows/ci_cd.yml
Due: none

Only run if nuxt-build finished successfully
  .github/workflows/ci_cd.yml
Due: none

Upload LHCI artifacts
  .github/.lighthouserc.yml
  .github/workflows/ci_cd.yml
Due: none

Report lighthouse results in action
  .github/.lighthouserc.yml
  .github/workflows/ci_cd.yml
Due: none

Build and run with node_env production
  .github/workflows/ci_cd.yml
Due: none

Add correct verbose_name and verbose_name_plural to Audio, DeletedAudio, and SensitiveAudio models (WordPress#4655)
  load_sample_data.sh
Due: none

Fix MacOS node location and add a smoke test
  .github/workflows/ci_cd.yml
  docker/dev_env/Dockerfile
Due: none

Add docker
  .github/workflows/ci_cd.yml
Due: none

Add correct verbose_name and verbose_name_plural to Audio, DeletedAudio, and SensitiveAudio models (WordPress#4655)
  api/api/migrations/0071_alter_audio_options_alter_deletedaudio_options_and_more.py
Due: none

Add Dhruv approval
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20240903-implementation_plan_undo_split_filtered_indices.md
Due: fix-console-code-block, vale

Add envfile rotation DAG
  catalog/dags/maintenance/rotate_envfiles.py
  catalog/tests/dags/test_dag_parsing.py
  documentation/catalog/reference/DAGs.md
Due: fix-console-code-block, vale

Fix flaky preferences test
  frontend/src/pages/preferences.vue
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Fix flaky test from #4995
  frontend/test/playwright/e2e/attribution.spec.ts
Due: i18n, types, eslint, test:unit

Add correct verbose_name and verbose_name_plural to Audio, DeletedAudio, and SensitiveAudio models (WordPress#4655
  load_sample_data.sh
Due: none

added some 5xx error code handling for function
  catalog/dags/providers/provider_api_scripts/stocksnap.py
Due: none

Fixed trailing whitespace error.
  catalog/dags/providers/provider_api_scripts/stocksnap.py
Due: none

trying to fix the ruff issue
  catalog/dags/providers/provider_api_scripts/stocksnap.py
Due: none

Ran with ruff
  api/api/migrations/0001_initial.py
  api/api/migrations/0019_auto_20190307_1830.py
  api/api/migrations/0020_auto_20190918_1954.py
  api/api/migrations/0026_imagereport_date.py
  api/api/migrations/0028_sourcelogo.py
  api/api/migrations/0032_audio_models.py
  api/api/migrations/0046_alter_throttledapplication_user.py
  api/api/migrations/0048_alter_throttledapplication_client_secret.py
  api/api/migrations/0052_relational_fields.py
  api/api/migrations/0056_rename_mature_to_sensitive.py
  api/api/migrations/0058_moderation_decision.py
  api/api/migrations/0059_userpreferences.py
  api/api/migrations/0062_decision_through_tables.py
  api/api/migrations/0067_alter_audiodecisionthrough_media_obj_and_more.py
Due: none

Update dependency nock to v14.0.0-beta.15
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix the load test comment condition
  .github/workflows/ci_cd.yml
Due: none

Only search for comments when running CI for PRs
  .github/workflows/ci_cd.yml
Due: none

Ignore ResizeObserver loop error
  frontend/src/plugins/01.sentry.client.ts
Due: i18n, types, eslint, test:unit

Remove default integrations logging
  frontend/server/plugins/sentry.ts
Due: i18n, types, eslint, test:unit

Update dependency rollup to v4.22.4 [SECURITY]
  pnpm-lock.yaml
Due: none
