Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Use new workflow name
  .github/workflows/ci_cd.yml
  documentation/general/deployment.md
Due: none

correct event code
  frontend/src/components/VImageCell/VImageCell.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Enable activation on hover
  frontend/src/components/VPopover/VPopover.vue
Due: i18n, types, eslint, test:unit

Replace popper.js with floating-ui
  frontend/package.json
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypes.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/components/VPopover/meta/VPopover.stories.mdx
  frontend/src/composables/use-floating-ui.ts
  frontend/src/composables/use-popover-content.ts
  frontend/src/composables/use-popper.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update border
  frontend/src/components/VPopover/VPopoverContent.vue
Due: i18n, types, eslint, test:unit

Remove fixed width
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VPopover/VPopover.vue
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-linux.png
Due: i18n, types, test:unit

Sync node/types version with node version
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Revert "correct event code"
  frontend/src/components/VImageCell/VImageCell.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

correct event code
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Lint
  frontend/src/components/VImageCell/VImageCell.vue
Due: i18n, types, eslint, test:unit

Fix path to test resources
  catalog/templates/template_test.py_template
Due: none

Publish changelog for ingestion_server-2023.12.06.19.13.35
  documentation/changelogs/ingestion_server/2023.12.06.19.13.35.md
Due: none

Add runbooks for anomalous Nuxt response times
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_anomaly.md
Due: none

Add new entries to index
  documentation/meta/monitoring/runbooks/index.md
Due: none

Rename files and title
  documentation/meta/monitoring/runbooks/nuxt_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_above_threshold.md
Due: none

Update runbooks for general Request Count alarms
  documentation/meta/monitoring/runbooks/api_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_request_count_anomaly.md
Due: none

Fix titles of Nuxt HTTP alarms
  documentation/meta/monitoring/runbooks/nuxt_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_http_5xx_above_threshold.md
Due: none

Add spaces in admonition sections
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/api_thumbnails_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/api_thumbnails_request_count_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_above_threshold.md
Due: none

Update status for Nuxt P99 alarms
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_anomaly.md
Due: none

Make JSON parsing extensible in `DelayedRequester`
  catalog/dags/common/requester.py
Due: none

Create a DAG for ccMixter
  catalog/dags/common/loader/provider_details.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_workflows.py
Due: none

Add tests for the ccMixter DAG
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/expected_single_record.json
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/single_item.json
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
Due: none

Update the DAG reference using the `generate-dag-docs` recipe
  documentation/catalog/reference/DAGs.md
Due: none

Add IDs for the maintainer attention labels
  automations/js/src/label_pr.mjs
Due: none

Implement switch case braces
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VItemGroup/VItemGroup.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/locales/scripts/read-i18n.js
  frontend/src/stores/media/index.ts
  frontend/src/utils/string-to-boolean.ts
  packages/eslint-plugin/src/configs/index.ts
Due: i18n, types, eslint, test:unit

Resolving warning
  frontend/test/unit/specs/components/ExternalSources/v-external-source-list.spec.js
  frontend/test/unit/specs/components/v-item-group.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
  frontend/test/unit/specs/components/v-sources-table.spec.js
  frontend/test/unit/specs/components/v-tabs.spec.js
Due: i18n, types, eslint, test:unit

Revert Changes in Pipfile.lock
  api/Pipfile.lock
Due: none

Revert Changes in Pipfile.lock
  archive/README.md
  automations/python/Pipfile.lock
  documentation/Pipfile.lock
  ingestion_server/Pipfile.lock
  utilities/dead_links/Pipfile.lock
  utilities/project_planning/Pipfile.lock
  utilities/provider_tallies/Pipfile.lock
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
