Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'just frontend/run types'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

Fail at getting ingestion server working without host bound ports
  docker/es/justfile
  ingestion_server/env.template
  ingestion_server/justfile
  ingestion_server/pytest.ini
  ingestion_server/test/gen_integration_compose.py
  ingestion_server/test/integration_test.py
  ingestion_server/test/run_test.sh
  ingestion_server/test/test_constants.py
  justfile
Due: none

Simplify using Dhruv's suggestion
  .github/workflows/ci_cd.yml
Due: none

Dispatch workflows instead of regular reuse to show deployment runs
  .github/workflows/ci_cd.yml
  .github/workflows/release-app.yml
Due: none

Add context to image links
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/locales/scripts/en.json5
Due: i18n, types, test:unit

Hide category and clamp title to 1 line when sidebar is open
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
Due: i18n, types, test:unit

Add pinia to test
  frontend/test/unit/specs/components/AudioTrack/v-box-layout.spec.js
Due: i18n, types, test:unit

Update snapshot
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
Due: i18n, types, test:unit

Use smaller padding to prevent shifting on hover
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
Due: i18n, types, test:unit

Convert VPill story to MDX
  frontend/src/components/meta/VPill.stories.js
  frontend/src/components/meta/VPill.stories.mdx
Due: i18n, types, test:unit

Convert VItemGroup story to mdx
  frontend/src/components/VItemGroup/meta/VItemGroup.stories.mdx
Due: i18n, types, test:unit

Remove optional function argument in get_data, only show apply_all_available when True and fix linting
  automations/data/labels.yml
  automations/python/label_pr.py
  automations/python/shared/data.py
Due: none

Restore Django admin views
  api/catalog/api/admin/__init__.py
Due: none

Remove log line
  api/catalog/api/controllers/search_controller.py
Due: none

Update other references of media count to 700 million
  frontend/nuxt.config.ts
  frontend/src/static/opensearch.xml
Due: i18n, types, test:unit

Remove the labelling job from the CI + CD workflow
  .github/workflows/ci_cd.yml
Due: none

Send 'changes' as payload to triggered workflow
  .github/workflows/label_new_pr.yml
Due: none

Use post-monorepo setup process
  .github/workflows/label_pr.yml
Due: none

Pass changes to the Python label script
  .github/workflows/label_pr.yml
Due: none

Create management as a separate changeset
  .github/actions/get-changes/action.yml
  .github/filters.yml
Due: none

Set stack labels from changes in the Python labelling script
  automations/python/label_pr.py
Due: none

Silence incorrect ShellCheck warning
  .github/workflows/label_pr.yml
Due: none

Rewrite decision making document to significantly simplify
  documentation/index.md
  documentation/reference/consent_decision_making.md
  documentation/reference/decision_making/additional_practices.md
  documentation/reference/decision_making/index.md
  documentation/reference/decision_making/process_description.md
  documentation/reference/index.md
Due: none

Add current round callout to additional practices and further simplify language
  documentation/reference/decision_making/additional_practices.md
  documentation/reference/decision_making/process_description.md
Due: none

Update templates/.pre-commit-config.yaml.jinja
  templates/.pre-commit-config.yaml.jinja
Due: render-precommit, render-prettier, render-github

Use consistent heading casing and add back how to use docs
  documentation/reference/decision_making/additional_practices.md
  documentation/reference/decision_making/how_to_use.md
  documentation/reference/decision_making/index.md
  documentation/reference/decision_making/process_description.md
  documentation/reference/index.md
Due: none

Move env vars inside step
  .github/workflows/label_pr.yml
Due: none

Provide `GITHUB_TOKEN` env var to GitHub CLI step
  .github/workflows/ci_cd.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Pass actor with the `-f` flag
  .github/workflows/ci_cd.yml
Due: none

Fix quotes
  .github/workflows/ci_cd.yml
Due: none

Extract meta tags to a constants file
  frontend/nuxt.config.ts
  frontend/src/constants/meta.ts
Due: i18n, types, test:unit

Move comment
  frontend/src/constants/meta.ts
Due: i18n, types, test:unit

Add Sentry to the ingestion server
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
  ingestion_server/ingestion_server/api.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
