Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Implement media properties documentation for the API
  .github/workflows/ci_cd.yml
  api/api/docs/media_properties/preamble.md
  api/api/management/commands/documentmedia.py
  api/api/models/audio.py
  api/api/models/media.py
  api/justfile
  documentation/meta/index.md
  documentation/meta/media_properties/api.md
Due: none

Fix alternatives and prior art
  documentation/projects/proposals/document_all_media_properties/20240313-implementation_plan_document_media_properties_api.md
Due: none

Formatting fixes
  documentation/projects/proposals/dark_mode/20240325-implementation_plan_dark_mode.md
Due: none

Add missing index
  documentation/meta/media_properties/index.md
Due: none

Fix logo height
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
Due: i18n, types, eslint, test:unit

Fix repeated space stripping from translation comments
  frontend/src/locales/scripts/read-i18n.js
Due: i18n, types, eslint, test:unit

Fix typo in rule message
  packages/eslint-plugin/src/rules/translation-strings.ts
Due: types, eslint, test:unit

Add ESLint rule to cap the length of translation strings
  frontend/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/custom.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/translation-strings.ts
  packages/eslint-plugin/test/rules/translation-strings.spec.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Put back placeholders in lots of strings
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/locales/ru.json
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  utilities/generate_test_locales/__main__.py
Due: i18n, types, eslint, test:unit

Add utility for generating test locales
  documentation/frontend/reference/i18n.md
  utilities/generate_test_locales/Pipfile
  utilities/generate_test_locales/Pipfile.lock
  utilities/generate_test_locales/__main__.py
  utilities/generate_test_locales/justfile
Due: none

Replace `pt` with `ru` for translation banners
  frontend/test/locales/pt.json
  frontend/test/locales/ru.json
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xs-linux.png
  utilities/generate_test_locales/__main__.py
Due: i18n, types, eslint, test:unit

Split too-long translation strings
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/about.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  packages/eslint-plugin/src/configs/vue.ts
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Fix handling of linting in the `just` recipe
  api/justfile
Due: none

Remove silencing to debug lint issue
  api/justfile
Due: none

Update page snapshots
  frontend/bin/playwright.sh
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/generic-error-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-audio-no-results-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-image-no-results-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-lg-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-md-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-sm-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xl-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-xs-linux.png
  frontend/test/storybook/playwright.config.ts
Due: i18n, types, eslint, test:unit

Discard changes to frontend/bin/playwright.sh
  frontend/bin/playwright.sh
Due: i18n, types, test:unit

Update frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
Due: i18n, types, eslint, test:unit

Address flake in v-language-select.spec.ts
  frontend/test/storybook/visual-regression/v-language-select.spec.ts
Due: i18n, types, eslint, test:unit

Fix vlanguageselect snapshot
  frontend/test/storybook/visual-regression/v-language-select.spec.ts-snapshots/vlanguageselect-default-linux.png
Due: i18n, types, test:unit

Discard changes to frontend/test/storybook/playwright.config.ts
  frontend/test/storybook/playwright.config.ts
Due: i18n, types, eslint, test:unit

Fix load sample data script provider insertion
  load_sample_data.sh
Due: none

Simplify label set creation, remove debug logging
  automations/js/src/last_week_tonight.mjs
Due: none

Match i18n utils runtime keys to translation keys
  frontend/src/composables/use-i18n-utilities.ts
Due: i18n, types, eslint, test:unit

Add snapshot tests for all possible search results titles
  .pre-commit-config.yaml
  frontend/jest.config.js
  frontend/package.json
  frontend/test/unit/specs/components/__snapshots__/v-search-results-title.spec.js.snap
  frontend/test/unit/specs/components/v-search-results-title.spec.js
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
  prettier.config.js
Due: i18n, types, eslint, test:unit

Add accessible headings to search result pages
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Prevent accidental additional vertical height introduced by secondary h1
  frontend/package.json
  frontend/src/components/VSearchResultsTitle.vue
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-sm-linux.png
  frontend/test/unit/specs/components/__snapshots__/v-search-results-title.spec.js.snap
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update snapshots and always run en copy for unit tests
  frontend/package.json
  frontend/test/unit/specs/components/__snapshots__/v-search-results-title.spec.js.snap
Due: i18n, types, eslint, test:unit

Avoid prettier in snapshots completely
  frontend/jest.config.js
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Simplify scenario building code
  frontend/test/unit/specs/components/v-search-results-title.spec.js
Due: i18n, types, eslint, test:unit

Add missing "tracks" for new audio string
  frontend/src/locales/scripts/en.json5
Due: i18n, types, eslint, test:unit

Remove unnecessary wrapping div
  frontend/src/components/VSearchResultsTitle.vue
  frontend/test/unit/specs/components/__snapshots__/v-search-results-title.spec.js.snap
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
