Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Update `canLoadMore` computation
  frontend/src/components/VLoadMore.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Fix i18n key
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Fix bugs discovered during code review
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-search-type.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
Due: i18n, types, eslint, test:unit

Update Story
  frontend/src/components/meta/CustomButtonComponents.stories.mdx
Due: i18n, types, test:unit

Add project proposal
  documentation/projects/proposals/ingestion_server_removal/20240319-project_proposal.md
  documentation/projects/proposals/ingestion_server_removal/index.md
Due: none

Rename variable for clarity
  catalog/dags/data_refresh/create_filtered_index_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
Due: none

Split concurrency groups out into ES and DB groups
  catalog/dags/common/sensors/constants.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
Due: none

Clarify concurrency_tag variable name
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_types.py
Due: none

Fix typo in dag docs
  documentation/catalog/reference/DAGs.md
Due: none

Centralise frontend network error reporting
  frontend/nuxt.config.ts
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/composables/use-search.ts
  frontend/src/plugins/errors.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/types/analytics.ts
  frontend/src/utils/errors.ts
Due: i18n, types, eslint, test:unit

Remove unnecessary errors plugin shim causing jest.mock to fail for feature flag json
  frontend/test/unit/setup-after-env.js
Due: i18n, types, eslint, test:unit

Revert unnecessary change to `useSearch`
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/composables/use-search.ts
Due: i18n, types, eslint, test:unit

Add shim for tests
  frontend/src/plugins/errors.ts
  frontend/test/unit/setup-after-env.js
  frontend/test/unit/test-utils/pinia.js
Due: i18n, types, eslint, test:unit

Fix jest types to match actual jest version
  pnpm-lock.yaml
Due: none

Skip 429s and rearrange function for clarity
  frontend/src/plugins/errors.ts
Due: i18n, types, eslint, test:unit

Add unit tests for errors plugin
  frontend/test/unit/specs/plugins/errors.spec.ts
Due: i18n, types, eslint, test:unit

WIP/ PR does not work due to analytics composable
  frontend/src/stores/media/index.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Consider SSR/CSR in test
  frontend/src/plugins/errors.ts
  frontend/test/playwright/e2e/search.spec.ts
  frontend/test/unit/specs/plugins/errors.spec.ts
Due: i18n, types, eslint, test:unit

Remove stray console.error
  frontend/src/stores/media/index.ts
Due: i18n, types, eslint, test:unit

Add search route network error handling test
  frontend/test/playwright/e2e/search.spec.ts
Due: i18n, types, eslint, test:unit

Fix bad merge of pnpm lock
  pnpm-lock.yaml
Due: none

Make search results h1 more descriptive
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/search.vue
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/pages/search/index.vue
Due: i18n, types, eslint, test:unit

More details in the accessibility section
  documentation/projects/proposals/dark_mode/20240313-project_proposal_dark_mode.md
Due: none

Fix the skip-to-content link reloading the results
  frontend/src/components/VButton.vue
  frontend/src/components/VSkipToContentButton.vue
  frontend/src/middleware/search.ts
  frontend/src/pages/image/collection.vue
  frontend/src/types/button.ts
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/utils/search-results.ts
Due: i18n, types, eslint, test:unit

Handle ClientResponseError before raising upstream status check
  api/api/utils/image_proxy/__init__.py
Due: none

Project Proposal: Recognition data incorporation
  documentation/projects/proposals/rekognition_data/index.md
  documentation/projects/proposals/rekognition_data/project_proposal.md
Due: none

Update frontend/src/pages/image/collection.vue
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Fix for source query parameter contains invalid values
  api/api/serializers/media_serializers.py
Due: none

New sentence in Success section
  documentation/projects/proposals/dark_mode/20240313-project_proposal_dark_mode.md
Due: none

New description in Marketing section
  documentation/projects/proposals/dark_mode/20240313-project_proposal_dark_mode.md
Due: none

Adding openverse frontend members as implementers
  documentation/projects/proposals/dark_mode/20240313-project_proposal_dark_mode.md
Due: none

Update api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/__init__.py
Due: none

Issue boilerplate WIP and scenario formatting + additions
  documentation/meta/contribution/good_first_and_help_wanted_issues.md
Due: none

MVP
  documentation/general/contributing.md
  documentation/meta/contribution/good_first_and_help_wanted_issues.md
Due: none

Update index.md
  documentation/index.md
Due: none

content was updated based on review
  api/api/utils/image_proxy/__init__.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
