Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

codeowners-validator:
  name: CODEOWNERS validator
  language: docker_image
  pass_filenames: false
  entry: '-e REPOSITORY_PATH="." -e CHECKS="files,duppatterns,syntax" ghcr.io/mszostok/codeowners-validator:v0.7.4
  
    '

Cleanup, expand, edit, hopefully make things better but maybe not please let me know dear reviewer!
  documentation/meta/release_and_deployment/index.md
Due: none

Fix test flake in pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Convert iNaturalist vernacular VARCHAR columns to TEXT
  catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
Due: none

Test generate_waveform
  api/api/utils/waveform.py
  api/test/factory/sample-short-audio.mp3
  api/test/unit/utils/test_waveform.py
Due: none

Fix waveform generation for short tracks
  api/api/utils/waveform.py
Due: none

Add request retries for 5XX errors on Science Museum & Brooklyn Museum
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
Due: none

Setup structlog Sentry integration
  api/api/utils/aiohttp.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/watermark.py
  api/api/utils/waveform.py
  api/conf/settings/logging.py
  api/justfile
  api/pdm.lock
  api/pyproject.toml
Due: none

Remove stray justfile addition
  api/justfile
Due: none

Standardize log.error args
  api/api/admin/media_report.py
  api/api/utils/aiohttp.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/watermark.py
  api/api/utils/waveform.py
  api/api/views/oauth2_views.py
Due: none

Add exc_info to Sentry-logged events
  api/conf/settings/logging.py
  api/conf/settings/sentry.py
Due: none

Revert indentation changes in pyproject
  api/pyproject.toml
Due: none

Add comment waveform generation
  api/api/utils/waveform.py
Due: none

Publish changelog for api-2024.08.05.16.42.20
  documentation/changelogs/api/2024.08.05.16.42.20.md
Due: none

Fix some more dark mode styles and footer component order
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/search-layout.vue
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Final cleanup
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VContentPage.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/styles/accent.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Remove duplication
  documentation/changelogs/api/2024.08.05.16.42.20.md
Due: none

Fix collections SSR
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/composables/use-collection.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Convert modal-related components to script setup
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VPopover/VPopover.vue
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.08.06.13.48.44
  documentation/changelogs/frontend/2024.08.06.13.48.44.md
Due: none

Update 2024.08.06.13.48.44.md
  documentation/changelogs/frontend/2024.08.06.13.48.44.md
Due: none

Update dependency vue to v3.4.36
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix the sources table crash
  frontend/src/components/VSourcesTable.vue
  frontend/test/playwright/e2e/sources.spec.ts
Due: i18n, types, eslint, test:unit

Update frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/playwright/e2e/sources.spec.ts
Due: i18n, types, eslint, test:unit

Update the unit tests
  frontend/test/unit/specs/components/v-sources-table.spec.js
Due: i18n, types, eslint, test:unit

Generate py and ts clients from OpenAPI schema
  packages/js/api-client/.npmignore
  packages/js/api-client/LICENSE
  packages/js/api-client/README.md
  packages/js/api-client/package.json
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/generated/models.ts
  packages/js/api-client/src/generated/routes.ts
  packages/js/api-client/src/index.ts
  packages/js/api-client/tests/client.test.ts
  packages/js/api-client/tests/mock-thumbnail.bin
  packages/js/api-client/tsconfig.json
  packages/js/api-client/tsconfig.prod.json
  packages/js/api-client/vitest.config.mts
  packages/python/api-client/.gitignore
  packages/python/api-client/README.md
  packages/python/api-client/pdm.lock
  packages/python/api-client/pyproject.toml
  packages/python/api-client/src/openverse_api_client/__init__.py
  packages/python/api-client/src/openverse_api_client/_auth.py
  packages/python/api-client/src/openverse_api_client/_generated/async_client.py
  packages/python/api-client/src/openverse_api_client/_generated/models.py
  packages/python/api-client/src/openverse_api_client/_generated/sync_client.py
  packages/python/api-client/src/openverse_api_client/_response.py
  packages/python/api-client/src/openverse_api_client/_utils.py
  packages/python/api-client/src/openverse_api_client_generator/__init__.py
  packages/python/api-client/src/openverse_api_client_generator/__main__.py
  packages/python/api-client/src/openverse_api_client_generator/components.py
  packages/python/api-client/src/openverse_api_client_generator/main.py
  packages/python/api-client/src/openverse_api_client_generator/template_env.py
  packages/python/api-client/src/openverse_api_client_generator/templates/client.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.py.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/models.ts.j2
  packages/python/api-client/src/openverse_api_client_generator/templates/routes.ts.j2
  packages/python/api-client/tests/__init__.py
  packages/python/api-client/tests/test_async.py
  packages/python/api-client/tests/test_sync.py
  pnpm-lock.yaml
Due: types, eslint, test:unit

Add pgcli details
  documentation/general/general_setup.md
Due: none

Prevent Vale style from targeting code blocks
  .vale/styles/Openverse/TermCasing.yml
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
