Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Add tests for data refresh task dependencies
  catalog/tests/dags/data_refresh/test_task_dependencies.py
Due: none

Use only user-facing features for preferences test
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/utils/assertions.ts
  packages/js/eslint-plugin/src/configs/index.ts
Due: i18n, types, eslint, test:unit

Add a back-off
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Use setChecked that waits for the checkbox to change state
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/utils/assertions.ts
Due: i18n, types, eslint, test:unit

Wait for the switch knob to render
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/utils/assertions.ts
Due: i18n, types, eslint, test:unit

Use generic service_url variable for frontend scenarios
  .github/workflows/ci_cd.yml
  packages/js/k6/src/frontend/constants.ts
Due: types, eslint, test:unit

Add step to trigger load test with staging deploy
  .github/workflows/ci_cd.yml
Due: none

Remove testing input overrides
  .github/workflows/k6.yml
Due: none

Add workflow for running k6 on live urls
  .github/workflows/k6.yml
  docker/dev_env/Dockerfile
  packages/js/k6/justfile
Due: types, test:unit

Fix missing k6 envvar option for signing secret
  .github/workflows/k6.yml
Due: none

Set testing variables in workflow
  .github/workflows/k6.yml
Due: none

Remove JS template string syntax from Python template string
  .github/workflows/ci_cd.yml
Due: none

Update storybook and pin nuxt module version
  frontend/.storybook/main.ts
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Revert "Ran with ruff"
  api/api/migrations/0001_initial.py
  api/api/migrations/0019_auto_20190307_1830.py
  api/api/migrations/0020_auto_20190918_1954.py
  api/api/migrations/0026_imagereport_date.py
  api/api/migrations/0028_sourcelogo.py
  api/api/migrations/0032_audio_models.py
  api/api/migrations/0046_alter_throttledapplication_user.py
  api/api/migrations/0048_alter_throttledapplication_client_secret.py
  api/api/migrations/0052_relational_fields.py
  api/api/migrations/0056_rename_mature_to_sensitive.py
  api/api/migrations/0058_moderation_decision.py
  api/api/migrations/0059_userpreferences.py
  api/api/migrations/0062_decision_through_tables.py
  api/api/migrations/0067_alter_audiodecisionthrough_media_obj_and_more.py
Due: none

Lint
  catalog/dags/providers/provider_api_scripts/stocksnap.py
Due: none

Move alumni from current maintainers to former
  README.md
  documentation/general/contribution/current_maintainers.md
Due: fix-console-code-block, vale

Bump installed Python and fix stage name
  .github/actions/setup-env/action.yml
  .pre-commit-config.yaml
Due: none

Have multiple versions of Python
  .github/actions/setup-env/action.yml
Due: none

Update dependency nuxt to v3.13.2
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency prettier-plugin-tailwindcss to v0.6.8
  package.json
  pnpm-lock.yaml
Due: none

Add catalog to images built for API
  automations/python/workflows/set_matrix_images.py
Due: none

Update dependency vue-tsc to v2.1.6
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pnpm to v9.12.1
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.6.3
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit
