Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Update prettier to v3.x
  .pre-commit-config.yaml
Due: none

Cleanup docs
  .pre-commit-config.yaml
Due: none

Improve copy for clarity
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_moderation_metrics.md
Due: none

Update the definition and code for report leaderboards
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_moderation_metrics.md
Due: none

Link to previous IPs in this project
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20240122-implementation_plan_moderation_metrics.md
Due: none

Update dependency pook to v1.4.3
  catalog/requirements-dev.txt
Due: none

Revert unnecessary changes
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
Due: i18n, types, eslint, test:unit

Add e2e tests
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/tapes/related/audio/1cb1af19-7232-40c2-b9ea-8d6c47e677f9_keep-alive.json5
Due: i18n, types, eslint, test:unit

Use a dynamic component for media and remove unnecessary wrapper
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VRelatedResults.vue
Due: i18n, types, eslint, test:unit

Combine related media component using VMediaCollection.vue
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioInstructions.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/components/VSearchResultsGrid/VRelatedResults.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/search/audio.vue
  frontend/src/types/result.ts
Due: i18n, types, eslint, test:unit

Update frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
Due: i18n, types, eslint, test:unit

Use query params for the frontend collections
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/data/api-service.ts
  frontend/src/data/media-service.ts
  frontend/src/middleware/collection.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/audio/tag/_tag.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/image/source/_.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Update tests and tapes
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/tapes/detail/images/f9384235-b72e-4f1e-9b05-e1b116262a29_close.json5
  frontend/test/tapes/detail/images/f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  frontend/test/tapes/response-1.json5
  frontend/test/tapes/response-20.json5
  frontend/test/tapes/response-21.json5
  frontend/test/tapes/response-23.json5
  frontend/test/tapes/response-287.json5
  frontend/test/tapes/response-3.json5
  frontend/test/tapes/response-5.json5
  frontend/test/tapes/response-6.json5
  frontend/test/tapes/response-7.json5
  frontend/test/tapes/search/images/creator=strogoscope&source=flickr&unstable__collection=creator_keep-alive.json5
  frontend/test/tapes/search/images/creator=strogoscope_keep-alive.json5
  frontend/test/tapes/search/images/source=flickr&unstable__collection=source_keep-alive.json5
  frontend/test/tapes/search/images/unstable__collection=tag&tags=cat_keep-alive.json5
  frontend/test/tapes/stats-audio-close.json5
  frontend/test/tapes/stats-audio-keep-alive.json5
  frontend/test/tapes/stats-audio-options.json5
  frontend/test/tapes/stats-images-keep-alive.json5
  frontend/test/unit/specs/stores/search-store.spec.js
Due: i18n, types, eslint, test:unit

Update link in sources table
  frontend/src/components/VSourcesTable.vue
Due: i18n, types, eslint, test:unit

Fix pr_ping
  .github/workflows/pr_ping.yml
Due: none

Fix pr_ping typo
  .github/workflows/pr_ping.yml
Due: none

Update docker.io/nginx Docker tag to v1.25.4
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Added accessibility label (#10)
  frontend/src/components/VTag/VTag.vue
Due: i18n, types, eslint, test:unit

Update POT file
  openverse.pot
Due: none

Fix Vale by passing files to process instead of a glob to ignore
  .vale/justfile
Due: none

Publish changelog for api-2024.03.04.15.15.13
  documentation/changelogs/api/2024.03.04.15.15.13.md
Due: none

Publish changelog for frontend-2024.03.04.15.15.07
  documentation/changelogs/frontend/2024.03.04.15.15.07.md
Due: none

Update DelayedRequester to raise the actual HTTPError
  catalog/dags/common/requester.py
  catalog/tests/dags/common/test_requester.py
Due: none

Update Freesound error handling
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Due: none

Update Phylopic to restart ingestion when build_param changes mid-ingestion
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
Due: none

Update documentation for how to perform rollbacks
  documentation/api/guides/deploy.md
  documentation/catalog/guides/deploy.md
  documentation/frontend/guides/deploy.md
  documentation/general/deployment.md
  documentation/ingestion_server/guides/deploy.md
Due: none

Fix the content-report-form.spec.ts and update the snapshots
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
Due: i18n, types, eslint, test:unit

Fix prettier errors
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
Due: i18n, types, eslint, test:unit

Small adjustments
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
Due: i18n, types, eslint, test:unit
