Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Update IP with clarified data-warehouse approach
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Shorten PDM hash to first 8 characters
  api/justfile
Due: none

Publish changelog for api-2024.06.24.18.01.42
  documentation/changelogs/api/2024.06.24.18.01.42.md
Due: none

Publish changelog for frontend-2024.06.24.18.01.44
  documentation/changelogs/frontend/2024.06.24.18.01.44.md
Due: none

Do not use unstable pook reference for API
  api/pdm.lock
  api/pyproject.toml
Due: none

Fix number of times bad response is mocked (one was missing)
  api/test/unit/utils/test_image_proxy.py
Due: none

Update 2024.06.24.18.01.44.md
  documentation/changelogs/frontend/2024.06.24.18.01.44.md
Due: none

Add tags page
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/generated-tags.vue
  frontend/src/pages/tags.vue
Due: i18n, types, eslint, test:unit

Use license url for dc:rights
  frontend/src/utils/attribution-html.ts
Due: i18n, types, eslint, test:unit

Revert redundant snapshot changes
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-pressed-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-with-text-label-pressed-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-hovered-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-pressed-at-rest-md-linux.png
  frontend/test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-button-without-text-label-pressed-hovered-md-linux.png
Due: i18n, types, test:unit

Ensure elements embedded in XML text are escaped
  frontend/src/utils/attribution-html.ts
Due: i18n, types, eslint, test:unit

Update snapshots
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-with-additional-search-views-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-with-additional-search-views-xs-linux.png
Due: i18n, types, test:unit

Update the domain check string
  setup_plausible.sh
Due: none

Exclude rules for version pinning
  .hadolint.yaml
Due: none

Normalise `-yqq --no-install-recommends` and `autoremove` in `apt-get`
  api/Dockerfile
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Due: none

Avoid relative paths when `WORKDIR` not set
  api/Dockerfile
  frontend/Dockerfile.playwright
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Due: i18n, types, test:unit

Use `COPY` over `ADD`
  api/Dockerfile
Due: none

Cleanup after `dnf` commands
  docker/dev_env/Dockerfile
Due: none

Pin image versions
  docker/dev_env/Dockerfile
  utilities/load_testing/Dockerfile
Due: none

Combine successive `RUN` statements
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
Due: none

Ignore false positives for additional build contexts
  api/Dockerfile
  frontend/Dockerfile
Due: i18n, types, test:unit

Set `SHELL` before `RUN` containing pipes
  api/Dockerfile
Due: none

Add new file to `CODEOWNERS`
  .github/CODEOWNERS
Due: codeowners-validator

Undo fixes to the backfill command
  api/api/management/commands/backfillmoderationdecision.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Due: none

Avoid unnecessary queries
  api/api/models/media.py
Due: none

Add helpful messages when redirecting
  api/api/admin/media_report.py
Due: none

Split batched update DAG into two identical DAGs
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
Due: none

Update popularity refresh to use automated batched update DAG instead
  catalog/dags/popularity/popularity_refresh_dag_factory.py
Due: none

Update DAG doc generation to handle new case
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
Due: none

Test the iNaturalist bucket exists locally
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/tests/dags/common/loader/test_s3.py
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
Due: none

Update POT file
  openverse.pot
Due: none

Only modify tags with escaped unicode sequences
  catalog/dags/maintenance/decode_and_deduplicate_image_tags.py
  catalog/dags/maintenance/decode_and_deduplicate_tags/decode_and_deduplicate_tags.py
  catalog/dags/maintenance/decode_and_deduplicate_tags/ov_decode_broken_unistr__plpython3u.py.tpl
  documentation/catalog/reference/DAGs.md
Due: none
