Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter, codeowners-validator

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  codeowners-validator: any of: CODEOWNERS$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fix VAudioTrack and VByLine story setup
  frontend/src/components/VAudioTrack/meta/VAudioTrack.stories.js
  frontend/src/components/VMediaInfo/VByLine/meta/VByLine.stories.js
Due: i18n, types, eslint, test:unit

Fix VContentSettingsModal story
  frontend/src/components/VHeader/meta/VContentSettingsModal.stories.js
Due: i18n, types, eslint, test:unit

Initial documentation of API fields
  api/api/models/audio.py
  api/api/models/media.py
  documentation/meta/media_properties/api.md
Due: none

Add automatic incorporation of related model docstrings
  api/api/management/commands/documentmedia.py
Due: none

Document related models
  api/api/models/audio.py
  api/api/models/image.py
  documentation/meta/media_properties/api.md
Due: none

Add a mini table of contents to the document
  api/api/docs/media_properties/preamble.md
  api/api/management/commands/documentmedia.py
  documentation/meta/media_properties/api.md
Due: none

Add extra undocumented field
  api/api/models/media.py
  documentation/meta/media_properties/api.md
Due: none

Add migration for updating all help text
  api/api/migrations/0060_fill_out_help_text.py
  api/latest_migrations/api
Due: none

Editorial suggestions
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
Due: none

Address feedback, make docstrings less imperative
  api/api/migrations/0060_fill_out_help_text.py
  api/api/models/audio.py
  api/api/models/image.py
  api/api/models/media.py
  documentation/meta/media_properties/api.md
Due: none

Specify the model referenced
  api/api/management/commands/documentmedia.py
  documentation/meta/media_properties/api.md
Due: none

Revert "Include no quotes in files of cleaned data"
  ingestion_server/ingestion_server/cleanup.py
Due: none

Add new tests using storybook and semantic checks
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/test/storybook/functional/v-checkbox.spec.ts
Due: i18n, types, eslint, test:unit

Upgrade eslint-plugin-playwright to get new, useful checks
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update eslint packages and address breaking changes
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/e2e/search-types.spec.ts
  frontend/test/storybook/visual-regression/v-select-field.spec.ts
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/index.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix JS checkbox story args
  frontend/src/components/VCheckbox/meta/VCheckbox.stories.js
  frontend/test/storybook/functional/v-checkbox.spec.ts
Due: i18n, types, eslint, test:unit

Wait for checkboxes to load before interaction
  frontend/test/storybook/functional/v-checkbox.spec.ts
Due: i18n, types, eslint, test:unit

Finish updating all eslint dependnecies
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix docstrings, more performant chain
  catalog/dags/maintenance/update_science_museum_urls.py
Due: none

Update mocks in tests
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
Due: none

Update dag docs
  documentation/catalog/reference/DAGs.md
Due: none

Decrease batch size, limit number concurrent
  catalog/dags/maintenance/update_science_museum_urls.py
Due: none

Ignore `django-structlog` middleware logs in Sentry
  api/conf/settings/sentry.py
Due: none

Explain the reason for ignoring `django-structlog` logs
  api/conf/settings/sentry.py
Due: none

moved file and updated conf.py
  documentation/conf.py
  documentation/general/contribution/becoming_a_committer.md
  documentation/general/contribution/codespell.md
  documentation/general/contribution/communication_aliases.md
  documentation/general/contribution/current_maintainers.md
  documentation/general/contribution/dev_flow.md
  documentation/general/contribution/github_contribution_practices.md
  documentation/general/contribution/good_first_and_help_wanted_issues.md
  documentation/general/contribution/index.md
  documentation/general/contribution/maintainer_tasks.md
Due: none

Fix redirects and references
  documentation/conf.py
  documentation/general/contributing.md
  documentation/general/contribution/becoming_a_committer.md
  documentation/general/contribution/index.md
  documentation/meta/index.md
Due: none

Rough draft of contributor help script
  get-started.sh
Due: none

replace sample secret key for plausible with a more obvioulsy safe value
  docker/plausible/env.docker
  setup_plausible.sh
Due: none

Update pnpm
  package.json
  pnpm-lock.yaml
Due: none

Fix links to frontend unhealthy host alarms
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
Due: none

Move pull_request_template.md up
  .github/pull_request_template.md
Due: none

Automatically set up airflow variable defaults with descriptions
  catalog/entrypoint.sh
  catalog/variables.tsv
Due: none
