Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

fix(deps): update dependency @nuxtjs/sitemap to v7
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

chore(deps): update pnpm to v9.14.3
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

fix(deps): update dependency @vueuse/core to v12
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update Vue to fix dependency mismatch
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Introduce a memory leak to check k6 tests
  frontend/src/stores/ui.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
Due: i18n, types, eslint, test:unit

Downgrade pinia
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update the scenarios for k6 tests
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Revert "Re-add the memory leak for testing"
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Update the scenarios for k6 tests to run for 5m
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Update the scenarios for k6 tests to run for 3m
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Increase the rate x1.5
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Revert "Revert "Re-add the memory leak for testing""
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Increase the rate x2
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Decrease the rate back to 30
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Decrease the rate to 10
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Revert "Revert "Revert "Re-add the memory leak for testing"""
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Lower the duration to 4 minutes
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Lower the VU counts
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Lower the rate to 3
  packages/js/k6/src/frontend/scenarios.ts
Due: types, eslint, test:unit

Extract the defaultUiState to an object
  frontend/src/stores/ui.ts
Due: i18n, types, eslint, test:unit

Run longer in staging
  .github/workflows/k6.yml
Due: none

Track `focus` event instead of `click` to support Safari
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Revert "Downgrade pinia (#5214)"
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Install `debugpy` package
  api/pdm.lock
  api/pyproject.toml
Due: none

Add comments for debugging to Docker Compose
  api/compose.yml
Due: none

Add docs for debugging
  documentation/_static/vs_code_debug_panel.png
  documentation/_static/vs_code_workspace.png
  documentation/api/guides/debugging.md
  documentation/api/guides/index.md
  documentation/general/index.md
  documentation/general/workspace.md
Due: fix-console-code-block, vale

chore(deps): update pnpm to v9.14.4
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

chore(deps): update dependency nuxt to v3.14.1592
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

chore(deps): update dependency tldextract to v5.1.3
  catalog/requirements-prod.txt
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
