Repository WordPress/openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update dependency @pinia/nuxt to v0.6.1
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency django-asgi-lifespan to >=0.4, <0.5
  api/pdm.lock
  api/pyproject.toml
Due: none

Fix VR tests
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/styles/tailwind.css
  frontend/test/playwright/utils/components.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-xs-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-md-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-md-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-sm-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-sm-light-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-xs-dark-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-xs-light-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/errors.spec.ts-snapshots/search-result-timeout-ltr-xl-light-linux.png
Due: i18n, types, eslint, test:unit

Add tapes to prevent provider image requests
  frontend/test/tapes/thumb/images/3c2a4bd5-0fde-4c08-ba06-ed931f93a872_keep-alive.json5
  frontend/test/tapes/thumb/images/3d5b0091-6d7a-4592-abcd-b8924ecc7c67_keep-alive.json5
  frontend/test/tapes/thumb/images/7548937b-232e-4896-a022-776158b881b0_keep-alive.json5
  frontend/test/tapes/thumb/images/94572ee0-244e-4046-a2c9-afdcb3594b8d_keep-alive.json5
  frontend/test/tapes/thumb/images/a8bf5aa0-2ada-4e5b-bde0-7a6c19bb6232_keep-alive.json5
  frontend/test/tapes/thumb/images/d1fe3639-4c08-4162-9abe-304b15bfb708_keep-alive.json5
Due: i18n, types, eslint, test:unit

Update pinia and dedupe the lock file
  frontend/package.json
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Group vitest and pinia in renovate config
  .github/renovate.json5
Due: none

Update dependency pinia to v2.2.6
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Use text-secondary
  frontend/src/components/VContentPage.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VMediaInfo/VMediaReuse.vue
Due: i18n, types, eslint, test:unit

Update dependency smart-open to v7.0.5
  catalog/requirements-prod.txt
Due: none

Update pnpm to v9.12.3
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Update dependency vite to v5.4.10
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Publish changelog for frontend-2024.11.04.06.42.01
  documentation/changelogs/frontend/2024.11.04.06.42.01.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.11.04.06.41.58
  documentation/changelogs/api/2024.11.04.06.41.58.md
Due: fix-console-code-block, vale

Update dependency chokidar to v4
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency jsdom to v25
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Increase batch size for image DR alter step
  catalog/dags/data_refresh/data_refresh_types.py
Due: none

Update dependency deepdiff to v8
  api/pdm.lock
  api/pyproject.toml
Due: none

Change text to secondary on content-heavy pages
  frontend/src/components/VContentPage.vue
Due: i18n, types, eslint, test:unit

Move Staci from current maintainers to `README.md`
  README.md
  documentation/general/contribution/current_maintainers.md
Due: fix-console-code-block, vale

Pin watchfiles dependency in documentation for rust compatibility
  api/pyproject.toml
  documentation/pdm.lock
  documentation/pyproject.toml
Due: none

Update dependency future to v1
  api/pyproject.toml
Due: none

Update the lock file
  api/pdm.lock
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
